<div class="ui left floated main menu">
  <a routerLink="/attendances" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui vertical animated button" tabindex="0" routerLink="/attendances/{{ attendance?._id }}/edit">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>
    <div class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header" style="padding-top: 20px">Attendance Information</h4>
      <div class="four fields">
        <div class="field ">
          <label>Name</label>
        </div>
        <div class="field ">
          <p>
            {{ attendance ? attendance.employee.first_name + ' ' + attendance.employee.last_name : '' }}
          </p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Date</label>
        </div>
        <div class="field ">
          <p>{{attendance.for_date | amLocal | amDateFormat: 'YYYY-MM-DD' }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.status }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.salary_type == 'monthly' || attendance.salary_type == 'bi-monthly' || attendance.salary_type == 'weekly'">
        <div class="field ">
          <label>Daily Rate</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.daily_rate }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.with_ot">
        <div class="field ">
          <label>Overtime Rate</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.ot_rate }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.reason_for_update">
        <div class="field ">
          <label>Reason for update</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.reason_for_update }}</p>
        </div>
      </div>
    </div>
  </div> 

  <div class="sixteen wide column ui segment" *ngIf="!attendance.is_absent && attendance.with_schedule"> 
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Time-in</h4>
      <div class="four fields">
        <div class="field ">
          <label>Time-in</label>
        </div>
        <div class="field">
          <p *ngIf="attendance.time_in">{{ attendance.time_in | date:'medium' }}</p>
          <p *ngIf="!attendance.time_in">Has not timed in.</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.time_in_status">
        <div class="field ">
          <label>Time-in Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.time_in_status }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Time-out</label>
        </div>
        <div class="field" *ngIf="!attendance.time_out">
          <p>Has not timed out.</p>
        </div>
        <div class="field" *ngIf="attendance.time_out">
          <p>{{attendance.time_out | date:'medium' }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.time_out_status">
        <div class="field ">
          <label>Time-out Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.time_out_status }}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="sixteen wide column ui segment" *ngIf="!attendance.is_absent && attendance.with_break" > 
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Second Time-in</h4>
      <div class="four fields" *ngIf="attendance.time_in2">
        <div class="field ">
          <label>Time-in</label>
        </div>
        <div class="field">
          <p>{{attendance.time_in2 | date:'medium' }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.time_in2_status">
        <div class="field ">
          <label>Time-in Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.time_in2_status }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Time-out</label>
        </div>
        <div class="field" *ngIf="!attendance.time_out2">
          <p>Has not timed out.</p>
        </div>
        <div class="field" *ngIf="attendance.time_out2">
          <p>{{attendance.time_out2 | date:'medium' }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.time_out2_status">
        <div class="field ">
          <label>Time-out Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.time_out2_status }}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="sixteen wide column ui segment" *ngIf="!attendance.is_absent && attendance.with_ot" > 
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Overtime</h4>
      <div class="four fields">
        <div class="field ">
          <label>Time-in</label>
        </div>
        <div class="field" *ngIf="attendance.ot_in">
          <p>{{attendance.ot_in | date:'medium' }}</p>
        </div>
        <div class="field" *ngIf="!attendance.ot_in">
          <p>Has not timed in.</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.ot_in_status">
        <div class="field ">
          <label>Time-in Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.ot_in_status }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Time-out</label>
        </div>
        <div class="field" *ngIf="!attendance.ot_out">
          <p>Has not timed out.</p>
        </div>
        <div class="field" *ngIf="attendance.ot_out">
          <p>{{attendance.ot_out | date:'medium' }}</p>
        </div>
      </div>
      <div class="four fields" *ngIf="attendance.ot_out_status">
        <div class="field ">
          <label>Time-out Status</label>
        </div>
        <div class="field ">
          <p>{{ attendance?.ot_out_status }}</p>
        </div>
      </div>

    </div>
  </div>

</div> <!-- END second column ui grid form  -->