
<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader" class="ui compact celled table attendance-table-wrap">
	<thead class="full-width">
        <tr>
			<th>User</th>
            <th>Activity</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let log of logs">
		<td>
			<h4 class="ui image header">
				<img  class="ui mini rounded image"
					src="{{ log.employee?.photo | images :  {id: log.employee?._id, type: 'user_avatar', gender: log.employee?.gender} }}"
					>
				<div class="content">
					{{ log?.employee?.first_name + ' ' + log?.employee?.last_name }}
					<div class="sub header">{{ log.employee?.email }}</div>
				</div>
			</h4>
		</td>
		<td>{{ log.action }}</td>
		<td>{{ log.type? log.type : '' }}</td>
		<td>{{ log.createdAt | amLocal | amDateFormat: 'YYYY-MM-DD hh:mm a' }}</td>
    </tr>
	</tbody>
    
</table>


<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	
