<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui segment">
      <h1>{{ payroll.name}}</h1>
      <div class="description" style="margin-top: 10px">
        <p>
          <span class="bold">Pay Period</span><br><span> From: {{ pay_period_from | amLocal | amDateFormat: 'YYYY-MM-DD' }} to {{ pay_period_to | amLocal | amDateFormat: 'YYYY-MM-DD' }}</span>
        </p>

        <p *ngIf="payroll.total_netpay" style="margin-top: 10px;">
          <span class="bold">Total Net Pay</span><br><span> {{ payroll.total_netpay | currency : " " }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui grid" *ngIf="employeeIsSelected" >
  <div class="sixteen wide column">
    <!-- CLOSE -->
    <div class="ui left floated main menu">
      <a class="bug popup icon item" (click)="deSelectEmployee()" >
        <i class="angle left icon"></i>
        &nbsp;Close
      </a>
    </div>
  </div>
</div>

<div class="ui grid">
  <div *ngIf="!employeeIsSelected" class="sixteen wide column">
    
    <div class="ui segment">
      <!-- Place Holder -->

      <div *ngIf="employeesLoader" class="ui six column stackable grid">
        <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11]" class="column">
          <div class="ui card">
            <div class="image">
              <div class="ui placeholder">
                <div class="square image"></div>
              </div>
            </div>
            <div class="content">
              <div class="ui placeholder">
                <div class="header">
                  <div class="very short line"></div>
                  <div class="medium line"></div>
                </div>
                <div class="paragraph">
                  <div class="short line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear clearfix"></div>
      </div>

      <div class="ui link six cards">
        <div *ngFor='let employee of employees' class="card" (click)="getPayrollDetails( employee )">
          <div *ngIf="employee.added" class="ui teal right corner label">
            <i class="check icon"></i>
          </div>
          <div class="image">
            <img src="{{ employee.photo | images : {id: employee._id, type: 'user_avatar', gender: employee.gender} }}">
          </div>
          <div class="content">
            <div class="header" style="font-size: 15px;">
              {{ 
                employee?.first_name + ' ' + 
                (employee?.middle_name? employee?.middle_name : '' ) + 
                ' ' + employee?.last_name 
              }}
            </div>
            <div class="meta" style="font-size: 13px">
              <a>{{ employee?.job_title }}</a>
            </div>
          </div>
          <div class="extra content">
            <!-- <span class="right floated">
              Joined in 2013
            </span>
            <span>
              <i class="user icon"></i>
              75 Friends
            </span> -->
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <div *ngIf="employeeIsSelected" class="six wide column">
    <div class="ui segment computations">

      <div *ngIf="isAdded" class="ui teal right corner label">
        <i class="check icon"></i>
        
      </div>
      
      <p style="text-align: center">
        <img class="avatar" src="{{ selectedEmployee?.photo | images : {id: selectedEmployee?._id, type: 'user_avatar', gender: selectedEmployee?.gender} }}">
      </p>
      <div *ngIf="!employeeIsSelected">
        <div class="clear clearfix"></div>
        <span class="text-bold"> Employee ID: </span> <br/>
        <!-- Position: <br/> -->
        <span class="text-bold"> Department: </span> <br/>
        <span class="text-bold">  TIN: </span> <br>
        <span class="text-bold"> SSS: </span> <br/>
        <span class="text-bold"> Pag-IBIG Fund: </span> <br/>
        <span class="text-bold"> PhilHealth: </span> <br />
        <!-- <div class="ui sub header"></div> -->
      </div>
      
      <div *ngIf="employeeIsSelected"> 
        <h3 class="name">{{ selectedEmployee?.first_name }} {{ selectedEmployee?.middle_name }} {{ selectedEmployee?.last_name }} {{ selectedEmployee?.suffix }}</h3>
        <p class="position">{{ selectedEmployee?.job_title }}</p>
        <span class="text-bold"> Employee ID: </span>  <span class="text-right"> {{ selectedEmployee?.emp_ID }} </span><br/>
        <!-- Position: <br/> -->
        <span class="text-bold"> Department: </span> <span class="text-right"> {{ department?.name }} </span><br/>
        <span class="text-bold">  TIN: </span> <span class="text-right"> {{ selectedEmployee?.tin }} </span><br>
        <span class="text-bold"> SSS: </span> <span class="text-right"> {{ selectedEmployee?.sss }} </span><br />
        <span class="text-bold"> Pag-IBIG Fund: </span> <span class="text-right"> {{ selectedEmployee?.pagibig }} </span><br />
        <span class="text-bold"> PhilHealth: </span> <span class="text-right"> {{ selectedEmployee?.philhealth }} </span><br />
        <!-- <div class="ui sub header"></div> -->
      </div>
    </div>
  </div>
  <div *ngIf="employeeIsSelected" class="ten wide column">
    
    
    <div class="ui segment options-wrap " *ngIf="employeeIsSelected">
     
      <div class="ui grid">
        <div class="eight wide column">
            <h5>WORK SUMMARY</h5>
            <p>
              Salary Type: 
                <span class="text-right">{{ PayrollDetail.salaryType }}</span><br />
              Working Hours: 
              <span class="text-right">{{ PayrollDetail.totalWorkToRenderMin | duration: 'HHh and mmm' : 'min' }}</span><br />
              Work Rendered: 
              <span class="text-right">{{ PayrollDetail.totalWorkRenderedMin | duration: 'HHh and mmm' : 'min' }}</span><br />
            </p>
        </div>

        <div class="four wide column">
            <h5>GENERAL OPTIONS</h5>
            <div class="ui checkbox">
              <input type="checkbox" value="false" name="withTaxes" [(ngModel)]="PayrollDetail.withTaxes" (click)="changeGeneralOptions($event)">
              <label>With Tax</label>
            </div>
            <div class="ui checkbox">
              <input type="checkbox" value="false" name="withBenefits" [(ngModel)]="PayrollDetail.withBenefits" (click)="changeGeneralOptions($event)">
              <label>With Contributions</label>
            </div>
            <div class="ui checkbox">
              <input type="checkbox" value="false" name="withNightDiff" [(ngModel)]="PayrollDetail.withNightDiff" (click)="changeGeneralOptions($event)">
              <label>With Night Differential</label>
            </div>
            <div class="ui checkbox">
              <input type="checkbox" value="false" name="withOvertime" [(ngModel)]="PayrollDetail.withOvertime" (click)="changeGeneralOptions($event)">
              <label>With Overtime</label>
            </div>
        </div>
        <div class="four wide column">
          <h5>TARDINESS OPTIONS</h5>
          <div class="ui checkbox">
            <input type="checkbox" name="deductAbsences" value="true" [(ngModel)]="PayrollDetail.deductAbsences" (click)="changeGeneralOptions($event)">
            <label>Deduct Absences </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="deductLates" value="true" [(ngModel)]="PayrollDetail.deductLates" (click)="changeGeneralOptions($event)">
            <label>Deduct Lates </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="deductUndertime" value="true" [(ngModel)]="PayrollDetail.deductUndertime" (click)="changeGeneralOptions($event)">
            <label>Deduct Undertime </label>
          </div>
        </div>
      </div>
    </div>

    <div class="ui horizontal segments">
      <!-- BEGIN INCOME -->
      <div class="ui segment computations">
          <div class="clearfix headline-wrap" >
          <h5 class="ui left floated">INCOME</h5>
          <div 
            class="ui small basic icon buttons actions-btn"
            *ngIf="!earningsLoader && employeeIsSelected && !addingEarnings && !editingEarnings && isAllowed"  
            (click)="updateAddtl( 'income' )">
            <button class="ui button"><i class="add icon"></i></button></div>
        </div>
  
       
        <div *ngIf="earningsLoader && employeeIsSelected" class="ui active centered inline loader"> </div>
        <div *ngIf="!earningsLoader && employeeIsSelected">
          <p style="margin-bottom: 0;">
            Basic Pay: 
            <span class="text-right">
              {{ (PayrollDetail.totalBasicPay ? PayrollDetail.totalBasicPay : 0.00) | currency : " " }}
            </span>
          </p>
          <p style="margin-bottom: 0;" *ngIf="PayrollDetail.withNightDiff">
            Night Differential Pay: 
            <span class="text-right">
              {{ (PayrollDetail.totalNightDiff ? PayrollDetail.totalNightDiff : 0.00) | currency : " " }}
            </span>
          </p>
          <p style="margin-bottom: 0;" *ngIf="PayrollDetail.withOvertime">
            Overtime Pay: 
            <span class="text-right">
              {{ (PayrollDetail.totalOvertime ? PayrollDetail.totalOvertime : 0.00) | currency : " " }}
            </span>
          </p>
          <p>
            COLA Pay: 
            <span class="text-right">
              {{ (PayrollDetail.totalCola ? PayrollDetail.totalCola : 0.00) | currency : " " }}
            </span>
          </p>

          <div *ngIf="PayrollDetail.addtlIncomes.length" class="ui stacked segments">
            <div *ngFor="let income of PayrollDetail.addtlIncomes" class="ui segment addtl-wrap">
                <span>{{ income.desc }}:</span>
                <span class="text-right">
                  {{ income.amount | currency : " " }} <i (click)="removeAddtl('income', income.desc)" class="trash alternate outline icon"></i>
                </span>
            </div>
          </div>

          <div class="ui clearing">
            <h5 class="ui right floated header">
                Total {{ PayrollDetail.totalIncomes | currency : " "}}
            </h5>
          </div>
        
            
          <form class="ui form" style="margin-top: 50px">
            <div *ngIf="updatingAddtlIncome" class="field">
              <div class="two fields">
                <div class="field">
                  <input type="text" name="desc" placeholder="Description" [(ngModel)]="addtlIncome.desc">
                </div>
                <div class="field">
                  <input type="number" name="amount" placeholder="Amount" [(ngModel)]="addtlIncome.amount">
                </div>
              </div>
              <div class="fluid ui buttons">
                <button type="button" class="ui grey button"  (click)="cancelUpdateAddtl('income')">Cancel</button>
                <div class="or"></div>
                <button class="ui green button" (click)="storeAddtlIncome()">Save</button>
              </div>
            </div>
          </form>
  
    
        </div>

        <div class="clear clearfix"></div>
  
        <div *ngIf="errorIncomeMsg" style="margin: 10px 0;">
          <div class="ui negative message" *ngIf="errorIncomeMsg">
            <i class="close icon" (click)="errorIncomeMsg=''"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorIncomeMsg"></p>
          </div>
        </div>

      </div> <!-- END INCOME -->
      
      <!-- BEGIN DEDUCTIONS -->
      <div class="ui segment computations">
        <div class="clearfix headline-wrap" >
          <h5 class="ui left floated">DEDUCTIONS</h5>
          <div 
            class="ui small basic icon buttons actions-btn"
            *ngIf="!deductionsLoader && employeeIsSelected && !addingDeductions && !editingDeductions && isAllowed" 
            (click)="updateAddtl( 'deduction' )">
            <button class="ui button"><i class="add icon"></i></button></div>
        </div>
  
        <div *ngIf="deductionsLoader && employeeIsSelected" class="ui active centered inline loader"> </div>
        <div *ngIf="!deductionsLoader && employeeIsSelected">
          <p>
            <ng-template [ngIf]="PayrollDetail.withTaxes">
            Taxation: <span class="text-right"> {{ PayrollDetail.totalWithHoldingTax | currency : " " }} </span><br />
            </ng-template>
            <ng-template [ngIf]="PayrollDetail.deductAbsences">
            Absences: <span class="text-right"> {{ (PayrollDetail?.totalUnwork) | currency : " "}}</span><br />
            </ng-template>
            <ng-template [ngIf]="PayrollDetail.deductUndertime">
            Undertime: <span class="text-right"> <!--{{ PayrollDetail.totalUndertimeMin | duration: 'HHh and mmm' : 'min' }} = --> {{ (PayrollDetail?.totalUndertime) | currency : " " }} </span><br />
            </ng-template>
            <ng-template [ngIf]="PayrollDetail.deductLates">
            Lates: <span class="text-right"> <!--<{{ PayrollDetail.totalLatesMin | duration: 'HHh and mmm' : 'min' }} = --> {{ (PayrollDetail?.totalLates) | currency : " "}} </span><br /> 
            </ng-template>
          </p>
          <div *ngIf="PayrollDetail.addtlDeductions.length" class="ui stacked segments">
            <div *ngFor="let deduction of PayrollDetail.addtlDeductions" class="ui segment addtl-wrap">
                <span>{{ deduction.desc }}:</span>
                <span class="text-right">
                  {{ deduction.amount | currency : " " }} <i (click)="removeAddtl('deduction', deduction.desc)"  class="trash alternate outline icon"></i>
                </span>
            </div>
          </div>

          <div class="ui clearing">
            <h5 class="ui right floated header">
                Total {{ PayrollDetail.totalDeductions | currency : " "}}
            </h5>
          </div>
  
          <form class="ui form" style="margin-top: 50px">
            <div *ngIf="updatingAddtlDeduction" class="field">
              <div class="two fields">
                <div class="field">
                  <input type="text" name="desc" placeholder="Description" [(ngModel)]="addtlDeduction.desc">
                </div>
                <div class="field">
                  <input type="number" name="amount" placeholder="Amount" [(ngModel)]="addtlDeduction.amount">
                </div>
              </div>
              <div class="fluid ui buttons">
                <button type="button" class="ui grey button"  (click)="cancelUpdateAddtl('deduction')">Cancel</button>
                <div class="or"></div>
                <button class="ui green button" (click)="storeAddtlDeduction()">Save</button>
              </div>
            </div>
          </form>
  
          
        </div>
        
        <div class="clear clearfix"></div>
        
        <div *ngIf="errorDeductionMsg" style="margin: 10px 0;">
          <div class="ui negative message" *ngIf="errorDeductionMsg">
            <i class="close icon" (click)="errorDeductionMsg=''"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorDeductionMsg"></p>
          </div>
        </div>
      </div> <!-- END DEDUCTIONS -->
    </div> <!--/horizontal.segments -->


    <div *ngIf="PayrollDetail.withBenefits" class="ui segment computations">

      <div class="clearfix headline-wrap" >
        <h5 class="ui left floated">CONTRIBUTIONS</h5>
        <div 
          class="ui small basic icon buttons actions-btn"
          *ngIf="!contributionsLoader && employeeIsSelected && !updatingContribution && !editingContributions && isAllowed" 
          (click)="updateAddtl( 'contributions' )">
          <button class="ui button"><i class="add icon"></i></button></div>
      </div>

      <div *ngIf="contributionsLoader && employeeIsSelected" class="ui active centered inline loader"> </div>
      <div *ngIf="!contributionsLoader && employeeIsSelected">
        <div *ngIf="PayrollDetail.contributions.length" class="ui stacked segments">
          <div *ngFor="let contribution of PayrollDetail.contributions" class="ui segment addtl-wrap">
              <span>
              {{ contribution.name == 'sss' ? 'SSS' :
                  contribution.name == 'philhealth' ? 'PhilHealth' :
                  contribution.name == 'pagibig' ? 'PagIBIG' :
                  contribution.name == 'gsis' ? 'GSIS' :
                  contribution.name == 'others' ? contribution.other_specify : ''
              }}:
              </span>
              <span class="text-right">
                  EE: {{ contribution.ee_amt | currency : " " }} - ER: {{ contribution.er_amt | currency : " " }}
                  <i (click)="removeAddtl('contribution', contribution.name, contribution.other_specify)" class="trash alternate outline icon"></i>
              </span>
          </div>
        </div>

        <div class="ui clearing">
          <h5 class="ui right floated header">
              Total {{ PayrollDetail.totalContributions | currency : "₱ "}}
          </h5>
        </div>

        <form class="ui form" style="margin-top: 50px">
          <div *ngIf="updatingContribution" class="field">
            <div class="fields">
              <div class="four wide field">
                <select class="ui dropdown" name="name" [(ngModel)]="contribution.name" (change)="onContributionChange($event)">
                  <option value="sss">SSS</option>
                  <option value="philhealth">PhilHealth</option>
                  <option value="pagibig">PagIBIG</option>
                  <option value="gsis">GSIS</option>
                  <option value="others">Others</option>
                </select>
                <label>Name</label>
              </div>
              <div class="two wide field">
                <select class="ui dropdown" name="term" [(ngModel)]="contribution.term" (change)="onTermChange($event)">
                  <option value="1">Full</option>
                  <option value="2">Half</option>
                  <option value="4">Quarter</option>
                </select>
                <label>Payment Terms</label>
              </div>
              <div class="four wide field">
                <input type="number" name="ee_amt" placeholder="EE" [(ngModel)]="contribution.ee_amt">
                <label>EE Amount</label>
              </div>
              <div class="four wide field">
                <input type="number" name="er_amt" placeholder="ER" [(ngModel)]="contribution.er_amt">
                <label>ER Amount</label>
              </div>
              <div class="two wide field">
                <input type="number" name="ec_amt" placeholder="EC" [(ngModel)]="contribution.ec_amt">
                <label>+ EC Contribution</label>
              </div>
            </div>
            <div class="field" *ngIf="contribution.name == 'others'">
              <input type="text" name="other_specify" placeholder="Contribution Name" [(ngModel)]="contribution.other_specify">
              <label>Specify</label>
            </div>
            <div class="fluid ui buttons">
              <button type="button" class="ui grey button"  (click)="cancelUpdateAddtl( 'contributions' )">Cancel</button>
              <div class="or"></div>
              <button class="ui green button" (click)="storeContribution()">Save</button>
            </div>
          </div>
        </form>
     
      </div>
      
      <div class="clear clearfix"></div>
      <div *ngIf="errorContributionMsg && updatingContribution" style="margin: 10px 0;">
        <div class="ui negative message" *ngIf="errorContributionMsg">
          <i class="close icon" (click)="errorContributionMsg=''"></i>
          <div class="header">Error</div>
          <p [innerHTML]="errorContributionMsg"></p>
        </div>
      </div>

      
    </div> <!-- END CONTRIBUTIONS -->


    <div class="ui horizontal segments">
      <!-- BEGIN NET SALARY -->
      <div class="ui segment computations">
        <h5>Net Salary</h5>
        <div *ngIf="deductionsLoader && earningsLoader && employeeIsSelected" class="ui active centered inline loader"> </div>
        <p *ngIf="!deductionsLoader && !earningsLoader && employeeIsSelected">
          Gross Income: <span class="text-right"> {{ PayrollDetail.totalIncomes | currency : " "}} </span><br />
          Total Deductions: <span class="text-right"> {{ PayrollDetail.totalDeductions | currency : " "}} </span> 
        </p>
      </div> <!-- END NET SALARY -->

       <!-- BEGIN NET PAY -->
      <div class="ui segment computations">
        <h5>Net Pay</h5>
        <div *ngIf="!employeeIsSelected">
          <p class="total-netpay">
            ₱0.00
          </p>   
        </div>
        <div *ngIf="deductionsLoader && earningsLoader && employeeIsSelected" class="ui active centered inline loader"> </div>
        <p *ngIf="!deductionsLoader && !earningsLoader && employeeIsSelected" class="total-netpay">
          {{ PayrollDetail.totalNetPay | currency : "₱"}}
        </p>
      </div> <!-- END NET PAY -->

    </div>

    
    <button *ngIf="!isAdded && employeeIsSelected && !addingToPayrollLoader && isAllowed" class="ui primary button right floated" (click)="addPayrollDetails()">
        <i class="icon add"></i>
        Add to Payroll
    </button>

    <button *ngIf="isAdded && employeeIsSelected && isAllowed" class="ui primary button right floated" (click)="updatePayrollDetails()">
      Update
    </button>

    <button *ngIf="isAdded && employeeIsSelected && isAllowed && !deleteLoader" class="ui button left floated negative" style="margin-top: 8px;" (click)="removeFromPayroll()">Remove from Payroll</button>

    <div class="clear clearfix"></div>
    
    <div *ngIf="!isCloseMsg" style="margin: 10px 0">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <!-- <div *ngIf="isTransactionError">
      <div class="ui negative message" *ngIf="errorTransactionMsg">
        <div class="header">Error</div>
        <p [innerHTML]="errorTransactionMsg"></p>
        <button class="ui primary button right floated" (click)="getPayrollDetails( selectedEmployee )">
        Reload
      </button>
      <div class="clear clearfix"></div>
      </div>
    </div> -->


  </div>
</div>



  