.ui.card>.content, .ui.cards>.card>.content {
    padding: 10px 5px
}

.computations {
    min-height: 150px !important;
}

.computations img.avatar {
    height: 243px;
    width: 243px;
    margin: 0 auto !important;
    border-radius: 50%
}

.computations p.position {
    text-align: center;
    font-size: 18px
}

.computations h3.name {
    font-size: 28px;
    text-align: center !important
}


.computations p.total-netpay {
    font-size: 35px;
    font-weight: bold;
}

.ui.cards>.card>.image>img {
    width: 100%;
    height: auto;
}


.ui.primary.button {
    min-height: 35px;
    min-width: 153px;
    margin-top: 8px;
}

.text-right {
    float: right;
}

.text-bold {
    font-weight: bold;
}

.headline-wrap { margin-bottom: 10px;}
.headline-wrap .actions-btn{
    position: absolute;
    right: 10px;
    top: 5px
}

.options-wrap .checkbox {
    display: block;
    margin-bottom: 5px;
}

.addtl-wrap .icon.trash {
    color: red; margin-left: 10px;
}

.addtl-wrap .icon.trash:hover {
    cursor: pointer;
}