<div class="main-wrap">
        <div class="ui middle aligned center aligned grid" >
            <div class="column form-wrap shadow">
                <div class="ui grid">
                    <div class="seven wide column welcome-wrap">
                        <img class="img-logo" src="/assets/images/qloud_logo.png" alt="QloudHR Logo">
                        <h2 class="welcome-headline">
                            Welcome back!
                        </h2>
                        <p class="welcome-sub">
                            Keep connected with us <br>
                            please login
                        </p>
                    </div>
                    <div class="nine wide column login-wrap">
                        <h2 class="login-headline">
                            Login
                        </h2>
                        <form class="ui large form" (ngSubmit)="onSubmit()">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="icon user circle outline"></i>
                                    <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required minlength="6">
                                </div>
                            </div>
            
                            <div class="ui positive message" *ngIf="successMsg">
                                <p>{{ successMsg }}</p>
                            </div>
            
                            <div class="ui negative message" *ngIf="errorMsg">
                                <p>{{ errorMsg }}</p>
                            </div>
            
                            <button class="ui fluid large primary submit button" [disabled]="loading" type="submit" [class.loading]="loading">LOGIN</button> <br>
                        
                            <a routerLink="/forgot-password" class="forgotPassword">Forgot Password?</a>
                            <div class="clear clearfix">&nbsp;</div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="footer-wrap">
            <div class="ui three column grid">
                <div class="column">
                    <p>
                        &copy; 2019 QloudHR - All Rights Reserved
                    </p>
                </div>
                <div class="column">
                    <p>
                        Privacy Policy
                    </p>
                </div>
                <div class="column">
                    <p>
                        Cookie Policy
                    </p>
                </div>
            </div>
        </div>
</div>
