<!-- <div>
  <div class="ui action left icon input">
    <div class="ui right floated main menu">
      <a [ngClass]="{'active' : params.type === 'debit'}" class="ui type item active" (click)="filter('debit')">Debit</a>
      <a [ngClass]="{'active' : params.type === 'credit'}" class="ui type item" (click)="filter('credit')">Credit</a>
    </div>
  </div>
</div> -->

<div class="ui divider"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !results_count" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No transactions found.</p>
</div>

<table *ngIf="!mainLoader && payment_transactions.length" class="ui compact celled table">
	<thead class="full-width">
        <tr>
            <th>Payment Date</th>
            <th>Invoice ID</th>
            <th>Transaction</th>
            <th>Transaction Type</th>
            <th>Payment Method</th>
            <th>Transaction Amount</th>
            <!-- <th width="50"></th> -->
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let payment_transaction of payment_transactions">
        <td>{{ payment_transaction.payment_date | amLocal | amDateFormat: 'YYYY-MM-DD' }}</td>
        <td>
          <a [routerLink]="['/invoice/'+ payment_transaction.invoice_uid]" [queryParams]="{payment_trans_id: payment_transaction._id}">
            {{ payment_transaction.invoice_uid }}
          </a>
        </td>
        <td>{{ payment_transaction.transaction == 'subscription' ? 'Subscription' : 'Etcetera' }}</td>
        <td>{{ payment_transaction.trans_type == 'credit' ? 'Credit' : 'Debit' }}</td>
        <td>{{ payment_transaction.payment_method == 'bank-transfer' ? 'Bank Transfer' 
              : payment_transaction.payment_method == 'cc' ? 'Credit Card' : 'Cash' }}</td>
        <td>{{ payment_transaction.amount | currency : "₱" }}</td>
        <!-- <td class="center aligned ">
          <div class="ui right floated main menu">
            <a [routerLink]="['/billing-transactions/' + payment_transaction._id + '/show']" class="popup icon item" data-content="Submit Bug Report" href="#">
              <i class="folder open outline icon"></i>
            </a>
          </div>
        </td> -->
    </tr>
    
	</tbody>	
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>