<div class="ui left floated main menu">
  <a routerLink="/user-designations" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Employee Designation Information</h4>
      <div class="two fields">
        <div class="field">
          <label>Employee</label>
          <p>
            {{ user_designation.employee.first_name + ' ' + user_designation.employee.last_name }}
          </p>
        </div>
        <div class="field">
          <label>Designation</label>
          <p>
            {{ user_designation.designation.title }}
          </p>
        </div>
      </div>

      <div class="two fields">        
        <div class="field">
          <label>Status</label>
          <p>
            {{ user_designation.status == 'approved' ? 'Approved' : user_designation.status == 'disapproved' ? 'Disapproved' : 'Pending' }}
          </p>
        </div>
        <div class="field">
          <label>Updated by</label>
          <p>
            {{ user_designation?.by }}
          </p>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Clock-in</label>
          <p>{{ user_designation.designation.time_in ? user_designation.designation.time_in : 'Unspecified' }}</p>
        </div>
        <div class="field">
          <label>Clock-out</label>
          <p>{{ user_designation.designation.time_out ? user_designation.designation.time_out : 'Unspecified' }}</p>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Second Clock-in</label>
          <p>{{ user_designation.designation.time_in2 ? user_designation.designation.time_in2 : 'Unspecified' }}</p>
        </div>
        <div class="field">
          <label>Second Clock-out</label>
          <p>{{ user_designation.designation.time_out2 ? user_designation.designation.time_out2 : 'Unspecified' }}</p>
        </div>
      </div>

    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>

<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>


    <button class="ui button right floated positive" *ngIf="user_designation.status == 'pending'" (click)="open('approved')">APPROVE</button>
    <button class="ui button left floated negative" *ngIf="user_designation.status == 'pending'" (click)="open('disapproved')">DISAPPROVE</button>
  </div>
</div>
  
  
  