<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui vertical animated button" tabindex="0" routerLink="/companies/{{ company?._id }}/edit">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>
    <div *ngIf="!mainLoader && !isError" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">Company Information</h4>
      <div class="ui grid">
        <div class="four wide column">
          <div class="container">
            <img class="ui centered image" src="{{ company.logo | images : {id: company._id, type: 'company_logo'} }}">
          </div>
        <div class="clear clearfix">&nbsp;</div>
        </div>

        <div class="twelve wide column">
           <div class="field">
        <label>Name</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ company?.name }}</p>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Address</label>
        <div class="fields">
          <div class="sixteen wide field">
            <p>{{ company?.address }}</p>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field ">
          <label>Email</label>
          <p>{{ company?.email }}</p>
        </div>
        <div class="field ">
          <label>Contact Numbers</label>
          <p>{{ company?.contact_nos }}</p>
        </div>
      </div>
      <div class="field">
        <label>Short Description</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ company?.short_description }}</p>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Long Description</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ company?.long_description }}</p>
          </div>
        </div>
      </div>
        </div>
        
      </div>
     
    </div>  

    <div *ngIf="isError" style="margin-bottom: 10px">    
      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
  
  
  
  
  