.container {
	position: absolute;
	top: 5%;
	left: 18%;
	width: 100%;
	max-width: 200px;
}

.container img {
	
	width: 200px;
	height: 200px;
}

.ui.vertical.animated.button{
    float: right;
    background-color: transparent;
    border: 1px solid #ccc;
}