<div class="ui left floated main menu">
  <a routerLink="/overtimes" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment" style="padding-top: 10px">
    
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <div class="ui vertical animated button " tabindex="0" routerLink="/overtimes/{{ overtime?._id }}/edit" *ngIf="!mainLoader && overtime.status == 'pending'">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>

    <!-- <div class="clear clearfix">&nbsp;</div> -->

    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">Overtime Information</h4>
      <div class="two fields">
        <div class="field">
          <label>Employee</label>
          <p>
            {{ overtime.employee?.first_name + ' ' + overtime.employee?.last_name }}
          </p>
        </div>
        <div class="field">
          <label>Status</label>
          <p>
            {{ overtime.status == 'approved' ? 'Approved' : overtime.status == 'disapproved' ? 'Disapproved' : 'Pending' }}
          </p>
        </div>
      </div>

      <div class="field" *ngIf="overtime.status != 'pending'">
        <label>Updated by</label>
        <p>{{ overtime?.approved_by }}</p>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Time-in</label>
          <p>{{ overtime.time_in | date:'medium'}}</p>
        </div>
        <div class="field">
          <label>Time-out</label>
          <p>{{ overtime.time_out | date:'medium'}}</p>
        </div>
      </div>

    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>

<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>


    <button class="ui button right floated positive" *ngIf="overtime.status == 'pending'" (click)="open('approved')">APPROVE</button>
    <button class="ui button left floated negative" *ngIf="overtime.status == 'pending'" (click)="open('disapproved')">DISAPPROVE</button>
  </div>
</div>
  
  
  