<div class="ui left floated main menu">
  <a routerLink="/holidays" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid">
    <div class="eight wide column">
      <div class="ui segment">

        <!-- CALENDAR HERE -->
        <div class="top actions" style="padding-top: 0; margin-top: 0">

          <div class="ui buttons pull-left">
            <button class="ui button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="nextMonth($event);activeDayIsOpen = false">Previous</button>
            <button class="ui button" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
            <button class="ui button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="nextMonth($event);activeDayIsOpen = false">Next</button>
          </div>
          <h2 class="ui header center aligned text pull-rigth" style="text-align: center; margin: 0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
        </div>
      
        
        <div class="ui divider"></div>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view 
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="bookings"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            [refresh]="refresh"
            [cellTemplate]="customCellTemplate">
          </mwl-calendar-month-view>
        
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="bookings">
          </mwl-calendar-week-view>
        
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="bookings">
          </mwl-calendar-day-view>
        </div>
        <!-- END CALENDAR -->
        
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui segment">
        <form class="ui form">

          <div class="ui message" >
            <h3>Date: {{clickedDate | amLocal | amDateFormat: 'YYYY-MM-DD'}}</h3>
          </div>

          <div class="field" [ngClass]="{'disabled': saving}">
            <div class="two fields">
              
              <div class="field" [ngClass]="{'disabled': saving}">
                <label>Holiday Name</label>
                <input type="text" name="name" [(ngModel)]="holiday.name" placeholder="Name" >
              </div>

              <div class="field" [ngClass]="{'disabled': saving}">
                <label>Holiday Type</label>
                <select class="ui dropdown" [(ngModel)]="holiday.type" name="type">
                  <option value="working">Working Holiday</option>
                  <option value="non-working">Special Non-working Holiday</option>
                </select>
              </div>

              
            </div>
          </div>

          <!-- <div class="field" [ngClass]="{'disabled': saving}"> -->
            <div class="field" [ngClass]="{'disabled': saving}">
                <label>Description</label>
                <textarea name="description" [(ngModel)]="holiday.description"></textarea>
            </div>
          <!-- </div> -->
        </form>

        <div class="clear clearfix">&nbsp;</div>
        <div class="footer clear clearfix">
          <div class="button-wrap">

            <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
              <div class="ui positive message" *ngIf="successMsg">
                <i class="close icon" (click)="isCloseMsg=true"></i>
                <div class="header">Success</div>
                <p [innerHTML]="successMsg"></p>
              </div>

              <div class="ui negative message" *ngIf="errorMsg">
                <i class="close icon" (click)="isCloseMsg=true"></i>
                <div class="header">Error</div>
                <p [innerHTML]="errorMsg"></p>
              </div>
            </div>

            <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
          </div>
        </div>

      </div>
    </div>
</div> <!-- END second column ui grid form  -->




