.main-wrap {
    background: url('/assets/images/banners/home/home-banner3.jpg') #f2f2f2 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.form-wrap {
    max-width: 500px;
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    border-radius: 10px;
}
.logo {
    width: 150px;
}
.login-headline {
	font-size: 40px;
}

.login-headline span {
	font-weight: 600
}

.grid {
    height: 100%;
}

.ui.segment {
    margin: 0;
}


