<div class="ui middle aligned center aligned grid main-wrap" >
    <div class="column form-wrap">
        <h2 class="company-headline">
            QloudHR | 
            <span>Signup</span>
        </h2>
        <form class="ui large form" (ngSubmit)="onSubmit()">
            <div class="ui segment basic">
                <h4 class="ui dividing header">Personal Information</h4>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="first_name" placeholder="First Name" [(ngModel)]="user.first_name" required>
                    </div>
                    <div class="field">
                        <input type="text" name="last_name" placeholder="Last Name" [(ngModel)]="user.last_name" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <select class="ui dropdown" name="gender" [(ngModel)]="user.gender" placeholder="Gender">
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="icon user circle outline"></i>
                        <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username" required>
                    </div>
                </div>
                <div class="field">
                        <div class="ui left icon input">
                            <i class="icon user circle outline"></i>
                            <input type="text" name="user_email" placeholder="Email" [(ngModel)]="user.user_email" required>
                        </div>
                    </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required minlength="6">
                    </div>
                </div>

                <h4 class="ui dividing header">Company Information</h4>
                <div class="field">
                    <input type="text" name="name" placeholder="Company Name" [(ngModel)]="user.name" required>
                </div>
                <div class="field">
                    <input type="text" name="address" placeholder="Address" [(ngModel)]="user.address" required>
                </div>            
                <div class="field">
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
                </div>

                <div class="ui positive message" *ngIf="successMsg">
                    <p>{{ successMsg }}</p>
                </div>

                <div class="ui negative message" *ngIf="errorMsg">
                    <p>{{ errorMsg }}</p>
                </div>

                <button class="ui fluid large primary submit button" [disabled]="loading" type="submit" [class.loading]="loading">SIGNUP</button>
            </div>
            <div class="ui error message"></div>

            <!-- <div>
                Don't have a QloudHR account yet? Try our <a href="#" routerLink="/request-demo">Demo</a> now!
            </div> -->
        </form>
    </div>
</div>