<div class="ui left floated main menu">
  <a routerLink="/designations" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment" style="padding-top: 10px">
    
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <div class="ui vertical animated button " tabindex="0" routerLink="/designations/{{ designation?._id }}/edit" *ngIf="!mainLoader">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>

    <!-- <div class="clear clearfix">&nbsp;</div> -->

    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">Designation Information</h4>
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          <p>
            {{ designation?.title }}
          </p>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Clock-in</label>
          <p>{{ designation.time_in ? designation.time_in : 'Unspecified' }}</p>
        </div>
        <div class="field">
          <label>Clock-out</label>
          <p>{{ designation.time_out ? designation.time_out : 'Unspecified' }}</p>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Second Clock-in</label>
          <p>{{ designation.time_in2 ? designation.time_in2 : 'Unspecified' }}</p>
        </div>
        <div class="field">
          <label>Second Clock-out</label>
          <p>{{ designation.time_out2 ? designation.time_out2 : 'Unspecified' }}</p>
        </div>
      </div>

    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>

<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
    
  </div>
</div>
  
  
  