<div class="ui left floated main menu">
  <a routerLink="/employees" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>
<!-- <div class="ui right floated main menu">
  <a class="bug popup icon item" data-content="Edit This Page" href="https://github.com/Semantic-Org/Semantic-UI-Docs/edit/master/server/documents/elements/button.html.eco">
    <i class="edit icon"></i>
  </a>
  
  <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/Semantic-Org/Semantic-UI/issues/new?title=[Button] - Your Bug Name&amp;body=**Steps to Reproduce**%0A1. Do something%0A2. Do something else.%0A3. Do one last thing.%0A%0A**Expected**%0AThe Button should do this%0A%0A**Result**%0AThe Button does not do this%0A%0A**Testcase**%0A(fork this to get started)%0Ahttp://jsfiddle.net/rduvhn8u/1/">
    <i class="bug icon"></i>
  </a>
  
  <a class="github popup icon item" data-content="View project on GitHub" href="https://github.com/Semantic-Org/Semantic-UI">
    <i class="alternate github icon"></i>
  </a>
</div> -->

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Personal Information</h4>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Name</label>
            <div class="four fields">
              <div class="field" [ngClass]="{'disabled': saving}">
                <input type="text" name="first_name" [(ngModel)]="employee.first_name" placeholder="First Name">
              </div>
              <div class="field" [ngClass]="{'disabled': saving}">
                <input type="text" name="middle_name" [(ngModel)]="employee.middle_name" placeholder="Middle Name">
              </div>
              <div class="field" [ngClass]="{'disabled': saving}">
                <input type="text" name="last_name" [(ngModel)]="employee.last_name" placeholder="Last Name">
              </div>
              <div class="field" [ngClass]="{'disabled': saving}">
                <input type="text" name="suffix" [(ngModel)]="employee.suffix" placeholder="Suffix: i.e: Jr.">
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Email</label>
              <input type="email" name="email" placeholder="name@company.com" [(ngModel)]="employee.email">
            </div>
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Username</label>
              <input type="text" name="username" placeholder="Username" [(ngModel)]="employee.username">
            </div>
          </div>
          <div class="three fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Gender</label>
              <select class="ui dropdown" name="gender" [(ngModel)]="employee.gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select>
            </div>            
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Birthdate</label>
              <input type="date" name="birthdate" [(ngModel)]="employee.birthdate" max="{{ date | date  : 'yyyy-MM-dd'}}">
            </div> 
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Contact Numbers</label>
              <input type="text" name="contact_nos" placeholder="+63 919 683 6445" [(ngModel)]="employee.contact_nos">
            </div>           
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Address</label>
              <div class="sixteen wide column" [ngClass]="{'disabled': saving}">
                <input type="text" name="address" placeholder="Complete Address" [(ngModel)]="employee.address">
              </div>              
            </div>            
          </div>
        </form>
        
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>




