<div class="ui left floated main menu">
  <a routerLink="/branches" class="bug popup icon item">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="ui right floated main menu" *ngIf="withPerm && enableSwitch">
  <a class="bug popup icon item" (click)="open()">
    Switch to this Branch
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>


<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <form  *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Branch Information</h4>
      <div class="ui grid">
        <div class="four wide column">
          <div class="clear clearfix">&nbsp;</div>
          <div class="container">
            <input style="display: none" type="file" [(ngModel)]="branch.file" name="file" (change)="onFileChanged($event)" #fileInput>
            <div *ngIf="fileUploading" class="ui active centered inline loader"> </div>
            <div *ngIf="!fileUploading">
              <img src="{{ branch.logo | images : {id: branch._id, type: 'branch_logo'} }}">
              <button class="upload-btn fluid ui button" (click)="fileInput.click()" *ngIf="withPerm">Edit</button>
              <input type="hidden" name="logo" [(ngModel)]="branch.logo" /> 
            </div>
          </div>
       
        
         <div class="ui negative message" *ngIf="!fileUploaded && !fileUploading && fileUploadTriggered">
            <p>
              {{ fileUploadingMsg }}
            </p>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="field" >
              <label>Name</label>
              <div class="four fields">
                <div class="field" [ngClass]="{'disabled': saving || !withPerm}">
                  <input type="text" name="name" [(ngModel)]="branch.name" placeholder="Makati Branch">
                </div>
              </div>
            </div>

            <div class="field" >
                <label>Status</label>
                <div class="four fields">
                  <div class="field" [ngClass]="{'disabled': saving || !withPerm}">
                    <select class="ui input dropdown" id="status" name="status" [(ngModel)]="branch.status">
                      <option value="active" selected>Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                  </div>
                </div>
              </div>
            <div class="field" >
              <label>Address</label>
              <div class="two fields">
                <div class="field" [ngClass]="{'disabled': saving || !withPerm}">
                  <input type="text" name="address" [(ngModel)]="branch.address" placeholder="Iloilo City">
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" *ngIf="withPerm" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>