.container {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 100%;
  max-width: 150px;
}

.container img {
  
  width: 150px;
  height: 150px;
}

.container .upload-btn {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e7e7e7;
  color: black;
  font-size: 15px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: center;
  opacity: 0.6;
  transition: 0.2s;
}

.container .upload-btn:hover {opacity: .8}

.ui.negative.message {
  top: 140px;
}