<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      
      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Earning Information</h4>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Description</label>
          <textarea type="text" name="description" [(ngModel)]="earning.description"></textarea>
        </div>
        <div class="two fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Type</label>
            <select class="ui dropdown" name="type" [(ngModel)]="earning.type">
              <option value="monthly">Monthly</option>
              <option value="bi-monthly">Bi-Monthly</option>
              <option value="weekly">Weekly</option>
              <option value="daily">Daily</option>
            </select>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Amount</label>
            <input type="number" name="amount" [(ngModel)]="earning.amount" >
          </div>
        </div>
      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button left floated" routerLink="/employees/{{ employee._id }}/edit/earnings">Cancel</button>
    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div>