<!-- Header (desktop) -->
<div class="ui menu top fixed borderless" id="main_menu">
	<div id="app-name">
		<span class="company">{{ companyName }}</span>
		<span class="branch">{{ currBranchName }}</span>
	</div>
	<div id="main-logo-wrap" class="header item">
		<div id="main-logo" routerLink="/companies/{{ company._id }}">
			<span class="helper">&nbsp;</span>
			<img class="img-logo" src="{{ companyLogo | images : {id: company._id, type: 'company_logo'} }}" alt="Company Logo">
		</div>
	</div>
	<div class="inline-block center text-center" style="width: 100%; text-align: center; padding-top: 8px">
		<h3 class="inline-block no-margin no-select">{{ pageName }}</h3>
	</div>
	<div class="right menu" style="margin-right: 20px;white-space: nowrap;">
		<div class="ui pointing dropdown link item account-menu-link" suiDropdown>
			<img src="{{ profilePhoto | images :  {id: loggedUser._id, type: 'user_avatar', gender: loggedUser.gender} }}" class="ui floated left account-img">
			<span class="text">{{ loggedUser?.first_name }}</span>
			<i class="dropdown icon"></i>

			<div class="menu" suiDropdownMenu>
				<!-- <div class="header">My Profile</div> -->
				<div class="item" 
					[routerLink]="['/employees/' + loggedUser._id]"
					routerLinkActive="active" 
					[routerLinkActiveOptions]="{exact: true}">My Profile
				</div>
				<div class="item" 
					routerLink="/notifications" 
					routerLinkActive="active" 
					[routerLinkActiveOptions]="{exact: true}">Notifications
				</div>
				<div class="divider" *ngIf="withPerm.subscriptions || withPerm.payments_history"></div>
				<div class="item" 
					*ngIf="withPerm.subscriptions"
					routerLink="/subscriptions" 
					routerLinkActive="active" 
					[routerLinkActiveOptions]="{exact: true}">Subscriptions
				</div>
				<div class="item" 
					*ngIf="withPerm.payments_history"
					routerLink="/payment-transactions" 
					routerLinkActive="active" 
					[routerLinkActiveOptions]="{exact: true}">Payment History
				</div>
				<div class="divider"></div>
				<div class="item" routerLink="/logout">Log Out</div>
			</div>
		</div>
	</div>
</div>
