.account-img {
    width: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.account-menu-link {
    padding: 5px !important
}

.text{
    color: white;
}

#app-name {
    width: 200px;
    font-size: 15px;
    line-height: 20px;
}

#app-name span { display: block}
#app-name .company { font-size: 18px; font-weight: bold}
#app-name .branch { font-size: 11px; font-weight: normal}

.page-title {
    margin-left: -100px;
}

#main-logo {
    padding: 10px;
    background: #fff;


    height: 120px;      /* equals max image height */
    width: 120px;
    border: 1px solid #0f8da4;
    white-space: nowrap;
    
    text-align: center; 
    /* margin: 1em 0; */
}

#main-logo:hover {
    border: 1px solid #076677;
    cursor: pointer;
}

#main-logo .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    /* background: #f00; */
}

#main-logo img {
    /* width: 100%;
    height: 100%; */

    vertical-align: middle;
    max-height: 120px;
    max-width: 120px;
}




