.attendance-table-wrap .ui.horizontal.segments {
    margin: 0;
}

.time-in-out .ui.segment {
    padding: 5px 10px;
}

.ui.button.attendance {
    background: transparent;
}

.ui.form .fields {
    margin: 0px;
}

.label {
    margin: 10px;
}

.filterWrapper {
    margin-top: 10px;
    width: 50%;
}

.statistic {
    padding: 0px 75px;
}