<div >
	<div class="ui action left icon input">
    <div class="ui right floated main menu">
      <a [ngClass]="{'active' : params.filter_date === 'today'}" class="ui attendance item active " (click)="filter('today')">Today</a>
      <a [ngClass]="{'active' : params.filter_date === 'yesterday'}" class="ui attendance item " (click)="filter('yesterday')">Yesterday</a>
      <a [ngClass]="{'active' : params.filter_date === 'current_month'}" class="ui attendance item" (click)="filter('current_month')">This Month</a>
      <a [ngClass]="{'active' : params.filter_date === 'custom'}" class="ui attendance item" (click)="filter('custom')">Custom</a>
      <a [ngClass]="{'active' : params.ot == 'getOT' }" class="ui overtime item " (click)="getOT()">Overtimes</a>
      <a [ngClass]="{'active' : params.filter_date === ''}" class="ui attendance item" (click)="filter('')">All</a>
    </div>
  </div>

  <button routerLink="/attendances/create" class="ui primary button right floated" *ngIf="withPerm" style="margin: 0 0 0 20px; min-height: 42px;">
    <i class="icon add"></i>
    New Attendance
  </button> 

  <!-- <div class="ui right floated main menu" style="float: right" style="margin-right: 10px">
    <a class="ui basic button right floated" [ngClass]="{'active' : params.ot == 'getOT' }" class="ui overtime item " (click)="getOT()">Overtimes</a>
  </div> -->

  <div class="ui action left icon input" style="margin-left: 20px" *ngIf="withPerm">
    <form class="ui form">
      <div class="field" [ngClass]="{'disabled': empLoader}">
        <select name="emp_id" [(ngModel)]="params.emp_id" class="ui dropdown" [ngClass]="{'disabled': empLoader}">
          <option value="">All Employees</option>
          <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
        </select>
      </div>
    </form>
    <button class="ui button right floated primary" [ngClass]="{'disabled': mainLoader}" (click)="get()" style="margin-left: 10px">Go</button>
  </div>
</div>

<div *ngIf="params.filter_date === 'custom'" class="filterWrapper" >
  <div class="ui form">
    <div class="two fields">
      <label class="label">From: </label>
      <input type="date" name="date_from" [(ngModel)]="params.date_from">

      <label class="label">To: </label>
      <input type="date" name="date_to" [(ngModel)]="params.date_to">
      <!-- <button class="ui button item" (click)="filter('custom')" style="margin-left: 15px">Find</button> -->
    </div>
  </div>
</div>
  
<div class="clear clearfix"></div>
<div class="ui divider"></div>

<div class="ui center aligned grid" >
  <div class="sixteen wide column">
    <div class="ui segment">
      <h3>Daily Time Record Statistics</h3>
      <div class="ui center aligned statistics tiny">
        <div class="statistic">
          <div *ngIf="statsLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
          <div class="value" *ngIf="!statsLoader">
            {{ w.on_time }}
          </div>
          <div class="label">
            On Time
          </div>
        </div>
        <div class="statistic">
          <div *ngIf="statsLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
          <div class="value"  *ngIf="!statsLoader">
            {{ w.lates }}
          </div>
          <div class="label">
            Late
          </div>
        </div>
        <div class="statistic">
          <div *ngIf="statsLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
          <div class="value"  *ngIf="!statsLoader">
            {{ w.undertime }}
          </div>
          <div class="label">
            Undertime
          </div>
        </div>
        <div class="statistic">
          <div *ngIf="statsLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
          <div class="value"  *ngIf="!statsLoader">
            {{ w.absents }}
          </div>
          <div class="label">
            Absent
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader" style="margin-top: 15px">
  <div class="clear clearfix"></div>
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !attendances.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No attendance in this query.</p>
</div>


<table *ngIf="!mainLoader && attendances.length" class="ui compact celled table attendance-table-wrap">
	<thead class="full-width">
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>1st Clock In</th>
            <th>1st Clock Out</th>
            <th>2nd Clock In</th>
            <th>2nd Clock Out</th>
            <th width="80">Status</th>
            <th width="50" *ngIf="withPerm"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let attendance of attendances">
      <!-- <div *ngIf="attendance.is_holiday"> -->
        <td width="250">
            <h4 class="ui image header">
                <img [routerLink]="['/employees/' + attendance.employee?._id]" class="ui mini rounded image"
                  src="{{ attendance.employee?.photo | images :  {id: attendance.employee?._id, type: 'user_avatar', gender: attendance.employee?.gender} }}"
                  >
                <div class="content">
                  <a [routerLink]="['/employees/' + attendance.employee?._id]" href="#">{{ attendance.employee?.first_name + ' ' + attendance.employee?.last_name }}</a>
                  <div class="sub header">{{ attendance.employee?.job_title || 'Unassigned' }}</div>
              </div>
            </h4>

            <div *ngIf="attendance?.designation" class="ui mini label">
                {{ attendance?.designation?.title || '' }}
            </div>
        </td>

        <td width="180">
            <p class="log-time"> {{attendance.for_date | amDateFormat: 'YYYY-MM-DD'}}</p>
        </td>

        <td>
          <p class="log-time" *ngIf="attendance.status == 'Absent'">--</p>
          <p class="log-time" *ngIf="attendance.status !== 'Absent' && attendance.time_in"> {{ attendance.time_in | date:'medium'}} </p>
          <div class="ui horizontal segments time-in-out" *ngIf="attendance.status !== 'Absent' && attendance.time_in">
            <div 
              class="ui tertiary inverted segment" 
              [ngClass]="{
                  'orange': (attendance.time_in_status == 'Late'), 
                  'green': (attendance.time_in_status == 'On Time')
              }">
              <p class="centered aligned"> {{ attendance.time_in_status }} </p>
            </div>
            <div class="ui segment" *ngIf="(attendance.time_in_diff && attendance.time_in_diff > 0 )">
              <p class="centered aligned "> {{ attendance.time_in_diff | duration: 'HH:mm:ss' }} </p>
            </div>
          </div>


          <p *ngIf="attendance.status != 'Absent' && !attendance.time_in" class="italic">
            <em *ngIf="attendance.with_schedule">Has not clocked in.</em>
            <em *ngIf="!attendance.with_schedule">No work schedule.</em>
          </p>
        </td>
        
        <td>
          <div *ngIf="attendance.status != 'Absent'">
            <p  class="log-time" *ngIf="attendance.time_out"> {{attendance.time_out | date:'medium'}} </p>
            <div *ngIf="attendance.time_out" class="ui horizontal segments time-in-out">
              <div 
                class="ui tertiary inverted segment "
                [ngClass]="{
                  'orange': (attendance.time_out_status == 'Undertime'), 
                  'green': (attendance.time_out_status !== 'Undertime')}">
                <p class="centered aligned">{{ attendance.time_out_status }}</p>
              </div>
              <div class="ui segment" *ngIf="(attendance.time_out_diff && attendance.time_out_diff > 0)">
                <p class="centered aligned "> {{ attendance.time_out_diff | duration: 'HH:mm:ss' }} </p>
              </div>
            </div>
            <p *ngIf="attendance.status != 'Absent' && !attendance.time_out" class="italic">
              <em *ngIf="attendance.with_schedule">Has not clocked out.</em>
              <em *ngIf="!attendance.with_schedule">No work schedule.</em>
            </p>
          </div>
          <p class="log-time" *ngIf="attendance.status == 'Absent'">--</p>
        </td>

        <td>
          <p class="log-time" *ngIf="attendance.status == 'Absent'">--</p>
          <p class="log-time" *ngIf="attendance.status !== 'Absent' && attendance.time_in2"> {{attendance.time_in2 | date:'medium'}} </p>
          <div class="ui horizontal segments time-in-out" *ngIf="attendance.status !== 'Absent' && attendance.time_in2">
            <div 
              class="ui tertiary inverted segment" 
              [ngClass]="{
                  'orange': (attendance.time_in2_status == 'Late'), 
                  'green': (attendance.time_in2_status == 'On Time')
              }">
              <p class="centered aligned"> {{ attendance.time_in2_status }} </p>
            </div>
            <div class="ui segment" *ngIf="(attendance.time_in2_diff && attendance.time_in2_diff > 0 )">
              <p class="centered aligned "> {{ attendance.time_in2_diff | duration: 'HH:mm:ss' }} </p>
            </div>
          </div>

          <p *ngIf="!attendance.time_in2 && attendance.status != 'Absent'" class="italic">
              <em *ngIf="attendance.with_break">Has not clocked in.</em>
              <em *ngIf="!attendance.with_break">No work schedule.</em>
          </p>
        </td>

        <td>
          <div *ngIf="attendance.status != 'Absent'">
            <p class="log-time" *ngIf="attendance.time_out2" class="ui centered align"> {{attendance.time_out2 | date:'medium'}} </p>
            <div *ngIf="attendance.time_out2" class="ui horizontal segments time-in-out">
              <div 
                class="ui tertiary inverted segment "
                [ngClass]="{
                  'orange': (attendance.time_out2_status == 'Undertime'), 
                  'green': (attendance.time_out2_status !== 'Undertime')}">
                <p class="centered aligned">{{ attendance.time_out2_status }}</p>
              </div>
              <div class="ui segment" *ngIf="(attendance.time_out2_diff && attendance.time_out2_diff > 0)">
                <p class="centered aligned "> {{ attendance.time_out2_diff | duration: 'HH:mm:ss' }} </p>
              </div>
            </div>
            <p class="log-time" *ngIf="attendance.status == 'Absent'">--</p>
            <p *ngIf="!attendance.time_out2" class="italic">
                <em *ngIf="attendance.with_break">Has not clocked out.</em>
                <em *ngIf="!attendance.with_break">No work schedule.</em>
            </p>
          </div>
          <p class="log-time" *ngIf="attendance.status == 'Absent'">--</p>
        </td>


        <td>
          <p
            class="ui label"
            [ngClass]="{
              'red': (attendance.status == 'Absent'), 
              'blue': (attendance.status == 'Holiday'), 
              'orange': (attendance.status == 'On Leave'), 
              'green': (attendance.status == 'Present')
          }">
          {{ attendance.status }}
          </p>
        </td>
        <td class="centered aligned " width="110" *ngIf="withPerm">
          
          <div class="ui icon  basic dropdown button" suiDropdown >
            <div class="text">Action &nbsp;</div>  
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
                <div class="item" [routerLink]="['/attendances/' + attendance._id + '/show']">
                    <i class="folder open outline icon"></i>
                    Details
                </div>
                <div class="item" [routerLink]="['/attendances/' + attendance._id + '/edit']">
                    <i class="edit icon"></i>
                    Edit
                </div>
                <div class="item" (click)="open(attendance._id)">
                  <i class="trash icon"></i>
                  Delete
                </div>
            </div>
          </div>
        </td>
      <!-- </div> -->
    </tr>
    
	</tbody>    
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>