<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Employee Access Permissions</h4>
        

        <div class="ui grid">
          <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'company_dashboard'}" (click)="onChangeCurrentModule('company_dashboard')" >Dashboard</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'employees'}" (click)="onChangeCurrentModule('employees')">Employees</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'work_schedules'}" (click)="onChangeCurrentModule('work_schedules')">Work Schedules</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'designations'}" (click)="onChangeCurrentModule('designations')">Designations</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'user_designations'}" (click)="onChangeCurrentModule('user_designations')">Employee Designation</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'attendances'}" (click)="onChangeCurrentModule('attendances')">Attendances</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'overtimes'}" (click)="onChangeCurrentModule('overtimes')">Overtimes</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'supervisors'}" (click)="onChangeCurrentModule('supervisors')">Supervisors</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'leave_management'}" (click)="onChangeCurrentModule('leave_management')">Leave Management</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'payroll'}" (click)="onChangeCurrentModule('payroll')">Payroll</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'payroll_approvers'}" (click)="onChangeCurrentModule('payroll_approvers')">Payroll Approvers</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'loans'}" (click)="onChangeCurrentModule('loans')">Loans</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'subscriptions'}" (click)="onChangeCurrentModule('subscriptions')">Subscriptions</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'payments'}" (click)="onChangeCurrentModule('payments')">Payments</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'departments'}" (click)="onChangeCurrentModule('departments')">Departments</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'branches'}" (click)="onChangeCurrentModule('branches')">Branches</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'teams'}" (click)="onChangeCurrentModule('teams')">Teams</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'team_members'}" (click)="onChangeCurrentModule('team_members')">Team Members</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'reports'}" (click)="onChangeCurrentModule('reports')">Reports</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'quotes'}" (click)="onChangeCurrentModule('quotes')">Quotes</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'holidays'}" (click)="onChangeCurrentModule('holidays')">Holidays</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'payslips'}" (click)="onChangeCurrentModule('payslips')">Payslips</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'freedom_board'}" (click)="onChangeCurrentModule('freedom_board')">Freedom Board</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'logs'}" (click)="onChangeCurrentModule('logs')">Logs</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'company_management'}" (click)="onChangeCurrentModule('company_management')">Company Management</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'settings'}" (click)="onChangeCurrentModule('settings')">Settings</a>
              <a class="item" [ngClass]="{'active': currModule?.module_name === 'login_restrictions'}" (click)="onChangeCurrentModule('login_restrictions')">Login Restrictions</a>
            </div>
          </div>
          <div class="twelve wide stretched column">
            <div class="ui segment">

              <table class="ui compact celled definition table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Action Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let action of currModule?.actions">
                    <td class="collapsing">
                      <div class="ui fitted slider checkbox">
                        <input type="checkbox" 
                          value="{{ action?.key }}"
                          [checked]="this.userPermissions.indexOf( action?.key) > -1 ?'checked':''"
                          (change)="onPermissionChange($event)"
                          > <label></label>
                      </div>
                    </td>
                    <td>{{ action?.action }}</td>
                    <td>{{ action?.desc }}</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        
      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
<div class="button-wrap">

  <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
    <div class="ui positive message" *ngIf="successMsg">
      <i class="close icon" (click)="isCloseMsg=true"></i>
      <div class="header">Success</div>
      <p [innerHTML]="successMsg"></p>
    </div>

    <div class="ui negative message" *ngIf="errorMsg">
      <i class="close icon" (click)="isCloseMsg=true"></i>
      <div class="header">Error</div>
      <p [innerHTML]="errorMsg"></p>
    </div>
  </div>

  <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
</div>
</div>




