<div class="ui left floated main menu">
	<a routerLink="/login-restrictions" class="bug popup icon item" data-content="Edit This Page">
		<i class="angle left icon"></i>
		&nbsp;Back
	</a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
	<div class="sixteen wide column ui segment" style="padding-top: 10px">
	  
		<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

		<div class="ui vertical animated button" tabindex="0" routerLink="/login-restrictions/{{ restriction._id }}/edit">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>

		<form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">Login Restriction Information</h4>
			<div class="four fields">
        <div class="field">
          <label>Employee</label>
        </div>
				<div class="field">
            <h4 class="ui image header">
                <img [routerLink]="['/employees/' + restriction.employee?._id]" class="ui mini rounded image"
                  src="{{ restriction.employee?.photo | images :  {id: restriction.employee?._id, type: 'user_avatar', gender: restriction.employee?.gender} }}"
                  >
                <div class="content">
                  <a [routerLink]="['/employees/' + restriction.employee?._id]" href="#">{{ restriction.employee?.first_name + ' ' + restriction.employee?.last_name }}</a>
                  <div class="sub header">{{ restriction.employee.job_title ? restriction.employee.job_title : 'Unspecified' }}</div>
              </div>
            </h4>
        </div>
			</div>

			<div class="four fields">
        <div class="field">
          <label>IP Addresses</label>
        </div>
        <div class="field">
          <p>{{ restriction.ips || 'Any Network IPs' }}</p>
        </div>
      </div>

      <div class="four fields">
        <div class="field">
          <label>Device IDs</label>
        </div>
        <div class="field">
          <p>{{ restriction.dids || 'Any Devices' }}</p>
        </div>
      </div>

		</form>
	</div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->