<div >
  <div class="ui left floated main menu">
    <a [routerLink]="['/payrolls']" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
</div>

<select name="emp_id" [(ngModel)]="params.emp_id" class="ui dropdown" (change)="get()">
  <option value="">All Employees</option>
  <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
</select>


<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui segment">
      <h1>Payroll Name</h1>
      <div class="description" style="margin-top: 10px">
        <p>
          <span class="bold">Pay Period</span><br><span> From:  to </span>
        </p>

        <p>
          <span class="bold">Total Net Pay</span><br><span></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mainLoader">
  <div class="clearfix">&nbsp;</div>
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader && contributions.length" class="ui compact celled table">
	<thead class="full-width">
    <tr>
      <th>Employee</th>
      <th>Contribution</th>
      <th>EE</th>
      <th>ER</th>
      <th>EC</th>
      <th></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let contribution of contributions">
      <td>
        <h4 class="ui image header">
          <img [routerLink]="['/employees/' + contribution.employee?._id]" class="ui mini rounded image"
            src="{{ contribution.employee?.photo | images :  {id: contribution.employee?._id, type: 'user_avatar', gender: contribution.employee?.gender} }}"
            >
          <div class="content">
            <a [routerLink]="['/employees/' + contribution.employee?._id]" href="#">{{ contribution.employee?.first_name + ' ' + contribution.employee?.last_name }}</a>
            <div class="sub header">{{ contribution.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </td>
      
      <td>{{ contribution.name == 'sss' ? 'SSS' :
              contribution.name == 'philhealth' ? 'PhilHealth' :
              contribution.name == 'pagibig' ? 'PagIBIG' :
              contribution.name == 'gsis' ? 'GSIS' :
              contribution.name == 'others' ? contribution.specify_other : '' }}</td>
      <td>
        <div class="ui horizontal segments status" >
          <div class="ui segment" >
            <p class="centered aligned "> {{ contribution.ee_amt | currency : "₱" }} </p>
          </div>
          <div 
            class="ui tertiary inverted segment" 
            [ngClass]="{
                'orange': contribution.ee_status == 'pending', 
                'green': contribution.ee_status == 'paid',
                'red': contribution.ee_status =='na'
            }">
            <p class="centered aligned"> {{ contribution.ee_status == 'pending' ? 'Pending' : contribution.ee_status == 'paid' ? 'Paid' : 'Not Applicable' }} </p>
          </div>
        </div>
      </td>
      <td>
        <div class="ui horizontal segments status" >
          <div class="ui segment" >
            <p class="centered aligned "> {{ contribution.er_amt | currency : "₱" }} </p>
          </div>
          <div 
            class="ui tertiary inverted segment" 
            [ngClass]="{
                'orange': contribution.er_status == 'pending', 
                'green': contribution.er_status == 'paid',
                'red': contribution.er_status =='na'
            }">
            <p class="centered aligned"> {{ contribution.er_status == 'pending' ? 'Pending' : contribution.er_status == 'paid' ? 'Paid' : 'Not Applicable' }} </p>
          </div>
        </div>
      </td>
      <td>
        <div class="ui horizontal segments status" >
          <div class="ui segment" >
            <p class="centered aligned "> {{ contribution?.ec_amt | currency : "₱" }} </p>
          </div>
          <div 
            class="ui tertiary inverted segment" 
            [ngClass]="{
                'orange': contribution?.ec_status == 'pending', 
                'green': contribution?.ec_status == 'paid',
                'red': contribution?.ec_status =='na'
            }">
            <p class="centered aligned"> {{ contribution?.ec_status == 'pending' ? 'Pending' : contribution?.ec_status == 'paid' ? 'Paid' : 'Not Applicable' }} </p>
          </div>
        </div>
      </td>
      <td class="center aligned" width="50">
        <div class="ui left floated main menu">
          <a routerLink="/contributions/{{ contribution._id }}/edit" class="bug popup icon item" data-content="Edit This Page" href="#" [queryParams]="{payroll_detail_id: contribution.payroll_detail_id, payroll_id: params.payroll_id}" >
            <i class="edit icon"></i>
          </a>
        </div>
      </td>
    </tr>
	</tbody>
    
</table>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div class="clearfix">&nbsp;</div>
<div *ngIf="!contributions.length && !mainLoader && !params.emp_id" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="icon money bill alternate outline"></i>
    There are no contributions in this payroll.
  </div>
</div>

<div *ngIf="!contributions.length && !mainLoader && params.emp_id"  style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    This employee does not have contributions in this payroll.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

