<div class="ui left floated main menu">
  <a routerLink="/overtimes" class="bug popup icon item">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<div *ngIf="!mainLoader" class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Overtime Information</h4>
        <div class="two fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Name</label>
            <p>{{ overtime.employee?.first_name + ' ' + overtime.employee?.last_name }}</p>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Status</label>
            <p>{{ overtime.status == 'approved' ? 'Approved' : overtime.status == 'disapproved' ? 'Disapproved' : 'Pending' }}</p>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Other Settings</label>
            <div class="ui checkbox">
              <input type="checkbox" value="1" name="with_ot_rate" [(ngModel)]="overtime.with_ot_rate">
              <label>With Overtime Rate</label>
            </div>
          </div>
          <div class="field" *ngIf="overtime.with_ot_rate">
            <label>Overtime Rate</label>
            <input type="number" name="ot_rate" [(ngModel)]="overtime.ot_rate">
          </div>
        </div>

        <div class="two fields" [ngClass]="{'disabled': saving}" >
          <div class="field">
            <label>Time-in</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="time_in"
                    autocomplete="off"
                    [(ngModel)]="overtime.time_in"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
          <div class="field">
            <label>Time-out</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="time_out"
                    autocomplete="off"
                    [(ngModel)]="overtime.time_out"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
        </div>

      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>