<app-front-main-menu></app-front-main-menu>

<div class="ui container page-content-wrap">
	<h1 class="ui header">Your Smart HR Software</h1>

	<p>QloudHR is a holistic HR Software in Singapore, here to help HR departments focus on less paper and more people. Backed with capability enhancing modules and an intuitive interface, QloudHR is the starting point for greater efficiency in the workplace.</p>
	
	<p>As the backbone of any organization, HR is where the battle truly begins. Be it processing payroll, managing leave and claims, tracking attendance or generating HR reports, payroll outsourcing; let QloudHR automates the workflow for you.</p>
	
	<p>With QloudHR, HR departments can free themselves from administrative work and spend time on what matters most - facilitate onboarding, focus on talent retention and building a company culture their employee can identify with.</p>
	
	<p>As at November 2017, QloudHR is available in English and Mandarin. It features modules such as QuickStaff, QuickLeave, QuickClaims, QuickTimesheet, QuickPayroll and QuickReports.</p>
	
</div>

<app-front-footer></app-front-footer>