<div class="ui left floated main menu">
  <a routerLink="/contributions" class="bug popup icon item" [queryParams]="{payroll_id: payroll_id}">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
      
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Contribution Information</h4>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Name</label>
        <input type="text" name="name" [(ngModel)]="contribution.name" placeholder="Name">
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>EE Amount</label>
          <p>{{ contribution.ee_amt | currency : "₱" }}</p>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>EE Status</label>
          <select class="ui input dropdown" name="ee_status" [(ngModel)]="contribution.ee_status">
            <option value="pending" disabled>Pending</option>
            <option value="paid">Paid</option>
            <option value="na">Not Applicable</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>ER Amount</label>
          <p>{{ contribution.er_amt | currency : "₱" }}</p>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>ER Status</label>
          <div class="field" [ngClass]="{'disabled': saving}">
            <select class="ui input dropdown" name="er_status" [(ngModel)]="contribution.er_status">
              <option value="pending" disabled>Pending</option>
              <option value="paid">Paid</option>
              <option value="na">Not Applicable</option>
            </select>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>EC Amount</label>
          <p>{{ contribution.ec_amt | currency : "₱" }}</p>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>EC Status</label>
          <div class="field" [ngClass]="{'disabled': saving}">
            <select class="ui input dropdown" name="ec_status" [(ngModel)]="contribution.ec_status">
              <option value="pending" disabled>Pending</option>
              <option value="paid">Paid</option>
              <option value="na">Not Applicable</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Total</label>
        <p>{{ contribution.total | currency : "₱" }}</p>
      </div>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div>
  
  
  
  
  