<div class="ui left floated main menu">
	<a routerLink="/payroll-groups" class="bug popup icon item" data-content="Edit This Page">
		<i class="angle left icon"></i>
		&nbsp;Back
	</a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
	<div class="sixteen wide column ui segment" style="padding-top: 10px">
	  
		<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
		
		<div class="ui vertical animated button" tabindex="0" routerLink="/payroll-groups/{{ payroll_group?._id }}/edit">
			<div class="hidden content">Edit</div>
			<div class="visible content">
				<i class="edit icon"></i>
			</div>
		</div>
		<!-- <div class="clear clearfix">&nbsp;</div> -->

		<form *ngIf="!mainLoader" class="ui form">
	  		<h4 class="ui dividing header" style="padding-top: 20px">Payroll Group Information</h4>
			<div class="field">
				<label>Name</label>
				<p>
					{{ payroll_group.name }}
				</p>
			</div>

			<div class="field">
				<label>Overall Total</label>
				<p>
					{{ payroll_group.overall_total | currency : "₱" }}
				</p>
			</div>

			<div class="two fields">
				<div class="field">
					<label>Total Incomes</label>
					<p>
						{{ payroll_group.total_incomes | currency : "₱" }}
					</p>
				</div>
				<div class="field">
					<label>Total Deductions</label>
					<p>
						{{ payroll_group.total_deductions | currency : "₱" }}
					</p>
				</div>
      </div>
      
      <div class="two fields">
				<div class="field">
					<label>Total Taxes</label>
					<p>
						{{ payroll_group.total_taxes | currency : "₱" }}
					</p>
				</div>
				<div class="field">
					<label>Total Contributions</label>
					<p>
						{{ payroll_group.total_contributions | currency : "₱" }}
					</p>
				</div>
			</div>
		</form>
	</div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->