/*.ui.floated.menu {
	margin-top:5px;
}*/
.container {
  position: relative;
  width: 100%;
  max-width: 165px;
}

.container img {
  width: 165px;
  height: 165px;
}

.container .upload-btn {
  position: absolute;
  top: 88%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e7e7e7;
  color: black;
  font-size: 15px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: center;
  opacity: 0.6;
  width: 165px;
  transition: 0.2s;
}

.ui.form input, button {
  display: inline-block;
}

.ui.form button {
  height: 35px;
}

.container .upload-btn:hover {opacity: .8}