<div class="clearfix">
  <div class="ui grid">
   
    <div class="ten wide column">
      <div class="ui grid">
        <div class="four wide column">
          <div class="container">
            <input style="display: none" type="file" [(ngModel)]="employee.file" name="file" (change)="onFileChanged($event)" #fileInput>
            <div *ngIf="fileUploading" class="ui active centered inline loader"> </div>
            <div *ngIf="!fileUploading">
              <img src="{{ employee.photo | images :  {id: employee._id, type: 'user_avatar', gender: employee.gender} }}">
              <button class="upload-btn fluid ui button" (click)="fileInput.click()">Change</button>
              <input type="hidden" name="photo" [(ngModel)]="employee.photo" /> 
            </div>
              
          </div>
        <div class="clear clearfix">&nbsp;</div>
        <!-- Progress Bar -->
        <!-- <div class="ui active progress" *ngIf="fileUploading">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label">Uploading Image</div>
        </div>
        <div class="ui progress success" data-percent="100" *ngIf="fileUploaded && !fileUploading && fileUploadTriggered">
          <div class="bar" style="width: 100%;">
            <div class="progress">100%</div>
          </div>
          <div class="label">Everything worked, your file is all ready.</div>
        </div>
        <div class="ui progress error" data-percent="100" *ngIf="!fileUploaded && !fileUploading && fileUploadTriggered">
          <div class="bar" style="width: 100%;">
            <div class="progress">100%</div>
          </div>
          <input style="display: none; font-size: 13px" type="file" [(ngModel)]="employee.file" name="file" (change)="onFileChanged($event)" #fileInput>
          <div class="ui bottom attached button">
            <input type="hidden" name="photo" [(ngModel)]="employee.photo" />
          </div>            
        </div> -->
        <!--End of Progress Bar  -->
        </div>
        <div class="twelve wide column">
          <h2 class="ui large header">
            <div class="content">
                {{ employee?.first_name }} {{ employee?.last_name }} 
              <div class="sub header">
                  {{ employee?.job_title }}
              </div>             
            </div>
          </h2>
          <div class="description">
            <i class="envelope icon"></i>
              {{ employee?.email }}
          </div>
          <div class="description">
            <i class="phone icon"></i>
            {{ employee?.contact_nos }}
          </div>
          <div class="description" (mouseenter)="mouseHovering()" (mouseleave)="mouseLeft()">
            <form class="ui form" (ngSubmit)="update()" *ngIf="isHovering">
               <div class="field" [ngClass]="{'disabled': saving}">
                <div class="fields">
                  <div class="sixteen wide field">
                    <input name="newMood" [(ngModel)]="newMood" placeholder="Share what you are up to.">
                    <!-- <input type="text" name="newMood" > -->
                  </div>
                  <button class="ui green basic button" type="submit">Save</button>
                </div>
              </div>
            </form>
            <div *ngIf="!isHovering">
              <p>"{{ employee?.mood ? employee.mood : 'Share what you are up to.'}}"</p>
            </div>
          </div>
        
          <div class="ui negative message" *ngIf="!fileUploaded && !fileUploading && fileUploadTriggered">
            <p>
              {{ fileUploadingMsg }}
            </p>
          </div>
        </div>
      </div>
       
    </div>

  </div>  
</div>

<div class="ui left floated main menu">
  <a routerLink="/employees" class="bug popup icon item">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clearfix clear">&nbsp;</div>

<div class="ui grid">
  <div class="four wide column">
    <app-update-main-menu [employee]='employee'></app-update-main-menu>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment" style="border: 0; box-shadow: none; padding: 0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>




