<div class="ui left floated main menu">
  <a routerLink="/payrolls" class="bug popup icon item">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<!-- <div class="clear clearfix">&nbsp;</div> -->

<app-payrolls-update-main-menu [payroll]='payroll'></app-payrolls-update-main-menu>

<div class="clear clearfix">&nbsp;</div>

<router-outlet></router-outlet>