<div>
	<button routerLink="/employees-login-restrictions/create" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
  </button>
  
  <div class="ui left floated main menu" >
    <a routerLink="/login-restrictions" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table *ngIf="!mainLoader && restrictions.length" class="ui compact celled table">
	<thead class="full-width">
    <tr>
    <th>Employee</th>
    <th>Restriction Name</th>
	  <th>Type</th>
	  <th>IP/MAC Address</th>
    <th width="50px"></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let restriction of restrictions">
      <td width="250">
        <h4 class="ui image header">
            <img [routerLink]="['/employees/' + restriction.employee?._id]" class="ui mini rounded image"
              src="{{ restriction.employee?.photo | images :  {id: restriction.employee?._id, type: 'user_avatar', gender: restriction.employee?.gender} }}"
              >
            <div class="content">
              <a [routerLink]="['/employees/' + restriction.employee?._id]" href="#">{{ restriction.employee?.first_name + ' ' + restriction.employee?.last_name }}</a>
              <div class="sub header">{{ restriction.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </td>
      <td>{{ restriction.restriction?.name }}</td>
      <td>{{ restriction.restriction.type == 'ip' ? 'IP Address' : 'Device Address' }}</td>
      <td>{{ restriction.restriction?.value }}</td>
      <td class="center aligned">
        <div class="ui right floated main menu">
          <a class="bug popup icon item" data-content="Edit This Page" (click)="open(restriction._id)">
            <i class="trash icon"></i>
          </a>
        </div>
      </td>
    </tr>
	</tbody>
    
</table>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div *ngIf="!restrictions.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="users icon"></i>
    No employee login restrictions yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

