<div class="ui left floated main menu">
  <a routerLink="/leaves" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>


<div class="ui grid" style="padding: 15px">  
    <div class="sixteen wide column ui segment">
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <div class="ui form" *ngIf="!mainLoader">
        <h4 class="ui dividing header">Leave Information</h4>
        <div class="four fields">
          <div class="field ">
            <label>Name</label>
          </div>
          <div class="field ">
            <p>
              {{ leave ? leave.employee?.first_name + ' ' + leave.employee?.last_name : '' }}
            </p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Date</label>
          </div>
          <div class="field ">
            <p>{{leave?.date | amLocal | amDateFormat: 'YYYY-MM-DD'}}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Type</label>
          </div>
          <div class="field ">
            <p>{{ leave ? leaveTypes[leave.type] : 'Unspecified' }} </p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Reason</label>
          </div>
          <div class="field ">
            <p>{{ leave ? leave.reason : 'Unspecified' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Status</label>
          </div>
          <div class="field ">
            <p>{{ leave?.status }}</p>
          </div>
        </div>

      </div>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
    </div>


    <button *ngIf="(leave && ( leave?.status == 'disapproved' || leave?.status == 'pending' ) )" class="ui button right floated positive" (click)="open('approved')" >APPROVE</button>
    <button *ngIf="(leave && ( leave?.status == 'approved' || leave?.status == 'pending' ) )" class="ui button left floated negative" (click)="open('disapproved')">DISAPPROVE</button>
	</div>
</div>
