<div *ngIf="withPerm">
	<button routerLink="/holidays/create" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
  </button>
  
  <div class="clearfix">&nbsp;</div>
  <div class="ui divider"></div>
</div>

<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader && holidays.length" class="ui compact celled table attendance-table-wrap">
	<thead class="full-width">
    <tr>
      <th>Holiday</th>
      <th>Date</th>
      <th>Type</th>
      <th>Description</th>
      <th width="50px"></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let holiday of holidays">
      <td>{{ holiday.name }}</td>
      <td>{{ holiday.date | amLocal | amDateFormat: 'YYYY-MM-DD' }}</td>
      <td>{{ holiday.type === 'non-working' ? 'Non-working' : 'Working' }}</td>
      <td>{{ holiday.description }}</td>
      <td class="center aligned" *ngIf="withPerm">
        <div class="ui right floated main menu">
          <a class="bug popup icon item" data-content="Edit This Page" (click)="open(holiday._id)">
            <i class="trash icon"></i>
          </a>
        </div>
      </td>
    </tr>
	</tbody>
    
</table>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div *ngIf="!holidays.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="calendar outline icon"></i>
    No holidays for this month.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

