<div class="ui left floated main menu">
  <a routerLink="/payslips" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Payslip Information</h4>
      <div class="four fields">
        <div class="field ">
          <label>Employee</label>
        </div>
        <div class="field ">
          <p>
            {{ payslip.employee?.first_name + ' ' + payslip.employee?.last_name }}
          </p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Payroll</label>
        </div>
        <div class="field ">
          <p>{{ payslip.payroll?.name }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Pay Period</label>
        </div>
        <div class="field ">
          <p>{{ payslip.payroll?.pay_period_from | date }} - {{ payslip.payroll?.pay_period_to | date }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Total Income</label>
        </div>
        <div class="field ">
          <p>₱ {{ payslip?.total_incomes }}</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Total Deductions</label>
        </div>
        <div class="field ">
            <p>₱ {{ payslip?.total_deductions }}</p>
        </div>
      </div>

    </div>
  </div> 

  <div class="sixteen wide column ui segment" > 
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader" >
      <h4 class="ui dividing header">Additional Income</h4>
      <div *ngIf="!incomes.length" class="ui message">
        <div class="header">
          No Results
        </div>
        <p>No additional income found.</p>
      </div>
      <div class="two fields" *ngFor="let income of incomes">
        <div class="field ">
          <label>Description</label>
          <p>{{ income?.description }}</p>  
        </div>
        <div class="field">
          <label>Amount</label>
          <p>₱ {{ income?.amount }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sixteen wide column ui segment" > 
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader" >
      <h4 class="ui dividing header">Additional Deduction</h4>
      <div *ngIf="!deductions.length" class="ui message">
        <div class="header">
          No Results
        </div>
        <p>No additional deduction found.</p>
      </div>
      <div class="two fields" *ngFor="let deduction of deductions">
        <div class="field ">
          <label>Description</label>
          <p>{{ deduction?.description }}</p>
        </div>
        <div class="field">
          <label>Amount</label>
          <p>₱ {{ deduction?.amount }}</p>
        </div>
      </div>
    </div>
  </div>

  
</div> <!-- END second column ui grid form  -->