<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui positive message" *ngIf="loading">
            <span>Please wait while we verify your company.</span>
        </div>
        <div class="ui positive message" *ngIf="successMsg">
            <p>{{ successMsg }}</p>
        </div>
        <div class="ui negative message" *ngIf="errorMsg">
            <p>{{ errorMsg }}</p>
        </div>
    </div>
</div>