<div class="ui left floated main menu">
  <a routerLink="/employees-login-restrictions" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<div *ngIf="!mainLoader && !employees.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>There are no employees yet in your company.</p>
</div>

<div *ngIf="!mainLoader && !login_restrictions.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>There are no login restrictions yet in your company.</p>
</div>

<div class="ui grid" style="padding: 15px" *ngIf="!mainLoader && employees.length && login_restrictions.length">
  <div class="sixteen wide column ui segment">
    <form class="ui form">
      <h4 class="ui dividing header">Create Employee Login Restriction</h4>
      <div class="field">
        <label>Employee</label>
        <select name="emp_id" class="ui dropdown" [(ngModel)]="user_restriction.emp_id">
          <option *ngFor="let employee of employees" value="{{ employee._id }}"> {{ employee.first_name + ' ' + employee.last_name }} </option>
        </select>
      </div>

      <div class="field">
        <label>Login Restriction</label>
        <select class="ui dropdown" name="type" [(ngModel)]="user_restriction.restriction_id">
          <option *ngFor="let login_restriction of login_restrictions" value="{{ login_restriction._id }}"> {{ login_restriction.name }} : {{ login_restriction.type == 'ip' ? 'IP Address' : 'MAC Address' }} - {{ login_restriction?.value }} </option>
        </select>
      </div>

    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div> 