<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <form *ngIf="!mainLoader && !employee.results_count" class="ui form">
      <h4 class="ui dividing header">Leaves Information</h4>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Leave Type</th>
            <th>Credit</th>
            <th>Used</th>
            <th>Pending</th>
            <th width="150">Update Credit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Sick Leave
            </td>
            <td>
              {{ employee.leaves.SL.credit }}
            </td>
            <td>
              {{ employee.leaves.SL.used }}
            </td>
            <td>
              {{ employee.leaves.SL.pending }}
            </td>
            <td>
              <input type="number" name="employee.leaves.SL.credit" [(ngModel)]="employee.leaves.SL.credit">
            </td>
          </tr>

          <tr>
            <td>
              Vacation Leave
            </td>
            <td>
              {{ employee.leaves.VL.credit }}
            </td>
            <td>
              {{ employee.leaves.VL.used }}
            </td>
            <td>
              {{ employee.leaves.VL.pending }}
            </td>
            <td>
              <input type="number" name="employee.leaves.VL.credit" [(ngModel)]="employee.leaves.VL.credit">
            </td>
          </tr>

          <tr>
            <td>
              Emergency Leave
            </td>
            <td>
              {{ employee.leaves.EL.credit }}
            </td>
            <td>
              {{ employee.leaves.EL.used }}
            </td>
            <td>
              {{ employee.leaves.EL.pending }}
            </td>
            <td>
              <input type="number" name="employee.leaves.EL.credit" [(ngModel)]="employee.leaves.EL.credit">
            </td>
          </tr>

          <tr>
            <td>
              Paternity Leave
            </td>
            <td>
              {{ employee.leaves.PL.credit }}
            </td>
            <td>
              {{ employee.leaves.PL.used }}
            </td>
            <td>
              {{ employee.leaves.PL.pending }}
            </td>
            <td>
              <input type="number" name="employee.leaves.PL.credit" [(ngModel)]="employee.leaves.PL.credit">
            </td>
          </tr>

          <tr>
            <td>
              Maternity Leave
            </td>
            <td>
              {{ employee.leaves.ML.credit }}
            </td>
            <td>
              {{ employee.leaves.ML.used }}
            </td>
            <td>
              {{ employee.leaves.ML.pending }}
            </td>
            <td>
              <input type="number" name="employee.leaves.ML.credit" [(ngModel)]="employee.leaves.ML.credit">
            </td>
          </tr>
          
        </tbody>
      </table>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->
  
  
<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" (click)="update()">SAVE</button>
  </div>
</div>
