<div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">

        <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

        <form *ngIf="!mainLoader" class="ui form">
          <h4 class="ui dividing header">Salary Information</h4>

          <div class="four fields">
              <div class="field" [ngClass]="{'disabled': saving}" *ngIf="employee.salary_type == 'monthly-fixed'">
                <label>Monthly Fixed Rate</label>
                  <div class="field" [ngClass]="{'disabled': saving}">
                    <input type="number" name="basic_salary" [(ngModel)]="employee.basic_salary" placeholder="i.e. 15000">
                  </div>
              </div>
              
              <div class="field" [ngClass]="{'disabled': saving}" *ngIf="employee.salary_type == 'bi-monthly-fixed'">
                <label>Bi-Monthly Fixed Rate</label>
                  <div class="field" [ngClass]="{'disabled': saving}">
                    <input type="number" name="basic_salary" [(ngModel)]="employee.basic_salary" placeholder="i.e. 7500">
                  </div>
              </div>

          
              <div class="field" [ngClass]="{'disabled': saving}" *ngIf="employee.salary_type == 'weekly-fixed'">
                <label>Weekly Fixed Rate</label>
                  <div class="field" [ngClass]="{'disabled': saving}">
                    <input type="number" name="basic_salary" [(ngModel)]="employee.basic_salary" placeholder="i.e. 3750">
                  </div>
              </div>

              <div class="field" [ngClass]="{'disabled': saving}" *ngIf="employee.salary_type == 'monthly' || employee.salary_type == 'bi-monthly' || employee.salary_type == 'weekly'">
                <label>Daily Rate</label>
                  <div class="field" [ngClass]="{'disabled': saving}">
                    <input type="number" name="basic_salary" [(ngModel)]="employee.basic_salary" placeholder="680">
                  </div>
              </div>

              <div class="field" [ngClass]="{'disabled': saving}">
                <label>Salary Mode</label>
                <select class="ui dropdown" name="salary_type" [(ngModel)]="employee.salary_type">
                  <option value="monthly-fixed" selected="selected">Monthly Fixed</option>
                  <option value="bi-monthly-fixed" selected="selected">Bi-Monthly Fixed</option>
                  <option value="weekly-fixed" selected="selected">Weekly Fixed</option>
                  <option value="monthly" selected="selected">Monthly( Daily Computation )</option>
                  <option value="bi-monthly" selected="selected">Bi-Monthly( Daily Computation )</option>
                  <option value="weekly" selected="selected">Weekly( Daily Computation )</option>
                </select>
              </div>
          </div>
          <div class="four fields">
            <div class="field">
              <label>With COLA</label>
              <input type="checkbox" name="with_cola" [(ngModel)]="employee.with_cola"> with COLA
            </div>
            <div class="field" *ngIf="employee.with_cola">
              <div class="field" [ngClass]="{'disabled': saving}">
                <label>COLA Rate</label>
                <input type="number" name="cola_rate" [(ngModel)]="employee.cola_rate" placeholder="i.e. 7500">
              </div>
            </div>
          </div>
        </form>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div>




