<app-front-main-menu></app-front-main-menu>

<div class="ui grid main-banner-wrap">
  <!-- LEFT -->
  <div class="eleven wide column left-wrapper">
    <h1 class="ui header signup-headline" >QloudHR - Your Smart HR</h1>
    <h5 style="font-weight: normal">"Let QloudHR automates your HR process so you can focus on your business."</h5>
    <button class="ui primary button">LEARN MORE</button>
  </div>

  <!-- RIGHT -->
  <div class="five wide column right-wrapper">
    <div class="form-wrap center aligned">

      <form class="ui large form" (ngSubmit)="onSubmit()">
        <h3 class="signup-header ui aligned center">
            Try QloudHR Demo
        </h3>
        <div class="ui segment basic" style="margin-top: 30px; padding: 0">
          <div class="field">
            <div class="ui left icon input">
              <i class="icon user"></i>
              <input type="text" name="full_name" placeholder="Full Name" [(ngModel)]="user.full_name" required>
            </div>
          </div> 
          <div class="field">
            <div class="ui left icon input">
              <i class="icon building"></i>
              <input type="text" name="company_name" placeholder="Company Name" [(ngModel)]="user.company_name" required>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="icon envelope"></i>
              <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="icon phone"></i>
              <input type="text" name="contact_no" placeholder="Contact Number" [(ngModel)]="user.contact_no" required>
            </div>
          </div>            
          <div class="field">
            <div class="ui left icon input">
              <select class="ui input dropdown" name="company_size" [(ngModel)]="user.company_size" aria-placeholder="Compay Size">
                <option value="">Select Company Size</option>
                <option value="A">1-10 employees</option>
                <option value="B">11-50 employees</option>
                <option value="C">51-200 employees</option>
                <option value="D">201-500 employees</option>
                <option value="E">501-1,000 employees</option>
                <option value="F">1,001-5,000 employees</option>
                <option value="G">5,001-10,000 employees</option>
                <option value="H">10,001+ employees</option>
              </select>
            </div>
          </div>

          <div class="ui positive message" *ngIf="successMsg">
            <p [innerHTML]="successMsg"></p>
          </div>
          <div class="ui negative message" *ngIf="errorMsg">
            <p [innerHTML]="errorMsg"></p>
          </div>

          <button class="ui fluid large primary submit button" [ngClass]="{'disabled': saving}" type="submit">{{ saving ? 'Processing...' : 'REQUEST DEMO' }}</button>
        </div>
      </form>

    </div>
  </div>
</div> <!-- /main-banner-wrap -->

<!-- <div class="how-it-works">
  <h1>How It Works</h1>
  <p class="desc">Innovate and grow with us.</p>
  
  <div class="ui column container">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    </p>
    <p>
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
    </p>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. This is it man. </p>
    
  </div>
    
</div>
    
<div class="what-should-know">
  <h1>What you should know before your first Investment</h1>
  <a class="ui button learn-btn" type="submit">CLICK TO LEARN</a>
</div> -->

<!-- <app-front-what-they-say></app-front-what-they-say> -->

<app-front-footer></app-front-footer>
