<div *ngIf="withPerm">
  <div class="ui left floated main menu">
    <a routerLink="/designations" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
  <button routerLink="/user-designations/create" class="ui primary button right floated">
    <i class="icon add"></i>
    New Employee Designation
  </button>

  <div class="ui action left icon input">
    <form class="ui form">
      <div class="field" [ngClass]="{'disabled': empLoader}">
        <select name="designation_id" [(ngModel)]="params.designation_id" class="ui dropdown" [ngClass]="{'disabled': designationLoader}" (change)="get()">
          <option value="" *ngIf="designations.length">All Designations</option>
          <option value="" *ngIf="!designations.length">No Designations</option>
          <option *ngFor="let designation of designations" value="{{ designation._id }}">{{ designation?.title }}</option>
        </select>
      </div>
    </form>
    <form class="ui form" style="margin-left: 10px">
      <div class="field" [ngClass]="{'disabled': mainLoader}">
        <select name="day" [(ngModel)]="params.day" class="ui dropdown" [ngClass]="{'disabled': designationLoader}" (change)="get()">
          <option value="" *ngIf="designations.length">Show All</option>
          <option *ngFor="let day of days" value="{{ day }}">{{ day }}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="clear clearfix"></div>
  <div class="ui divider"></div>
</div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table *ngIf="!mainLoader && user_designations.length" class="ui compact celled table designation-table-wrap">
	<thead class="full-width">
    <tr>
      <th>Employee</th>
      <th>Day</th>
      <th>Designation</th>
      <th>Daily Rate</th>
      <th>1st Clock</th>
      <th>2nd Clock</th>
      <th>Status</th>
      <th width="50"></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let user_designation of user_designations">

      <td width="250">
        <h4 class="ui image header">
            <img [routerLink]="['/employees/' + user_designation.employee?._id]" class="ui mini rounded image"
              src="{{ user_designation.employee?.photo | images :  {id: user_designation.employee?._id, type: 'user_avatar', gender: user_designation.employee?.gender} }}"
              >
            <div class="content">
              <a [routerLink]="['/employees/' + user_designation.employee?._id]" href="#">{{ user_designation.employee?.first_name + ' ' + user_designation.employee?.last_name }}</a>
              <div class="sub header">{{ user_designation.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </td>
      <td>{{ user_designation?.day }}</td>
      <td>{{ user_designation.designation?.title }}</td>
      <td>₱{{ user_designation.designation?.rate }}</td>
      <td>{{ user_designation.designation.time_in ? user_designation.designation.time_in + ' - ' + user_designation.designation.time_out : 'Unspecified' }}</td>
      <td>{{ user_designation.designation.time_in2 ? user_designation.designation.time_in2 + ' - ' + user_designation.designation.time_out2 : 'Unspecified' }}</td>
      <td>
        <p class="ui label" [ngClass]="{ 'orange': (user_designation.status == 'pending'), 'green': (user_designation.status == 'approved'), 'red': (user_designation.status == 'disapproved') }">
          {{ user_designation.status }}
        </p>
      </td>

      
      <td class="centered aligned">
        <div class="ui left floated main menu">
          <a [routerLink]="['/user-designations/' + user_designation._id + '/show']" class="bug popup icon item" data-content="Edit This Page" href="#">
            <i class="folder open outline icon"></i>
          </a>
          <a class="bug popup icon item" *ngIf="withPerm" data-content="Edit This Page" (click)="open(user_designation._id)">
            <i class="trash icon"></i>
          </a>
        </div>
      </td>
    </tr>
    
	</tbody>    
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>

<div *ngIf="!user_designations.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="id badge outline icon"></i>
    No employee designations yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>