<h1>MY SUBSCRIPTION</h1>
<div class="ui grid">
  <div  class="eight wide column">
    <div class="ui segment">
        <h3 class="bold">Current Subscription:</h3>
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <div *ngIf="!mainLoader" class="description" style="margin-top: 10px">
        <div class="ui form">
          <div class="field">
            <label>Plan Type</label>
            <p>
              {{ currentSub?.plan_type }} - {{ subscriptions[currentSub?.plan_type]?.desc }}
            </p>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Charge</label>
              <p>
                {{ subscriptions[currentSub?.plan_type]?.price | currency : "₱" }} /month
              </p>
            </div>
            <div class="field">
              <label>Charge</label>
              <p>
                {{  currentSub?.interval_count }} months
              </p>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Total Amount</label>
              <p>
                {{ currentSub?.total_amount | currency : "₱" }}
              </p>
            </div>
            <div class="field">
              <label>Status</label>
              <p class="ui {{ currentSub?.paid == true ? 'green' : currentSub?.paid == false ? 'orange' : 'grey' }} label ">
                {{ currentSub?.paid == true ? 'Paid' : currentSub?.paid == false ? 'Pending' : 'Not Available' }}
              </p>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Last Payment</label>
              <p>
                {{ currentSub?.start_at | date:'MMMM d, y' }}
              </p>
            </div>
            <div class="field">
              <label>Next Payment</label>
              <p>
                {{ currentSub?.expired_at | date:'MMMM d, y' }}
              </p>
            </div>
          </div> 
        </div>
        
        <!-- <button *ngIf="currentSub?.plan_type != 'A'" class="ui button right floated primary" (click)="cancel( currentSub )">CANCEL</button> -->
        <!-- <button *ngIf="subscription?.plan_type != 'A' &&  subscription?.paid" class="ui button right floated primary" (click)="open('disapproved')">CANCEL</button> -->
        <div class="clear clearfix">&nbsp;</div>
      </div>
    </div>
  </div>
  <div *ngIf="awaitingSub" class="eight wide column">
    <div class="ui segment" >
      <h3 class="bold">Awaiting for Payment:</h3>
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <div *ngIf="!mainLoader" class="description" style="margin-top: 10px">
          <div class="ui form">
            <div class="field">
              <label>Plan Type</label>
              <p>
                {{ awaitingSub?.plan_type }} - {{ subscriptions[awaitingSub?.plan_type]?.desc }}
              </p>
            </div>
            <div class="two fields">
              <div class="field">
                <label>Charge</label>
                <p>
                  {{ subscriptions[awaitingSub?.plan_type]?.price | currency : "₱" }} /month
                </p>
              </div>
              <div class="field">
                <label>Plan Duration</label>
                <p>
                  {{ awaitingSub?.interval_count }} months
                </p>
              </div>
            </div>
  
            <div class="two fields">
              <div class="field">
                <label>Total Amount</label>
                <p>
                  {{ awaitingSub?.total_amount | currency : "₱" }}
                </p>
              </div>
              <div class="field">
                <label>Status</label>
                <p class="ui {{ awaitingSub?.paid == true ? 'green' : awaitingSub?.paid == false ? 'orange' : 'grey' }} label ">
                  {{ awaitingSub?.paid == true ? 'Paid' : awaitingSub?.paid == false ? 'Pending' : 'Not Available' }}
                </p>
              </div>
            </div>
            <div class="clear clearfix">&nbsp;</div>
            <button *ngIf="awaitingSub && awaitingSub?.plan_type != 'A'" class="ui button right floated primary" (click)="cancel( awaitingSub )">CANCEL</button>
          </div>
        
        <!-- <button *ngIf="subscription?.plan_type != 'A' &&  subscription?.paid" class="ui button right floated primary" (click)="open('disapproved')">CANCEL</button> -->
        <div class="clear clearfix">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="clear clearfix">&nbsp;</div> -->
<div class="ui grid">
  <div class="sixteen wide column">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <table class="ui compact celled table" *ngIf="!mainLoader">
      <thead class="full-width">
        <tr>
          <th>Plan Type</th>
          <th>Pricing</th>
          <th>Active Employees</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let sub of subs">
          <td>{{ sub.plan_type }}</td>
          <td>{{ sub.price | currency : "₱" }}</td>
          <td>{{ sub.desc }}</td>
          <td>
            <button [disabled]="sub.plan_type == currentSub?.plan_type && !isExpired" class="ui fluid basic button" [routerLink]="['/subscriptions/' + sub.plan_type ]">
              <i class="plus circle icon"></i>
              Subscribe
            </button>
          </td>
        </tr>
      </tbody>    
    </table>
  </div>
</div>

<!-- <div class="footer clear clearfix" style="margin-top: 15px" *ngIf="!mainLoader">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

  </div>
</div> -->
