<div>
	<div class="ui action left icon input" *ngIf="withPerm">
    <form class="ui form">
      <div class="field" [ngClass]="{'disabled': empLoader}">
        <select name="emp_id" [(ngModel)]="params.emp_id" class="ui dropdown" [ngClass]="{'loading': empLoader}">
          <option value="">All Employees</option>
          <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
        </select>
      </div>
    </form>
    <button class="ui button right floated primary" [ngClass]="{'disabled': searching}" (click)="emp()" style="margin-left: 20px">Go</button>
  </div>

  <button routerLink="/leaves/create" class="ui primary button right floated" style="margin-top: 8px;">
    <i class="icon add"></i>
    New Application
  </button>

  <button routerLink="/leave-credits" class="ui primary button right floated" style="margin-top: 8px;">
    <i class="icon calendar alternate"></i>
    Employees Leave Credits
  </button>

  <h2 class="ui header" *ngIf="!withPerm" style="margin-top: 0">
    <img src="{{ user.photo | images : {id: user._id, type: 'user_avatar', gender: user.gender} }}" class="ui circular image" style="margin-right: 10px">
    {{ user.first_name + ' ' + user.last_name }}
  </h2>

</div>


<div class="clearfix" *ngIf="!withPerm">&nbsp;</div>
<div class="ui divider"></div>

<div class="ui grid" *ngIf="!withPerm">
  <div class="sixteen wide column">
    <div class="ui segment">
      <h3>Leave Credits</h3>
      <div class="ui statistics" style="text-align: center">
        <div class="statistic">
          <div class="value">
            {{ leave_credits?.SL }}
          </div>
          <div class="label">
            Sick Leave
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{ leave_credits?.VL }}
          </div>
          <div class="label">
            Vacation Leave
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{ leave_credits?.EL }}
          </div>
          <div class="label">
            Emergency Leave
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{ leave_credits?.ML }}
          </div>
          <div class="label">
            Maternity Leave
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{ leave_credits?.PL }}
          </div>
          <div class="label">
            Paternity Leave
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div class="clearfix" *ngIf="!withPerm">&nbsp;</div>
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table div *ngIf="!mainLoader && leaves.length" class="ui compact celled table leave-table-wrap">
	<thead class="full-width">
        <tr>
            <th *ngIf="withPerm">Employee</th>
            <th>Leave Date</th>
            <th>Type</th>
            <th>Reason</th>
            <th width="80">Status</th>
            <th width="50" *ngIf="withPerm"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let leave of leaves">
        
        <td *ngIf="withPerm">
            <h4 class="ui image header">
                <img [routerLink]="['/employees/' + leave.employee?._id]" class="ui mini rounded image"
                  src="{{ leave.employee?.photo | images :  {id: leave.employee?._id, type: 'user_avatar', gender: leave.employee?.gender} }}"
                  >
                <div class="content">
                  <a [routerLink]="['/employees/' + leave.employee?._id]" href="#">{{ leave.employee?.first_name + ' ' + leave.employee?.last_name }}</a>
                  <div class="sub header">{{ leave.employee.job_title ? leave.employee.job_title : 'Unspecified' }}</div>
              </div>
            </h4>
        </td>
       
        <td width="200">
          {{leave.date | amLocal | amDateFormat: 'YYYY-MM-DD'}}
        </td>
        <td width="150">
          {{ leaveTypes[leave.type] }}
        </td>
        <td width="250">
          {{leave.reason ? leave.reason : 'Unspecified'}}
        </td>
        <td>
          <a class="ui {{ leave.status === 'approved' ? 'green' : (leave.status === 'disapproved' ? 'red' : 'orange') }} label " *ngIf="leave.status" >
            {{ leave.status }}
          </a>
        </td>
        <td class="center aligned" *ngIf="withPerm"> 
          <div class="ui left floated main menu">
            <a [routerLink]="['/leaves/' + leave._id]" class="popup icon item" data-content="Submit Bug Report" href="#">
              <i class="folder open outline icon"></i>
            </a>
            <a *ngIf="leave.status === 'pending'" [routerLink]="['/leaves/' + leave._id + '/edit']" class="bug popup icon item" data-content="Edit This Page" href="#">
              <i class="edit icon"></i>
            </a>
          </div>
        </td>
    </tr>
    
	</tbody>
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>


<div *ngIf="!leaves.length && !mainLoader" class="ui placeholder segment" style="text-align: center">
  <div class="ui icon header">
    <i class="calendar outline icon"></i>
    No employee leave at the moment.
  </div>
</div>