<div >
  <button routerLink="/overtimes/create" class="ui primary button right floated" *ngIf="withPerm">
    <i class="icon add"></i>
    New Overtime
  </button>

  <div class="ui action left icon input" *ngIf="withPerm">
    <form class="ui form">
      <div class="field" [ngClass]="{'disabled': empLoader}">
        <select name="emp_id" [(ngModel)]="params.emp_id" class="ui dropdown" [ngClass]="{'disabled': empLoader}" >
          <option value="">All Employees</option>
          <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
        </select>
      </div>
    </form>
    <button class="ui button right floated primary" [ngClass]="{'disabled': searching}" (click)="get()" style="margin-left: 10px">Go</button>
  </div>
</div>
  
<div class="clear clearfix"></div>

<div class="ui divider" *ngIf="withPerm"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !overtimes.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No overtime in this query.</p>
</div>


<table *ngIf="!mainLoader && overtimes.length" class="ui compact celled table overtime-table-wrap">
	<thead class="full-width">
        <tr>
            <th>Employee</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Rate</th>
            <th width="80">Status</th>
            <th width="50" *ngIf="withPerm"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let overtime of overtimes">
      <td width="250">
        <h4 class="ui image header">
          <img [routerLink]="['/employees/' + overtime.employee?._id]" class="ui mini rounded image"
            src="{{ overtime.employee?.photo | images :  {id: overtime.employee?._id, type: 'user_avatar', gender: overtime.employee?.gender} }}"
            >
          <div class="content">
            <a [routerLink]="['/employees/' + overtime.employee?._id]" href="#">{{ overtime.employee?.first_name + ' ' + overtime.employee?.last_name }}</a>
            <div class="sub header">{{ overtime.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </td>

      <td>
        <h4 class="ui header">
          <div class="content">
            <div>{{ overtime?.time_in | date:'longDate'}}</div>
            <div class="sub header">{{ overtime?.time_in | date:'mediumTime'}}</div>
          </div>
        </h4>
      </td>

      <td>
        <h4 class="ui header">
          <div class="content">
            <div>{{ overtime?.time_out | date:'longDate'}}</div>
            <div class="sub header">{{ overtime?.time_out | date:'mediumTime'}}</div>
          </div>
        </h4>
      </td>

      <td>{{ overtime.ot_rate || 'Unspecified' }}</td>

      <td>
        <p
          class="ui label"
          [ngClass]="{
            'orange': (overtime.status == 'pending'), 
            'green': (overtime.status == 'approved'), 
            'red': (overtime.status == 'disapproved')
        }">
        {{ overtime.status }}
        </p>
      </td>
      <td class="centered aligned" *ngIf="withPerm">
        <div class="ui left floated main menu">
          <a [routerLink]="['/overtimes/' + overtime._id + '/show']" class="bug popup icon item" data-content="Edit This Page" href="#">
            <i class="folder open outline icon"></i>
          </a>
          <a [routerLink]="['/overtimes/' + overtime._id + '/edit']" *ngIf="overtime.status == 'pending'" class="bug popup icon item" data-content="Edit This Page" href="#">
            <i class="edit icon"></i>
          </a>
        </div>
      </td>
    </tr>
    
	</tbody>    
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>