<div>
	<div class="ui action left icon input" *ngIf="withPerm">
    <form class="ui form">
      <div class="field" [ngClass]="{'disabled': empLoader}">
        <select name="emp_id" [(ngModel)]="params.emp_id" class="ui dropdown" [ngClass]="{'loading': empLoader}">
          <option value="">All Employees</option>
          <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
        </select>
      </div>
    </form>
    <button class="ui button right floated primary" [ngClass]="{'disabled': searching}" (click)="getEmp()" style="margin-left: 20px">Go</button>
  </div>
  
  <button routerLink="/loans/create" class="ui primary button right floated" style="margin-top: 8px;">
		<i class="icon add"></i>
		New Application
  </button>
  
  <h2 class="ui header" *ngIf="!withPerm" style="margin-top: 0">
    <img src="{{ user.photo | images : {id: user._id, type: 'user_avatar', gender: user.gender} }}" class="ui circular image" style="margin-right: 10px">
    {{ user.first_name + ' ' + user.last_name }}
  </h2>

</div>

<div class="ui divider"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table div *ngIf="!mainLoader && loans.length" class="ui compact celled table loan-table-wrap">
	<thead class="full-width">
        <tr>
            <th *ngIf="withPerm">Employee</th>
            <th>Amount</th>
            <th>Interest</th>
            <th>Date of Loan</th>
            <th width="80">Status</th>
            <th width="50"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let loan of loans">
        
        <td *ngIf="withPerm">
            <h4 class="ui image header">
                <img [routerLink]="['/employees/' + loan.employee?._id]" class="ui mini rounded image"
                  src="{{ loan.employee?.photo | images :  {id: loan.employee?._id, type: 'user_avatar', gender: loan.employee?.gender} }}"
                  >
                <div class="content">
                  <a [routerLink]="['/employees/' + loan.employee?._id]" href="#">{{ loan.employee?.first_name + ' ' + loan.employee?.last_name }}</a>
                  <div class="sub header">{{ loan.employee.job_title ? loan.employee.job_title : 'Unspecified' }}</div>
              </div>
            </h4>
        </td>
        <td>{{ loan.amount | currency : "₱" }}</td>
        <td>{{ loan.with_interest ? loan.interest : 'No interest' }}</td>
        <td>{{ loan?.start_date | amDateFormat: 'YYYY-MM-DD' }}</td>
        <td>
          <a class="ui {{ loan.status === 'approved' ? 'green' : (loan.status === 'disapproved' ? 'red' : 'orange') }} label " *ngIf="loan.status" >
            {{ loan.status }}
          </a>
        </td>
        <td class="center aligned "> 
          <div class="ui left floated main menu">
            <a [routerLink]="['/loans/' + loan._id]" class="popup icon item" data-content="Submit Bug Report" href="#">
              <i class="folder open outline icon"></i>
            </a>
            <a *ngIf="withPerm && loan.status === 'pending'" [routerLink]="['/loans/' + loan._id + '/edit']" class="bug popup icon item" data-content="Edit This Page" href="#">
              <i class="edit icon"></i>
            </a>
          </div>
        </td>
    </tr>
    
	</tbody>
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>


<div *ngIf="!loans.length && !mainLoader" class="ui placeholder segment" style="text-align: center">
  <div class="ui icon header">
    <i class="calendar outline icon"></i>
    No employee loan at the moment.
  </div>
</div>