<div class="ui left floated main menu">
  <a routerLink="/freedom-board" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div *ngIf="!mainLoader && !results_count" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No available departments.</p>
</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<div class="ui grid" style="padding: 15px" *ngIf="!mainLoader && departments.length">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Freedom Board</h4>

          <div class="two fields" [ngClass]="{'disabled': saving}">
            <div class="field">
              <label>Department</label>
              <select name="department_id" [(ngModel)]="rating.department_id" class="ui dropdown">
                <option *ngFor="let department of departments" value="{{ department._id }}">{{ department.name }}</option>
              </select>
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Rating</label>
              <select name="rating" [(ngModel)]="rating.rating" class="ui dropdown">
                <option *ngFor="let ratings of ratings" value="{{ ratings.id }}">{{ ratings.id }}</option>
              </select>
            </div>
          </div>

          <div class="field" [ngClass]="{'disabled': saving}">
              <label>Comment</label>
            <textarea name="comment" [(ngModel)]="rating.comment" rows="3" placeholder="Leave a comment here."></textarea>
          </div>

        </form>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>