<div class="ui left floated main menu">
	<a routerLink="/payrolls" class="bug popup icon item" data-content="Edit This Page">
		<i class="angle left icon"></i>
		&nbsp;Back
	</a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
	<div class="sixteen wide column ui segment" style="padding-top: 10px">
	  
		<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

		<div *ngIf="(payroll && payroll?.status == 'pending' )" class="ui vertical animated button " tabindex="0" (click)="open('deleted')">
			<div class="hidden content">Delete</div>
			<div class="visible content">
				<i class="trash icon"></i>
			</div>
		</div>

		<!-- <div class="clear clearfix">&nbsp;</div> -->

		<form *ngIf="!mainLoader" class="ui form">
	  		<h4 class="ui dividing header" style="padding-top: 20px">Payroll Information</h4>
			<div class="field">
				<label>Name</label>
				<p>
					{{ payroll.name }}
				</p>
			</div>

			<div class="two fields">
				<div class="field">
					<label>Type</label>
					<p>{{ payroll.salary_type }}</p>
				</div>
				<div class="field">
					<label>Status</label>
					<p>
						{{ payroll.status }}
					</p>
				</div>
			</div>

			<div class="two fields">
				<div class="field">
					<label>Pay Period From:</label>
					<p>
						{{ payroll.pay_period_from | amLocal | amDateFormat: 'YYYY-MM-DD' }}
					</p>
				</div>
				<div class="field">
					<label>To:</label>
					<p>
						{{ payroll.pay_period_to | amLocal | amDateFormat: 'YYYY-MM-DD' }}
					</p>
				</div>
			</div>
		</form>
	</div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>

<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
    </div>


    <button *ngIf="withPerm && payroll?.status == 'pending'" class="ui button right floated positive" (click)="open('approved')" >APPROVE</button>
	<button *ngIf="withPerm && payroll?.status == 'pending'" class="ui button left floated negative" (click)="open('disapproved')">DISAPPROVE</button>
	<!-- <button *ngIf="payroll" class="ui button left floated" (click)="delete()">
		<i class="ui trash icon"></i> Delete</button>
	</div> -->
</div>


