<div class="ui left floated main menu">
  <a routerLink="/user-designations" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>
<div *ngIf="!empLoader && !employees.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>There are no employees yet in your company or this company branch.</p>
</div>
<div *ngIf="!designationLoader && !designations.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>There are no designations yet in your company or this company branch.</p>
</div>

<div class="ui grid" style="padding: 15px" >
  <div class="sixteen wide column ui segment">
    <div *ngIf="empLoader || designationLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <form class="ui form" *ngIf="!empLoader && !designationLoader">
      <h4 class="ui dividing header">Add Employee Designation</h4>

      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Employee</label>
          <select name="employee_id" class="ui dropdown" [(ngModel)]="user_designation.user_id">
            <option *ngFor="let employee of employees" value="{{ employee._id }}"> {{ employee.first_name + ' ' + employee.last_name }} </option>
          </select>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Status</label>
          <select name="status" class="ui dropdown" [(ngModel)]="user_designation.status">
            <option value="pending">Pending</option>
            <option value="approved">Approved</option>
          </select>
        </div>
      </div>

      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Day</label>
        <select name="day" class="ui dropdown" [(ngModel)]="user_designation.day">
          <option *ngFor="let day of days" value="{{ day }}"> {{ day }} </option>
        </select>
      </div>

      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Designation</label>
        <select name="designation_id" class="ui dropdown" [(ngModel)]="user_designation.designation_id">
          <option *ngFor="let designation of designations" value="{{ designation._id }}"> {{ designation.title }} </option>
        </select>
      </div>
      
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div> 