<app-header></app-header>
<div class="panels">
	<!-- For loading transition -->
	<div class="loader"></div>

	<!-- Sidebar -->
	<div id="sidebar">
		<app-sidebar></app-sidebar>
	</div>

	<!-- Main content -->
	<div class="main {{ pageName }}" [style.background]="mainBG">
		<router-outlet></router-outlet>
	</div>
</div>