<div class="ui left floated main menu">
  <a routerLink="/payrolls" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div>
	<button routerLink="/payroll-groups/create" class="ui primary button right floated" style="margin: 0 0 0 20px; min-height: 42px;">
		<i class="icon add"></i>
		New Payroll Group
  </button>
</div>

<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader" class="ui four column stackable grid">
    <div *ngFor="let item of [0,1,2,3,4,5,6,7]" class="column">
      <div class="ui raised segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="medium line"></div>
            <div class="short line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !payroll_groups.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No payroll groups found in this query.</p>
</div>

<section *ngIf="!mainLoader && payroll_groups.length" >
  <div class="ui five column grid">
    <div class="column" *ngFor='let payroll_group of payroll_groups'>
      <div [routerLink]="['/payrolls']" [queryParams]="{payroll_group_id: payroll_group._id}" class="ui card payroll">
        <div class="content">
          <div class="center aligned header">{{ payroll_group.name }}</div>         
        </div>
        <!-- <div class="extra content">
          <div class="ui basic button"
            [routerLink]="['/payroll-groups/' + payroll_group._id + '/show']" style="margin-top: 5px">
            <i class="info icon"></i>
            Details
          </div>
        </div> -->
      </div> <!-- /card -->
    
    </div>
  </div>
</section>

<div class="clearfix">&nbsp;</div>



<div *ngIf="paginator?.pagesTo" class="ui right floated pagination menu">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>