<div >
  <div class="ui left floated main menu" >
    <a class="ui item" routerLink="/user-designations" >Employee Designations</a>
  </div>

  <button routerLink="/designations/create" class="ui primary button right floated" *ngIf="withPerm">
    <i class="icon add"></i>
    New Designation
  </button>
</div>
  
<div class="clear clearfix"></div>
<div class="ui divider"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table *ngIf="!mainLoader && designations.length" class="ui compact celled table designation-table-wrap">
	<thead class="full-width">
        <tr>
            <th>Title</th>
            <th>Daily Rate</th>
            <th>Overtime Rate</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Break</th>
            <th>2nd Clock In</th>
            <th>2nd Clock Out</th>
            <th width="50" *ngIf="withPerm"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let designation of designations">

      <td>{{ designation?.title }}</td>
      <td>{{ designation?.rate | currency : "₱" }}</td>
      <td>{{ designation?.ot_rate | currency : "₱" }}</td>
      <td>{{ designation.time_in ? designation.time_in : '---' }}</td>
      <td>{{ designation.time_out ? designation.time_out : '---' }}</td>
      <th>{{ designation.with_break ? 'With Break' : 'No Break' }}</th>
      <td>{{ designation.time_in2 ? designation.time_in2 : '---' }}</td>
      <td>{{ designation.time_out2 ? designation.time_out2 : '---' }}</td>
      
      <td class="centered aligned" *ngIf="withPerm">
        <div class="ui left floated main menu">
          <a [routerLink]="['/designations/' + designation._id + '/edit']" class="bug popup icon item" data-content="Edit This Page" href="#">
            <i class="edit icon"></i>
          </a>
          <a class="bug popup icon item" data-content="Edit This Page" (click)="open(designation._id)">
            <i class="trash icon"></i>
          </a>
        </div>
      </td>
    </tr>
    
	</tbody>    
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>

<div *ngIf="!designations.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="id badge outline icon"></i>
    No designations yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>