
.main-banner-wrap {
    min-height: 100%;
    margin-top: 30px;
}
.ui.form {
    max-width: 450px;
    margin-top: 50px;
}
.logo {
    width: 150px;
}
.signup-headline {
    font-size: 40px !important;
    color: #fff;
    
    text-align: center;
    text-shadow: 2px 2px 8px #333;
    font-weight: bold !important
}

.signup-headline span {
	font-weight: 600
}

.right-wrapper {
    background: #fff
}

.left-wrapper {
    background: url('/assets/images/banners/home/home-banner1.jpg') #f2f2f2 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 50px !important;
    text-align: center
}

.left-wrapper h5 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.how-it-works {
    background: #f2f2f2;
    color: #333;
    /* text-align: center; */
    padding: 50px;
} 

.learn-btn {
    padding: 20px;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.how-it-works .desc{
    text-align: center;
}
.steps-wrap {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}

.how-it-works h1 {
    font-size: 50px !important;
    color: #0f8da4;
    text-align: center;
    /* text-shadow: 2px 2px 8px #333; */
    font-weight: bold !important;
    margin: 0 auto;
}

.what-should-know {
    background: #0f8da4;
    color: #fff;
    text-align: center;
    padding: 100px;
} 
.what-should-know h1 {
    font-size: 50px !important;
    color: #fff;
    text-align: center;
    /* text-shadow: 2px 2px 8px #333; */
    font-weight: bold !important;
    width: 700px;
    margin: 0 auto;
}

.signup-header {
    font-size: 40px;
}

.signup-header span {
    font-weight: 600
}
