<app-front-main-menu></app-front-main-menu>

<div class="ui grid main-banner-wrap">
    <!-- LEFT -->
    <div class="ten wide column left-wrapper">
        <h1 class="ui header signup-headline" >Farming the Future</h1>
        <h5>"Farmers make a vital contribution to food security and to the economic, social and environmental wellbeing of the greater population."</h5>
        <button class="ui primary button">Join Now!</button>
    </div>

    <!-- RIGHT -->
    <div class="six wide column right-wrapper">
            
        <div class="form-wrap center aligned">
               
            <form class="ui large form" (ngSubmit)="onSubmit()">
                <h2 class="signup-header">
                    Admin | 
                    <span>QloudHR 1.0</span>
                </h2>
                <div class="ui segment basic">
        
                    <h4 class="ui dividing header">Personal Information</h4>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="first_name" placeholder="First Name" [(ngModel)]="user.first_name" required>
                        </div>
                        <div class="field">
                            <input type="text" name="last_name" placeholder="Last Name" [(ngModel)]="user.last_name" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <select class="ui dropdown" name="gender" [(ngModel)]="user.gender" placeholder="Gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="icon user circle outline"></i>
                            <input type="email" name="user_email" placeholder="Email" [(ngModel)]="user.user_email" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required minlength="6">
                        </div>
                    </div>
        
                    <h4 class="ui dividing header">Company Information</h4>
                    <div class="field">
                        <input type="text" name="name" placeholder="Company Name" [(ngModel)]="user.name" required>
                    </div>
                    <div class="field">
                        <input type="text" name="address" placeholder="Address" [(ngModel)]="user.address" required>
                    </div>            
                    <div class="field">
                        <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
                    </div>
        
                    <div class="ui positive message" *ngIf="successMsg">
                        <p [innerHTML]="successMsg"></p>
                    </div>
        
                    <div class="ui negative message" *ngIf="errorMsg">
                        <p [innerHTML]="errorMsg"></p>
                    </div>
        
                    <button class="ui fluid large primary submit button" [ngClass]="{'disabled': signupProcessing}" type="submit">{{ signupProcessing ? 'Processing...' : 'Create' }}</button>
        
                </div>
        
                <!-- <div class="ui error message"></div> -->
                
            </form>
        
            <div>
                Already have an account? <a href="#" routerLink="/login/{{ slug }}">Back to Login!</a>
            </div>
        </div>
    </div>
</div> <!-- /main-banner-wrap -->

<div class="how-it-works">
        <h1>How It Works</h1>
        <p class="desc">Innovate and grow with us.</p>
        <div class="ui column container">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
            <p>
               It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
            </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. This is it man. </p>
          
        </div>
        
    </div>
    
    <div class="what-should-know">
      <h1>What you should know before your first Investment</h1>
      <a class="ui button learn-btn" type="submit">CLICK TO LEARN</a>
    </div>
    
    <app-front-what-they-say></app-front-what-they-say>
    
    <app-front-footer></app-front-footer>
