<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      
      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Work Information</h4>
        <div class="four fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>SSS</label>
            <input type="text" name="sss" [(ngModel)]="employee.sss" placeholder="04-0751449-0">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>PhilHealth</label>
            <input type="text" name="philhealth" [(ngModel)]="employee.philhealth" placeholder="">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>PAG-IBIG</label>
            <input type="text" name="pagibig" [(ngModel)]="employee.pagibig" placeholder="">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>TIN</label>
            <input type="text" name="tin" [(ngModel)]="employee.tin" placeholder="">
          </div>
        </div>
        
      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>
