

<div class="ui vertical menu">
  <div class="item">
      <h4 class="ui header">QR Code</h4>
      <div style="text-align: center">
        <img *ngIf="qr_code && !qrLoader" class="qr-img" src="{{ qr_code | images :  {id: sharedData._id, type: 'qr_code'} }}">
        <button *ngIf="!qr_code && !qrLoader" class="ui button" (click)="gen_qr()">Generate QR Code</button>
        <div *ngIf="qrLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Please wait..</div>
      </div>      
      
  </div>
  <div class="item">
    <h4 class="ui header">Personal Information</h4>
    <div class="menu">
      <a class="bug popup item" routerLink="/employees/{{ employee._id }}/edit/personal">
      Personal
      </a>
      <a class="item"  routerLink="/employees/{{ employee._id }}/edit/benefits">
      Goverment / Benefits
      </a>

      <a class="item" routerLink="/employees/{{ employee._id }}/edit/social">
      Social
      </a>

      <a class="bug popup item" routerLink="/employees/{{ employee._id }}/edit/documents">
      Documents
      </a>

      <a class="bug popup item" routerLink="/employees/{{ employee._id }}/edit/password">
      Password
      </a>
    </div>
  </div>
  

  <div class="item">
    <h4 class="ui header">Work</h4>
    <div class="menu">
      <a class="bug popup item" routerLink="/employees/{{ employee._id }}/edit/work">
      Work
      </a>
    </div>
  
  </div>

<!-- BOTTOM -->

  <div class="item">
    <h4 class="ui header"> Salary</h4>
    <div class="menu">
      <a class="item" routerLink="/employees/{{ employee._id }}/edit/salary">
      Salary
      </a>

      <a class="item"  routerLink="/employees/{{ employee._id }}/edit/earnings">
        Earnings
      </a>

      <a class="item"  routerLink="/employees/{{ employee._id }}/edit/deductions">
      Deductions
      </a>
    </div>
  </div>

  <div class="item">
    <h4 class="ui header"> Permissions</h4>
    <div class="menu">
      <a class="item" routerLink="/employees/{{ employee._id }}/edit/permissions">
      Manage Permissions
      </a>
    </div>
  </div>


  
</div>


