<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Work Information</h4>
        <div class="field" [ngClass]="{'disabled': saving}">
            <label>Employee ID</label>
            <div class="field" [ngClass]="{'disabled': saving}">
              <input type="text" name="emp_ID" [(ngModel)]="employee.emp_ID">
            </div>
        </div>
        <div class="four fields" [ngClass]="{'disabled': saving}">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Job Title</label>
            <input type="text" name="job_title" [(ngModel)]="employee.job_title" placeholder="Software Engineer">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Department</label>
            <select class="ui dropdown" [(ngModel)]="employee.department_id" name="department_id">
              <option value="0">None</option>
              <option *ngFor="let department of departments" value="{{ department._id }}">{{ department.name }}</option>
            </select>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Designation</label>
            <input type="text" name="designation" [(ngModel)]="employee.designation" placeholder="Web Design">
          </div>
          
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Branch</label>
            <select class="ui dropdown" [(ngModel)]="employee.branch_id" name="branch_id">
              <option *ngFor="let branch of branches" value="{{ branch._id }}">{{ branch.name }}</option>
            </select>
          </div>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Job Description</label>
            <div class="field" [ngClass]="{'disabled': saving}">
              <textarea name="job_description"  [(ngModel)]="employee.job_description" ></textarea>
            </div>
        </div>
        <div class="three fields" [ngClass]="{'disabled': saving}">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Employment Status</label>
            <div class="field" [ngClass]="{'disabled': saving}">
              <select class="ui dropdown" name="employment_status" [(ngModel)]="employee.employment_status">
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Casual">Casual</option>
              </select>
            </div>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Status</label>
            <div class="field" [ngClass]="{'disabled': saving}">
              <select class="ui dropdown" name="status" [(ngModel)]="employee.status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="awol">Absent without Leave</option>
                <option value="resigned">Resigned</option>
              </select>
            </div>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Date Joined</label>
            <div class="field" [ngClass]="{'disabled': saving}">
              <input type="date" name="date_joined" [(ngModel)]="employee.date_joined" max="{{ date | date  : 'yyyy-MM-dd'}}">
            </div>
          </div>
        </div>
      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>
