<div class="ui left floated main menu">
  <a routerLink="/payrolls" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <form class="ui form">
      <h4 class="ui dividing header">Payroll Information</h4>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="payroll.name" placeholder="Name">
        </div>
        <div class="field">
          <label>Type</label>
          <select class="ui dropdown" name="type" [(ngModel)]="payroll.salary_type">
            <option value="monthly-fixed" selected="selected">Monthly Fixed</option>
            <option value="bi-monthly-fixed">Bi-Monthly Fixed</option>
            <option value="weekly-fixed">Weekly Fixed</option>
            <option value="monthly" selected="selected">Monthly</option>
            <option value="bi-monthly">Bi-Monthly</option>
            <option value="weekly">Weekly</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Pay Period From:</label>
          <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input type="date" name="pay_period_from" [(ngModel)]="payroll.pay_period_from">
          </div>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
            <label>To:</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input type="date" name="pay_period_to" [(ngModel)]="payroll.pay_period_to">
            </div>
          </div>
      </div>

      <div class="field" [ngClass]="{'disabled': saving}">
        <input type="checkbox" tabindex="0" name="payroll_group_id" [(ngModel)]="payroll.payroll_group_id" > &nbsp; Add to Payroll Group
      </div>

      <div class="field" [ngClass]="{'disabled': !payroll.payroll_group_id}">
        <label>Payroll Group</label>
        <select name="payroll_group_id" class="ui dropdown" [(ngModel)]="payroll.payroll_group_id" >
          <option *ngFor="let payroll_group of payroll_groups" value="{{ payroll_group._id }}"> {{ payroll_group.name }} </option>
        </select>
      </div>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>




