.testimonials-wrap {
    background: #f2f2f2;
    color: #333;
    padding: 10px;
} 

.testimonials {
    /* background: red !important; */
    background: #f2f2f2;
    padding: 50px;
}

.testimonials-wrap h1 {
    font-size: 50px !important;
    color: #0f8da4;
    text-align: center;
    /* text-shadow: 2px 2px 8px #333; */
    font-weight: bold !important;
    margin: 0 auto;
}

.testimonials .desc{
    text-align: center;
}

.cards-wrap {
    margin-top: 50px;
}