
<div class="testimonials">
  <div class="testimonials-wrap ui container">
    <h1>What they say...</h1>
    <p class="desc">Learn more how people love us.</p>

    <div class="ui three column grid cards-wrap">
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="center aligned header">Awesome!</div>
            <div class="center aligned description">
              <p>Ryan is a student studying Media Management at the New School</p>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg"> Ryan Binas
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="center aligned header">This is it.</div>
            <div class="center aligned description">
              <p>Jale is a student studying Media Management at the New School</p>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jale Hungco
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="center aligned header">My real investment.</div>
            <div class="center aligned description">
              <p>Jennifer is a student studying Media Management at the New School</p>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jennifer Lopez
            </div>
          </div>
        </div>
      </div>

      <div class="column">
          <div class="ui fluid card">
            <div class="content">
              <div class="center aligned header">Fantastic!</div>
              <div class="center aligned description">
                <p>Brandon is a student studying Media Management at the New School</p>
              </div>
            </div>
            <div class="extra content">
              <div class="center aligned author">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/steve.jpg"> Brandon
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="content">
              <div class="center aligned header">Investment I dreamt</div>
              <div class="center aligned description">
                <p>Claire is a student studying Media Management at the New School</p>
              </div>
            </div>
            <div class="extra content">
              <div class="center aligned author">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/stevie.jpg"> Claire
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid card">
            <div class="content">
              <div class="center aligned header">Wonderful System</div>
              <div class="center aligned description">
                <p>Rico Yan is a student studying Media Management at the New School</p>
              </div>
            </div>
            <div class="extra content">
              <div class="center aligned author">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/helen.jpg"> Rico Yan
              </div>
            </div>
          </div>
        </div>
      
    </div>
    
    
  </div>
</div>