<div class="ui menu fixed">
  <div routerLink="/" class="header item">
      <img src="/assets/images/QloudHR-logo.png" class="ui logo">
  </div>
  <a class="item" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us</a>
  <a class="item" routerLink="/features" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Features</a>
  <div class="right menu">
    <a class="item" routerLink="/contact-us"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact us</a>
    <a class="item" routerLink="/request-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FREE Demo</a>
  </div>
</div>