.ui.menu .logo {
    max-width: 55px;
}

.ui.menu .item {
    font-size: 18px
}

.ui.menu .active.item {
    background: #0f8da4;
    color: #fff;
}

.ui.menu .header.item {
    padding: 5px 20px 5px 20px;
}