
:host /deep/ .ui.segment {
	box-shadow: none !important;
}

.ui.circular.segment {
	height: 160px; width: 160px;
	border-radius: 50%;
}

.ui.progress> .label {
	text-align: left;
	font-size: 13px;
}

.seeMore {
	float: right;
}

.latestPayroll {
	text-align: center
}

.attendance-wrap {
	min-height: 200px;
}

.new-employees-wrap, .upcoming-bdays, .upcoming-leaves {
	min-height: 200px;
}

.new-employees-wrap .ui.avatar {
	max-width: 50px;
}


.upcoming-bdays .item {
	margin: 5px;
}
.upcoming-bdays .item:hover { cursor: pointer; }