<div class="ui grid">
  <div class="three wide column">
    <div class="ui circular statistic tiny segment">
      <div *ngIf="payrollLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      <div class="value" *ngIf="!payrollLoader">
        ₱{{ total_payroll }}
      </div>
      <div class="label">
        PAYROLL THIS MONTH
      </div>
    </div>
  </div>

  <div class="three wide column">
    <div class="ui circular statistic small segment">

      <div *ngIf="empLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      <div class="value"  *ngIf="!empLoader" >
        <img src="/assets/images/avatar/male-avatar.png" class="ui circular inline image">
        {{ total_count_emp }}
      </div>
      <div class="label">
        EMPLOYEES
      </div>
    </div>
  </div>

  <div class="three wide column">
    <div class="ui circular statistic small segment">
      <div *ngIf="dtrLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      <div class="value" *ngIf="!dtrLoader">
        {{ today.present }}
      </div>
      <div class="label">
        CLOCKED IN
      </div>
    </div>
  </div>

  <div class="three wide column">
    <div class="ui circular statistic small segment">
      <div *ngIf="dtrLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      <div class="value" *ngIf="!dtrLoader">
        {{ today.absent }}
      </div>
      <div class="label">
        ABSENTS
      </div>
    </div>
  </div>

  <div class="three wide column">
    <div class="ui circular statistic small segment">
      <div *ngIf="dtrLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      <div class="value" *ngIf="!dtrLoader">
        {{ today.late }}
      </div>
      <div class="label">
        LATES
      </div>
    </div>
  </div>
</div>

<div class="ui grid">

  <div class="five wide column">
    <h4 class="ui attached header" style="border-top: 1px solid #d4d4d5">ATTENDANCE SUMMARY</h4>
    <div class="ui attached segment attendance-wrap" style="height: 250px;">
      <div class="ui green medium progress">
        <div class="bar" [style.width.%]="percent.present">
          <div class="progress">{{ percent.present }}%</div>
        </div>
        <div class="label">Present</div>
      </div>
      <div class="ui red medium progress">
        <div class="bar" [style.width.%]="percent.absent">
          <div class="progress">{{ percent.absent }}%</div>
        </div>
        <div class="label">Absent</div>
      </div>
      <div class="ui orange medium progress" >
        <div class="bar" [style.width.%]="percent.late">
          <div class="progress">{{ percent.late }}%</div>
        </div>
        <div class="label">Late</div>
      </div>
      <div class="ui yellow medium progress">
        <div class="bar" [style.width.%]="percent.undertime">
          <div class="progress">{{ percent.undertime }}%</div>
        </div>
        <div class="label">Undertime</div>
      </div>
    </div>   
    
    <h4 class="ui  attached header">LATEST PAYROLL</h4>
    <div class="ui attached segment" >
      <div *ngIf="latestPayrollLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      <div class="ui attached segment latestPayroll"  *ngFor="let latest_payroll of latest_payroll">
        <div class="ui small statistic" *ngIf="!latestPayrollLoader">
          <div class="value">
            {{latest_payroll.overall_total_netpay | currency:'₱'}}
          </div>
          <div class="label">
            Total Net Pay
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="six wide column">

    <div class="ui segment new-employees-wrap">
      <h4 class="ui left floated header">NEW EMPLOYEES</h4>
      <a class="seeMore" *ngIf="!newEmpLoader" routerLink="/employees">See more ...</a>
      <div class="ui clearing divider"></div>
      
      <div *ngIf="newEmpLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>

      <div class="twelve wide column" *ngIf="!newEmpLoader" style="margin-top: 20px;">
        <div class="ui vertical list" *ngFor="let newEmployee of newEmployees">
          <div class="item" style="margin: 5px;">
            <img 
              class="ui avatar image tiny" 
              [routerLink]="['/employees/' + newEmployee._id]"
              src="{{ newEmployee.photo | images : {id: newEmployee._id, type: 'user_avatar', gender: newEmployee.gender} }}"
              style="min-height: 50px">
            <div class="content" style="margin-left: 10px; margin-top: 10px;">
              <div class="header">
                <a [routerLink]="['/employees/' + newEmployee._id]" href="#">{{ newEmployee.first_name + ' ' + newEmployee.last_name }}</a>
              </div>
              {{ newEmployee.job_title ? newEmployee.job_title : 'Unspecified' }}
            </div>
          </div>
        </div>

        <div *ngIf="!newEmployees.length" class="ui message">
          <p>No new employees.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="five wide column">

    <div class="ui segment upcoming-bdays">
      <h4 class="ui left floated header">UPCOMING BIRTHDAYS</h4>
      <a class="seeMore" *ngIf="!birthdaysLoader" routerLink="/employees">See more ...</a>
      <div class="ui clearing divider"></div>

      <div *ngIf="birthdaysLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>

      <div class="twelve wide column" *ngIf="!birthdaysLoader" style="margin-top: 20px;">
        <div [routerLink]="['/employees/' + birthday._id]" class="ui image label large item" *ngFor="let birthday of birthdays | slice:0:10; let i=index">
          <img
            [routerLink]="['/employees/' + birthday._id]"
            src="{{ birthday.photo | images : {id: birthday._id, type: 'user_avatar', gender: birthday.gender} }}"
            >
            {{ birthday.first_name }} &nbsp; &nbsp;
             <i class="birthday cake icon"></i>
        </div>

        <div *ngIf="!birthdays.length" class="ui message">
          <p>No upcoming birthdays.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>


<div class="ui-grid" style="margin-top: 30px;">
  <div class="sixteen wide column">
    <div class="ui segment upcoming-leaves">
      <h4 class="ui left floated header">UPCOMING LEAVES</h4>
      <a class="seeMore" *ngIf="!leavesLoader" routerLink="/leaves">See more ...</a>
      <div class="ui clearing divider"></div>

      <div *ngIf="leavesLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
      
      <div *ngIf="!leavesLoader && !leaves.length" class="ui message">
        <p>No upcoming leaves this month.</p>
      </div>

      <table div *ngIf="!leavesLoader && leaves.length" class="ui compact celled table leave-table-wrap">
        <thead class="full-width">
          <tr>
            <th>Employee</th>
            <th>Leave Date</th>
            <th>Type</th>
            <th>Reason</th>
            <th width="50px"></th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let leave of leaves">
              
            <td>
              <h4 class="ui image header">
                <img [routerLink]="['/employees/' + leave.employee?._id]"
                  class="ui mini rounded image"
                  src="{{ leave.employee?.photo | images :  {id: leave.employee?._id, type: 'user_avatar', gender: leave.employee?.gender} }}"
                  >
                <div class="content">
                  <a [routerLink]="['/employees/' + leave.employee?._id]" href="#">{{ leave.employee?.first_name + ' ' + leave.employee?.last_name }}</a>
                  <div class="sub header">{{ newEmployee?.job_title || '' }}</div>
                </div>
              </h4>
            </td>
              
            <td width="200">
              {{leave.date | amLocal | amDateFormat: 'YYYY-MM-DD'}}
            </td>
            <td width="200">
              {{ leaveTypes[leave.type] }}
            </td>
            <td width="300">
              {{leave.reason ? leave.reason : 'Unspecified'}}
            </td>
            <td class="center aligned "> 
              <div class="ui left floated main menu">
                <a [routerLink]="['/leaves/' + leave._id]" class="popup icon item" data-content="Submit Bug Report" href="#">
                  <i class="folder open outline icon"></i>
                </a>
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>

    </div>
  </div>
</div>