
<div class="ui left floated main menu">
  <a routerLink="/leaves" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="ui action left icon input" style="float: left; width: 500px;" *ngIf="withPerm">
  <select name="emp_id" [(ngModel)]="params.emp_id" class="ui dropdown" [ngClass]="{'disabled': empLoader}" (change)="get()">
    <option value="" selected>All Employees</option>
    <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
  </select>
</div>

<div *ngIf="withPerm">
  <button routerLink="/leave-credits/create" class="ui primary button right floated" >
    <i class="icon add"></i>
    Add
  </button>
</div>


<div class="clearfix">&nbsp;</div>
<div class="ui divider" *ngIf="withPerm"></div>

<div *ngIf="mainLoader">
  <div class="clearfix">&nbsp;</div>
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader && leaves.length" class="ui compact celled table">
	<thead class="full-width">
    <tr>
      <th>Employee</th>
      <th>Leave Type</th>
      <th>Credit</th>
      <th>Used</th>
      <th>Pending</th>
      <th *ngIf="withPerm"></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let leave of leaves">
      <td>
        <h4 class="ui image header">
          <img [routerLink]="['/employees/' + leave.employee?._id]" class="ui mini rounded image"
            src="{{ leave.employee?.photo | images :  {id: leave.employee?._id, type: 'user_avatar', gender: leave.employee?.gender} }}"
            >
          <div class="content">
            <a [routerLink]="['/employees/' + leave.employee?._id]" href="#">{{ leave.employee?.first_name + ' ' + leave.employee?.last_name }}</a>
            <div class="sub header">{{ leave.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </td>
      
      <td>{{ leaveTypes[leave.type] }}</td>
      <td>{{ leave.credit }}</td>
      <td>{{ leave.used }}</td>
      <td>{{ leave.pending }}</td>
      <td class="center aligned" width="50" *ngIf="withPerm">
        <div class="ui left floated main menu">
          <a routerLink="/leave-credits/{{ leave._id }}/edit" class="bug popup icon item" data-content="Edit This Page" href="#" [queryParams]="{emp_id: leave.employee._id}" >
            <i class="edit icon"></i>
          </a>
        </div>
      </td>
    </tr>
	</tbody>
    
</table>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div class="clearfix">&nbsp;</div>
<div *ngIf="!leaves.length && !mainLoader && !params.emp_id" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="icon money bill alternate outline"></i>
    There are no employee with leaves.
  </div>
</div>

<div *ngIf="!leaves.length && !mainLoader && params.emp_id"  style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    This employee does not have any leave.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

