<div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Create Document</h4>
          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Name</label>
              <input type="text" name="name" [(ngModel)]="document.name">
            </div>
            <div class="field">
              <label>File</label>
              <div class="ui active progress" *ngIf="fileUploading">
                <div class="bar">
                  <div class="progress"></div>
                </div>
                <div class="label">Uploading File</div>
              </div>
              <input type="file" [(ngModel)]="document.file" name="file" (change)="onFileChanged($event)">
              <input type="hidden" name="filename" [(ngModel)]="document.filename" />
              
              <div class="ui progress success" data-percent="100" *ngIf="fileUploaded && !fileUploading && fileUploadTriggered">
                <div class="bar" style="width: 100%;">
                  <div class="progress">100%</div>
                </div>
                <div class="label">Everything worked, your file is all ready.</div>
              </div>
    
              <div class="ui progress error" data-percent="100" *ngIf="!fileUploaded && !fileUploading && fileUploadTriggered">
                <div class="bar" style="width: 100%;">
                  <div class="progress">100%</div>
                </div>
                <div class="label">There was an error. {{ fileUploadingMsg }}</div>
              </div>
            </div>
          </div>
        </form>
        
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

    <button class="ui button left floated" routerLink="/employees/{{ emp_id }}/edit/documents">Cancel</button>
		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>