<div class="ui left floated main menu">
  <a [routerLink]="['/teams/' + params.team_id + '/edit']" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div >
	<button [routerLink]="['/teams/' + params.team_id + '/edit/members/create']" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
	</button>
</div>

<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<div *ngIf="mainLoader" class="ui six column stackable grid">
  <div *ngFor="let item of [0,1,2,3,4]" class="column">
    <div class="ui raised segment">
      <div class="ui placeholder">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="medium line"></div>
          <div class="short line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!mainLoader && members.length" class="ui six doubling cards">
  <div class="ui fluid card" *ngFor="let member of members">
    <div class="img-wrap">
      <div class="ui tiny circular image"> 
        <img src="{{ member.employee?.photo | images :  {id: member.employee?._id, type: 'user_avatar', gender: member.employee?.gender} }}">
      </div>
      <div class="header">
        {{ member.employee.first_name + ' ' + member.employee.last_name }}
      </div>
    </div>
    <div class="content" style="text-align: center" (click)="open(member._id)">
      <i class="trash icon"></i>
      Remove
    </div>
  </div>
</div>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div *ngIf="!members.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="users icon"></i>
    No members yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

