.main-banner-wrap {
    min-height: 100%;
    margin-top: 30px;
}
.ui.form {
    max-width: 450px;
    margin-top: 50px;
}
.logo {
    width: 150px;
}
.signup-headline {
    font-size: 50px !important;
    color: #fff;
    
    text-align: center;
    text-shadow: 2px 2px 8px #333;
    font-weight: bold !important
}
.signup-headline span {
	font-weight: 600
}

.right-wrapper{
    background: #fff;
}

.left-wrapper {
    background: url('/assets/images/banners/home/home-banner3.jpg') #f2f2f2 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 50px !important;
    text-align: center  ;   
}
.ui.header{
    color: #0f8da4 !important;
    
}
.ui.list{
    padding-left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.left-wrapper h5 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}


agm-map{
    margin-top: 400px;
    height: 100%;
    width: 100%;
}

.item{
    margin-bottom: 15px;
}