<app-front-main-menu></app-front-main-menu>

<div class="ui grid main-banner-wrap">

		<!-- LEFT -->
		<div class="ten wide column right-wrapper">
			<agm-map [latitude]="latitude"[longitude]="longitude"[zoom]="zoom">
				<agm-marker [latitude]="latitude"[longitude]="longitude">

				</agm-marker>
			</agm-map>
			
		</div>
	  
		<!-- RIGHT -->
		<div class="six wide column right-wrapper">
				<div class="ui list">
					
					<div class="item">
						<i class="large phone icon"></i>
						<div class=content>
							<h3 class="ui header">Call us on:</h3>	
							<div class="description">
								<span>+63 919 683 6445</span>
							</div>
						</div>
					</div>

					<div class="item">
						<i class="large envelope outline icon"></i>
						<div class=content>
							<h3 class="ui header">Email us:</h3>
							<div class="description">
								<span>sales@qloudhr.com</span>
							</div>
						</div>
					</div>
								
					<div class="item">
						<i class="large building icon"></i>
						<div class=content>
						<h3 class="ui header">Location</h3>
							<div class="description">
								<span>Room 203, 2nd Floor,
								GTBI Building, WVSU,<br>
								La Paz Iloilo City,
								Philippines 5000</span>
							</div>
						</div>
					</div>
						

					<div class="item">
						<i class="large globe icon"></i>
						<div class=content>
							<h3 class="ui header">
							Website
							</h3>
							<div class="description">
								<a class="ui link" style="color: #000;">https://www.qloudhr.com</a>
							</div>
						</div>
					</div>
				</div>
		</div>
	  
	</div> <!-- /main-banner-wrap -->

<app-front-footer></app-front-footer>