<div class="ui attached message">
  <div class="header">
    Change Employee Password
  </div>
</div>
<div class="ui attached fluid segment">
  <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
  <form *ngIf="!mainLoader" class="ui form clearfix">
      <div *ngIf="ownProfile" class="field" [ngClass]="{'disabled': saving}">
        <label>Current Password</label>
        <div class="buttonInside">
          <input type="password" name="current_password" [(ngModel)]="current_password">
          <button class="showPass" type="button" title="Did you enter your password correctly?" 
            onmousedown="current_password.type='text';" 
            onmouseup="current_password.type='password';" 
            onmouseout="current_password.type='password';"><i class="eye icon"></i>
          </button>
        </div>
      </div>
  
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>New Password</label>
        <div class="buttonInside">
          <input type="password" name="new_password" [(ngModel)]="new_password">
          <button class="showPass" type="button" title="Did you enter your password correctly?" 
            onmousedown="new_password.type='text';" 
            onmouseup="new_password.type='password';" 
            onmouseout="new_password.type='password';"><i class="eye icon"></i>
          </button>
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
          <label>Confirm Password</label>
          <div class="buttonInside">
            <input type="password" name="confirm_password" [(ngModel)]="confirm_password">
            <button class="showPass" type="button" title="Did you enter your password correctly?" 
              onmousedown="confirm_password.type='text';" 
              onmouseup="confirm_password.type='password';" 
              onmouseout="confirm_password.type='password';"><i class="eye icon"></i>
            </button>
          </div>
        </div>
    
    <div class="ui blue submit primary button pull-right" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</div>
  </form>
</div>


<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
  <div class="ui bottom attached success message" *ngIf="successMsg">
    <i class="close icon" (click)="isCloseMsg=true"></i>
    <div class="header">Success</div>
    <p [innerHTML]="successMsg"></p>
  </div>

  <div class="ui bottom attached negative message" *ngIf="errorMsg">
    <i class="close icon" (click)="isCloseMsg=true"></i>
    <div class="header">Error</div>
    <p [innerHTML]="errorMsg"></p>
  </div>
</div>