.buttonInside{
    position:relative;
    margin-bottom:10px;
}

.showPass{
    position:absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border:none;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding: 2px;    
}