
<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader" class="ui compact celled table attendance-table-wrap">
	<thead class="full-width">
        <tr>
			<th width="250px">Date and Time</th>
			<th width="150px">Type</th>
            <th>Description</th>
        </tr>
	</thead>

	<tbody>
		<tr *ngFor="let notif of notifs">
			<td>
				<h4 class="ui header">
					{{ notif?.createdAt | date:'longDate'}}
					<div class="sub header">
						{{ notif?.createdAt | date:'shortTime' }}
					</div>
				</h4>
			</td>
			<td>{{ notif?.type }}</td>
			<td>{{ notif?.description }}</td>
	    </tr>
	</tbody>
    
</table>


<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	
