

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment" style="padding-top: 10px">
    <div>
      <button routerLink="/employees/{{ params.emp_id }}/edit/documents/create" class="ui primary button right floated" style="margin-top: 8px;">
        <i class="icon add"></i>
        New Document
      </button>
    </div>
    
    <div class="clearfix">&nbsp;</div>
    <div class="ui divider"></div>

    <div *ngIf="mainLoader">
      <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
        <div class="image header">
          <div class="medium line"></div>
          <div class="full line"></div>
        </div>
      </div>
    </div>
    
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
  
    <table *ngIf="!mainLoader && documents.length" class="ui compact celled table">
      <thead class="full-width">
        <tr>
          <th>Name</th>
          <th>Filename</th>
          <th width="50"></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor='let document of documents'>
          <td>{{ document.name }}</td>
          <td><img src="{{ document.filename | images : 'document' : params.emp_id }}" style="width: 200px;"></td>
          <!-- <td>{{ document.filename }}</td> -->
          <td class="center aligned ">
                  
            <div class="ui right floated main menu">
              <!-- <a [routerLink]="['/employees/' + emp_id + '/show' + document._id]" class="popup icon item" data-content="Submit Bug Report" href="#">
                <i class="folder open outline icon"></i>
              </a> -->
              <a class="popup icon item" data-content="Submit Bug Report" (click)="open(document._id)">
                <i class="trash icon"></i>
              </a>
            </div>
          </td>
        </tr>
        
      </tbody>
        
    </table>

    <div *ngIf="!documents.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
      <div class="ui icon header">
        <i class="file alternate outline icon"></i>
        No documents uploaded.
      </div>
    </div>
  
    <div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
      <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
        <i class="left chevron icon"></i>
      </a>
      <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
      <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
        <i class="right chevron icon"></i>
      </a>
    </div>
    <div class="clearfix clear"></div>
    <div class="footer clear clearfix">
      <div class="button-wrap">
        <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
          <div class="ui positive message" *ngIf="successMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Success</div>
            <p [innerHTML]="successMsg"></p>
          </div>
    
          <div class="ui negative message" *ngIf="errorMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorMsg"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
