<div class="ui left floated main menu">
    <a routerLink="/subscriptions" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
  
  <div class="clear clearfix">&nbsp;</div>
  
  <div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
        <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Subscription Information</h4>
        <!-- <div class="field" [ngClass]="{'disabled': saving}">
          <label>Plan Type</label>
          <p>{{ plan_type }} {{ subscriptions[plan_type]?.price | currency : "₱" }} </p>
        </div> -->
        <div class="two fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Plan Type</label>
            <p>{{ plan_type }} - {{ subscriptions[plan_type]?.desc }}</p>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Amount</label>
            <p>{{ subscriptions[plan_type]?.price | currency : "₱" }} </p>
          </div>
        </div>
        <div *ngIf="plan_type != 'A'" class="two fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Interval</label>
            <select  class="ui dropdown" [(ngModel)]="interval_count" name="interval_count">
              <option value="3">Every 3 months</option>
              <option value="6">Every 6 months</option>
              <option value="12">Every 12 months</option>
              <option value="24">Every 24 months</option>
            </select>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Estimated Total</label>
            <p>{{ (subscriptions[plan_type]?.price * (interval_count || 0)) | currency : "₱" }} </p>
          </div>
        </div>

        <div *ngIf="plan_type != 'A'" class="two fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Payment Method</label>
            <select  class="ui dropdown" [(ngModel)]="payment_method" name="payment_method">
              <option value="bank-transfer">Bank Transfer</option>
              <option value="cash">Cash</option>
              <!-- <option value="cc">Credit Card</option> -->
            </select>
          </div>
        </div>
      </form>
    </div> <!-- END first column  -->
  </div> <!-- END second column ui grid form  -->
  
  <div class="clear clearfix">&nbsp;</div>
  <div class="footer clear clearfix">
    <div class="button-wrap">
  
      <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
        <div class="ui positive message" *ngIf="successMsg">
          <i class="close icon" (click)="isCloseMsg=true"></i>
          <div class="header">Success</div>
          <p [innerHTML]="successMsg"></p>
        </div>
  
        <div class="ui negative message" *ngIf="errorMsg">
          <i class="close icon" (click)="isCloseMsg=true"></i>
          <div class="header">Error</div>
          <p [innerHTML]="errorMsg"></p>
        </div>
      </div>
  
      <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="open( sub  )">Subscribe</button>
    </div>
  </div>
  
  
  
  
  