<div class="ui left floated main menu">
    <a routerLink="/billing-transactions" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
  
  <div class="clear clearfix">&nbsp;</div>
  
  <div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <div class="ui form" *ngIf="!mainLoader">
        <h4 class="ui dividing header">Billing Transaction Information</h4>
        <div class="four fields">
          <div class="field ">
            <label>Type of Transaction</label>
          </div>
          <div class="field ">
            <p>
              {{ transaction?.trans_type == 'credit' ? 'Credit' : 'Debit' }}
            </p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Amount Paid</label>
          </div>
          <div class="field ">
            <p>₱ {{ transaction?.amount }}</p>
          </div>
        </div>
      </div>
    </div> 
  </div> <!-- END second column ui grid form  -->