<div class="ui left floated main menu">
  <a routerLink="/supervisors" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div>
	<button routerLink="/supervisors/{{ approver_id }}/create-member" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
	</button>
</div>

<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<div class="ui left aligned grid" >
  <div class="sixteen wide column">
    <div class="ui segment">
      <h2 class="ui image header">
        <img [routerLink]="['/employees/' + approver.employee?._id]" class="ui huge circular image"
          src="{{ approver.employee?.photo | images :  {id: approver.employee?._id, type: 'user_avatar', gender: approver.employee?.gender} }}"
          >
        <div class="content">
          <a [routerLink]="['/employees/' + approver.employee?._id]" href="#">{{ approver.employee?.first_name + ' ' + approver.employee?.last_name }}</a>
          <div class="sub header">{{ approver.employee?.job_title || 'Unassigned' }}</div>
        </div>
      </h2>
    </div>
  </div>
</div>

<div *ngIf="mainLoader" class="ui six column stackable grid">
  <div *ngFor="let item of [0,1,2,3,4,5]" class="column">
    <div class="ui raised segment">
      <div class="ui placeholder">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="medium line"></div>
          <div class="short line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!mainLoader && members.length" class="ui six doubling cards">
  <div class="ui fluid card" *ngFor="let member of members">
    <div class="image">
      <img src="{{ member.employee?.photo | images :  {id: member.employee?._id, type: 'user_avatar', gender: member.employee?.gender} }}">
	</div>
    <div class="content" style="text-align: center" (click)="open(member._id)">
      <i class="trash icon"></i>
      Remove
    </div>
  </div>
</div>


<div *ngIf="!members.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="users icon"></i>
    No members yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

