<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <form class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Daily Work Schedule</h4>
      <table class="ui compact celled table">
        
        <thead class="full-width">
          <tr>
            <th width="50"></th>
            <th>Day</th>
            <th>Time-in</th>
            <th>Time-out</th>
            <th width="120">Break</th>
            <th>Second Time-in</th>
            <th>Second Time-out</th>
          </tr>
        </thead>
      
        <tbody>
          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="mon_enabled" [(ngModel)]="employee.daily_work_schedules.Monday.enabled" [checked]="employee.daily_work_schedules.Monday.enabled" (change)="employee.daily_work_schedules.Monday.enabled = (employee.daily_work_schedules.Monday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Monday</td>
            <td><input name="mon_in" [(ngModel)]="employee.daily_work_schedules.Monday.in" placeholder="09:00" ></td>
            <td><input name="mon_out" [(ngModel)]="employee.daily_work_schedules.Monday.out" placeholder="17:00" ></td>
            <td><input type="checkbox" name="mon_with_break" [(ngModel)]="employee.daily_work_schedules.Monday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Monday.with_break" name="mon_in2" [(ngModel)]="employee.daily_work_schedules.Monday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Monday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Monday.with_break" name="mon_out2" [(ngModel)]="employee.daily_work_schedules.Monday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Monday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="tue_enabled" [(ngModel)]="employee.daily_work_schedules.Tuesday.enabled" [checked]="employee.daily_work_schedules.Tuesday.enabled" (change)="employee.daily_work_schedules.Tuesday.enabled = (employee.daily_work_schedules.Tuesday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Tuesday</td>
            <td><input name="tue_in" [(ngModel)]="employee.daily_work_schedules.Tuesday.in" placeholder="08:00"></td>
            <td><input name="tue_out" [(ngModel)]="employee.daily_work_schedules.Tuesday.out" placeholder="17:00"></td>
            <td><input type="checkbox" name="tue_with_break" [(ngModel)]="employee.daily_work_schedules.Tuesday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Tuesday.with_break" name="tue_in2" [(ngModel)]="employee.daily_work_schedules.Tuesday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Tuesday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Tuesday.with_break" name="tue_out2" [(ngModel)]="employee.daily_work_schedules.Tuesday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Tuesday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="wed_enabled" [(ngModel)]="employee.daily_work_schedules.Wednesday.enabled" [checked]="employee.daily_work_schedules.Wednesday.enabled" (change)="employee.daily_work_schedules.Wednesday.enabled = (employee.daily_work_schedules.Wednesday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Wednesday</td>
            <td><input name="wed_in" [(ngModel)]="employee.daily_work_schedules.Wednesday.in" placeholder="08:00"></td>
            <td><input name="wed_out" [(ngModel)]="employee.daily_work_schedules.Wednesday.out" placeholder="17:00"></td>
            <td><input type="checkbox" name="wed_with_break" [(ngModel)]="employee.daily_work_schedules.Wednesday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Wednesday.with_break" name="wed_in2" [(ngModel)]="employee.daily_work_schedules.Wednesday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Wednesday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Wednesday.with_break" name="wed_out2" [(ngModel)]="employee.daily_work_schedules.Wednesday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Wednesday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="thu_enabled" [(ngModel)]="employee.daily_work_schedules.Thursday.enabled" [checked]="employee.daily_work_schedules.Thursday.enabled" (change)="employee.daily_work_schedules.Thursday.enabled = (employee.daily_work_schedules.Thursday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Thursday</td>
            <td><input name="thu_in" [(ngModel)]="employee.daily_work_schedules.Thursday.in" placeholder="08:00"></td>
            <td><input name="thu_out" [(ngModel)]="employee.daily_work_schedules.Thursday.out" placeholder="17:00"></td>
            <td><input type="checkbox" name="thu_with_break" [(ngModel)]="employee.daily_work_schedules.Thursday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Thursday.with_break" name="thu_in2" [(ngModel)]="employee.daily_work_schedules.Thursday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Thursday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Thursday.with_break" name="thu_out2" [(ngModel)]="employee.daily_work_schedules.Thursday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Thursday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="fri_enabled" [(ngModel)]="employee.daily_work_schedules.Friday.enabled" [checked]="employee.daily_work_schedules.Friday.enabled" (change)="employee.daily_work_schedules.Friday.enabled = (employee.daily_work_schedules.Friday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Friday</td>
            <td><input name="fri_in" [(ngModel)]="employee.daily_work_schedules.Friday.in" placeholder="08:00"></td>
            <td><input name="fri_out" [(ngModel)]="employee.daily_work_schedules.Friday.out" placeholder="17:00"></td>
            <td><input type="checkbox" name="fri_with_break" [(ngModel)]="employee.daily_work_schedules.Friday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Friday.with_break" name="fri_in2" [(ngModel)]="employee.daily_work_schedules.Friday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Friday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Friday.with_break" name="fri_out2" [(ngModel)]="employee.daily_work_schedules.Friday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Friday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="sat_enabled" [(ngModel)]="employee.daily_work_schedules.Saturday.enabled" [checked]="employee.daily_work_schedules.Saturday.enabled" (change)="employee.daily_work_schedules.Saturday.enabled = (employee.daily_work_schedules.Saturday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Saturday</td>
            <td><input name="sat_in" [(ngModel)]="employee.daily_work_schedules.Saturday.in" placeholder="08:00"></td>
            <td><input name="sat_out" [(ngModel)]="employee.daily_work_schedules.Saturday.out" placeholder="17:00"></td>
            <td><input type="checkbox" name="sat_with_break" [(ngModel)]="employee.daily_work_schedules.Saturday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Saturday.with_break" name="sat_in2" [(ngModel)]="employee.daily_work_schedules.Saturday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Saturday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Saturday.with_break" name="sat_out2" [(ngModel)]="employee.daily_work_schedules.Saturday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Saturday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox">
                <input type="checkbox" value="1" name="sun_enabled" [(ngModel)]="employee.daily_work_schedules.Sunday.enabled" [checked]="employee.daily_work_schedules.Sunday.enabled" (change)="employee.daily_work_schedules.Sunday.enabled = (employee.daily_work_schedules.Sunday.enabled ? 1 : 0)"><label></label>
              </div>
            </td>
            <td>Sunday</td>
            <td><input name="sun_in" [(ngModel)]="employee.daily_work_schedules.Sunday.in" placeholder="08:00"></td>
            <td><input name="sun_out" [(ngModel)]="employee.daily_work_schedules.Sunday.out" placeholder="17:00"></td>
            <td><input type="checkbox" name="sun_with_break" [(ngModel)]="employee.daily_work_schedules.Sunday.with_break"> with break</td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Sunday.with_break" name="sun_in2" [(ngModel)]="employee.daily_work_schedules.Sunday.in2" placeholder="12:00">
              <p *ngIf="!employee.daily_work_schedules.Sunday.with_break" class="italic"><em>No break.</em></p>
            </td>
            <td>
              <input *ngIf="employee.daily_work_schedules.Sunday.with_break" name="sun_out2" [(ngModel)]="employee.daily_work_schedules.Sunday.out2" placeholder="13:00">
              <p *ngIf="!employee.daily_work_schedules.Sunday.with_break" class="italic"><em>No break.</em></p>
            </td>
          </tr>

        </tbody>
      </table>
    </form>

    <div class="clear clearfix">&nbsp;</div>
    <div class="footer clear clearfix">
      <div class="button-wrap">

        <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
          <div class="ui positive message" *ngIf="successMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Success</div>
            <p [innerHTML]="successMsg"></p>
          </div>

          <div class="ui negative message" *ngIf="errorMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorMsg"></p>
          </div>
        </div>

        <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update('workSched')">{{ saving ? 'Saving...' : 'Save' }}</button>
      </div>
    </div>

  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <form class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Other Configurations</h4>
      <table class="ui compact celled table">
        
        <tbody>
          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed" width="50">
              <div class="ui slider checkbox otherConfig">
                <input type="checkbox" value="1" name="allow_ot_late" [(ngModel)]="employee.allow_ot_late" [checked]="employee.allow_ot_late"><label></label>
              </div>
            </td>
            <td>Allow Overtime even Late</td>
          </tr>

          <tr [ngClass]="{'disabled': saving}">
            <td class="collapsed">
              <div class="ui slider checkbox otherConfig">
                <input type="checkbox" value="1" name="other_config" ><label></label>
              </div>
            </td>
            <td>Other Congifurations</td>
          </tr>

        </tbody>
      </table>
    </form>

    <div class="clear clearfix">&nbsp;</div>
    <div class="footer clear clearfix">
      <div class="button-wrap">

        <div *ngIf="!isCloseMsg2" style="margin-bottom: 10px">
          <div class="ui positive message" *ngIf="successMsg2">
            <i class="close icon" (click)="isCloseMsg2=true"></i>
            <div class="header">Success</div>
            <p [innerHTML]="successMsg2"></p>
          </div>

          <div class="ui negative message" *ngIf="errorMsg2">
            <i class="close icon" (click)="isCloseMsg2=true"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorMsg2"></p>
          </div>
        </div>

        <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update('otherConfig')">{{ saving ? 'Saving...' : 'Save' }}</button>
      </div>
    </div>

  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->