<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">User Setting Information</h4>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Field 1</label>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="field1" [(ngModel)]="setting.field1">
          </div>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Field 2</label>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="field2" [(ngModel)]="setting.field2">
          </div>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Field 3</label>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="field3" [(ngModel)]="setting.field3">
          </div>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Field 4</label>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="field4" [(ngModel)]="setting.field4">
          </div>
        </div>
      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
    <button class="ui button left floated" routerLink="/user-settings">Cancel</button>
    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div>
  