<div class="main-wrap">
  <div class="ui middle aligned center aligned grid" >
      <div class="column form-wrap shadow">
          <div class="ui grid">
              <div class="seven wide column welcome-wrap">
                  <img class="img-logo" src="/assets/images/qloud_logo.png" alt="QloudHR Logo">
                  <h2 class="welcome-headline">
                      Welcome Back!
                  </h2>
                  <p class="welcome-sub">
                      One last thing <br>
                      create your new password
                  </p>
              </div>
              <div class="nine wide column reset-wrap">
                  <h2 class="reset-headline">
                      Create Password
                  </h2>
                  <form class="ui large form" (ngSubmit)="onSubmit()">
                      <div class="field" *ngIf="!password_changed || !successMsg">
                        <div class="ui right icon input">
                          <button class="showPass" type="button" title="Did you enter your password correctly?" 
                            onmousedown="new_password.type='text';" 
                            onmouseup="new_password.type='password';" 
                            onmouseout="new_password.type='password';"><i class="eye icon"></i>
                          </button>
                          <input type="password" name="new_password" placeholder="New Password" [(ngModel)]="new_password" required>
                        </div>
                      </div>
                      <div class="field" *ngIf="!password_changed || !successMsg">
                        <div class="ui right icon input">
                          <button class="showPass" type="button" title="Did you enter your password correctly?" 
                            onmousedown="confirm_password.type='text';" 
                            onmouseup="confirm_password.type='password';" 
                            onmouseout="confirm_password.type='password';"><i class="eye icon"></i>
                          </button>
                          <input type="password" name="confirm_password" placeholder="Confirm Password" [(ngModel)]="confirm_password" required>
                        </div>
                      </div>
      
                      <div class="ui positive message" *ngIf="successMsg">
                          <p>{{ successMsg }}</p>
                      </div>
      
                      <div class="ui negative message" *ngIf="errorMsg">
                          <p>{{ errorMsg }}</p>
                      </div>
      
                      <button class="ui fluid large primary submit button" [disabled]="loading" type="submit" [class.loading]="loading" *ngIf="!successMsg">SUBMIT</button> <br>
                  
                      <div class="clear clearfix">&nbsp;</div>
                      <a routerLink="/login">
                          <button class="ui fluid large primary register button" type="button">Back to Login</button>
                      </a>
                  </form>
              </div>
          </div>
          
      </div>
  </div>

</div>



