<div class="ui left floated main menu">
    <a routerLink="/payment-transactions" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
  
  <div class="clear clearfix">&nbsp;</div>
  
  <div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
      <div class="ui form" *ngIf="!mainLoader">
        <h4 class="ui dividing header">Invoice Summary</h4>
        <div class="two fields">
          <div class="field ">
            <label>Payment Date</label>
            <p>
              {{ invoice?.payment_date | date:'MMMM d, y' }}
            </p>
          </div>
          <div class="field ">
            <label>Invoice Number</label>
            <p>
              {{ invoice?.invoice_uid }}
            </p>
          </div>
        </div>
        <div class="two fields">
          <div class="field ">
            <label>Total Amount</label>
            <p>
              {{ invoice?.total_amount | currency : "₱" }}
            </p>
          </div>
          <div class="field ">
            <label>Payment Method</label>
            <p>
              {{ invoice?.payment_method === 'cash' ? 'Cash' : 'Bank Transfer' }}
            </p>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th>Items</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>{{ item?.desc }}</td>
                  <td>{{ item?.price | currency : "₱"}}</td>
                  <td>{{ item?.total | currency : "₱"}}</td>
                  <!-- <td></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </div> <!-- END second column ui grid form  -->