.main-wrap {
    background: 
        url('/assets/images/banners/login/left-bg.png') left no-repeat,
        url('/assets/images/banners/login/top-right-bg.png') right top no-repeat,
        url('/assets/images/banners/login/bottom-bg.png') bottom center no-repeat;
    background-color: #00bfd8;
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-size: auto, 15%, 30%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden !important; 
    
}
.form-wrap {
    max-width: 850px;
    display: table-cell;
    vertical-align: middle;
    background: transparent;
    border-radius: 25px;
    /* height: 500px; */
}
.welcome-wrap {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    height: 100%;
    padding: 80px 0 120px !important;

}

.forgot-wrap {
    padding: 50px 50px 30px !important;
    background-color: #ffff !important; 
    border-top-right-radius: 20px;
    border-bottom-right-radius:  20px;
}
.logo {
    width: 150px;
}
.forgot-headline {
    font-size: 40px;
    color: #14c8df;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
    
}

.grid {
    height: 100%;
}

.ui.segment {
    margin: 0;
}

.ui.primary.submit.button {
    background-color: #00bfd8;
    border: 1px solid #00bfd8;
}

.ui.primary.submit.button:hover {
    background-color: #ffff;
    color: #00bfd8;
    border: 1px solid #00bfd8;
}

.ui.primary.register.button {
    background-color: #ffff;
    color: #00bfd8;
    border: 1px solid #00bfd8;
    margin-top: 40px;
    /* padding-top: 50px */
}

.ui.primary.register.button:hover {
    background-color: #00bfd8;
    color: #ffff;
    border: 1px solid #00bfd8;
    margin-top: 40px;
    /* padding-top: 50px */
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.welcome-headline {
    font-size: 32px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.welcome-sub {
    font-size: 16px;
    font-weight: 100;
}

.img-logo {
    height: 150px;
    width: 150px;
}

.footer-wrap .column{
    text-align: center;
    color: #fff;
}
