<div class="main-wrap">
    <div class="ui middle aligned center aligned grid" >
        <div class="column form-wrap shadow">
            <div class="ui grid">
                <div class="seven wide column welcome-wrap">
                    <img class="img-logo" src="/assets/images/qloud_logo.png" alt="QloudHR Logo">
                    <h2 class="welcome-headline">
                        Having trouble?
                    </h2>
                    <p class="welcome-sub">
                        Don't worry we <br>
                        got you covered.
                    </p>
                </div>
                <div class="nine wide column forgot-wrap">
                    <h2 class="forgot-headline">
                        Forgot Password
                    </h2>
                    <form class="ui large form" (ngSubmit)="onSubmit()">
                        <div class="field" *ngIf="!successMsg">
                            <div class="ui left icon input">
                                <i class="icon user circle outline"></i>
                                <input type="text" name="username" placeholder="Username" [(ngModel)]="employee.username" required>
                            </div>
                        </div>
        
                        <div class="ui positive message" *ngIf="successMsg">
                            <p>{{ successMsg }}</p>
                        </div>
        
                        <div class="ui negative message" *ngIf="errorMsg">
                            <p>{{ errorMsg }}</p>
                        </div>
        
                        <button class="ui fluid large primary submit button" [disabled]="loading" type="submit" [class.loading]="loading" *ngIf="!successMsg">SUBMIT</button> <br>
                    
                        <div class="clear clearfix">&nbsp;</div>
                        <a a routerLink="/login">
                            <button class="ui fluid large primary register button" type="button">Back to Login</button>
                        </a>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

</div>



