.card.fluid {
    max-width: 260px;
}

.ui.pagination.menu {
    margin-top: 30px;
}

.ui.cards>.card .content img {
	height: 35px;
	width:  35px;
}

.ui.segment h3 , button {
	display: inline-block;
	vertical-align: middle;
  	margin: 5px 0;
}

.ui.segment button {
	height: 35px;
	/*text-align: center;*/
}

.search form, button {
	display: inline-block;
}

.profile-img-wrap {
	text-align: center;
	margin-bottom: 15px;
}

.profile-img-wrap img {
	max-width: 90px !important;
	width: 100% !important;
	height: auto !important;
}

.ui.cards .meta, .ui.cards .header {
	text-align: center
}

.ui.cards .description p.info { 
	line-height: 110%;
    margin: 0;
    padding: 5px 0 0 0;
}

.ui.cards .description .lbl { 
	font-weight: normal;
	font-size: 8px;
	color: #8a8a8a;
	line-height: 70%;
	text-transform: uppercase;
}

.ui.cards .basic.buttons { width: 100%}

.card:hover {
    /* cursor: pointer; */
    box-shadow: 0 1px 3px 0 #0f8da4, 0 0 0 1px #0f8da4 !important
}