<div class="search">
  <form (ngSubmit)="get()">
    <div class="ui action left icon input">
      <i class="search icon"></i>
        <input type="text" name="keyword" [(ngModel)]="search.keyword" placeholder="Find employees">
      <button class="ui basic button" type="submit">Search</button>
    </div>

    <div class="ui right floated main menu">
      <a [ngClass]="{'active' : params.sort === 'first_name:1'}" class="ui sort item active " (click)="sort('first_name:1')">A-Z</a>
      <a [ngClass]="{'active' : params.sort === 'first_name:-1'}" class="ui sort item " (click)="sort('first_name:-1')">Z-A</a>
    </div>
  </form>

	<button routerLink="/employees/create" class="ui primary button right floated" style="margin: 0 0 0 20px; min-height: 42px;">
		<i class="icon add"></i>
		New Employee
  </button>
  
  <div class="ui right floated main menu" style="float: right">
    <a [ngClass]="{'active' : params.status === 'active'}" class="ui status item active " (click)="change_status('active')">Active</a>
    <a [ngClass]="{'active' : params.status === 'inactive'}" class="ui status item " (click)="change_status('inactive')">Inactive</a>
  </div>
  
  <div class="ui right floated main menu" style="float: right">
    <a class="ui basic button right floated" [ngClass]="{'active' : params.w === 'upcoming_birthdays'}" class="ui birthday item " (click)="get_birthdays()"><i class="birthday cake icon"></i></a>
  </div>
</div>

<div class="ui compact segments" style="width: 100%" *ngIf="search_txt">
  <div class="ui segment">
    <h3 class="ui  header ">I'm looking for "{{ search.keyword }}". </h3>
    <button (click)="clearQuery()" class="ui primary button right floated ">
     <!--  <i class="icon add"></i> -->
      Clear Query
    </button>
    
  </div>
</div>

<div class="ui divider"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader" class="ui four column stackable grid">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7]" class="column">
    <div class="ui raised segment">
      <div class="ui placeholder">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="medium line"></div>
          <div class="short line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ui dividing header" *ngIf="!results_count && !mainLoader && params.w === ''">
  No record found in your query.
</h3>

<h3 class="ui dividing header" *ngIf="!results_count && !mainLoader && params.w === 'upcoming_birthdays'">
  There are no upcoming birthdays.
</h3>

<div class="ui negative message" *ngIf="errorMsg">
  <div class="header">Error</div>
  <p [innerHTML]="errorMsg"></p>
</div>

<div class="ui cards" >
  <div class="card fluid" *ngFor="let employee of employees">
    <div class="content">
      <div class="profile-img-wrap">
        <img class="ui medium circular image" src="{{ employee.photo | images : {id: employee._id, type: 'user_avatar', gender: employee.gender} }}">
      </div>
      <!-- <img class="left floated mini ui image" src="{{ employee.photo | images : {id: employee._id, type: 'user_avatar', gender: employee.gender} }}"> -->
      <div class="header">
        {{ employee.first_name + ' ' + employee.last_name }}
      </div>
      <div class="meta">
        {{ employee.job_title ? employee.job_title : '' }}
      </div>
      <div class="description" style="text-align: center; margin-bottom: 20px;">
        <em>"{{ employee.mood ? employee.mood : 'Haven\'t assigned status yet.' }}"</em>
      </div>
      <div class="description" style="margin-top: 10px">
        <p class="info">
          <span class="lbl">Employee ID</span><br><span> {{ employee?.emp_ID }}</span>
        </p>
        <p class="info">
          <span class="lbl">Email</span><br><span> {{ employee?.email }}</span>
        </p>
        <p class="info">
            <span class="lbl">Phone</span><br><span> {{ employee?.contact_nos }}</span>
        </p>
        <p class="info" *ngIf="employee?.designation">
            <span class="lbl">Designation</span><br><span> {{ employee?.designation }}</span>
        </p>

      </div>
    </div>
    <div class="extra content">
      <div class="ui basic buttons">
        <div class="ui basic button" [routerLink]="['/employees/' + employee._id + '/edit/personal']">
          <i class="edit icon"></i>
          Update
        </div>
        <div class="ui basic button" [routerLink]="['/employees/' + employee._id]">
          <i class="folder open outline icon"></i>
          View
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="ui divider"></div> -->

<div *ngIf="paginator?.pagesTo" class="ui right floated pagination menu">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>
