<div *ngIf="withPerm">
	<button routerLink="/teams/create" class="ui primary button right floated" >
		<i class="icon add"></i>
		Create
  </button>
  
  <div class="clearfix">&nbsp;</div>
  <div class="ui divider"></div>
</div>

<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader && teams.length" class="ui compact celled table">
	<thead class="full-width">
    <tr>
      <th>Name</th>
      <th>Total Members</th>
      <th>Status</th>
      <th></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.name }}</td>
      <td>{{ team.cnt }}</td>
      <td width="50px">
        <p class="ui label" [ngClass]="{'red': (team.status == 'deactivated'), 'green': (team.status == 'active')}">
          {{ team.status == 'active' ? 'Active' : 'Deactivated' }}
        </p>
      </td>
      <td class="center aligned" width="110px">
        <div class="ui icon  basic dropdown button" suiDropdown >
          <div class="text">Action &nbsp;</div>  
          <i class="dropdown icon"></i>
          <div class="menu" suiDropdownMenu>
              <div class="item" [routerLink]="['/teams/' + team._id + '/show']">
                  <i class="folder open outline icon"></i>
                  Details
              </div>
              <div class="item" [routerLink]="['/teams/' + team._id + '/edit']" *ngIf="withPerm">
                  <i class="edit icon"></i>
                  Edit
              </div>
              <div class="item" (click)="open(team._id)" *ngIf="withPerm">
                <i class="trash icon"></i>
                Delete
              </div>
          </div>
        </div>
      </td>
    </tr>
	</tbody>
    
</table>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div *ngIf="!teams.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="users icon"></i>
    No teams yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

