<div class="ui left floated main menu">
	<a routerLink="/subscriptions" class="bug popup icon item" data-content="Edit This Page">
		<i class="angle left icon"></i>
		&nbsp;Back
	</a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment"> 
    <div class="ui form" *ngIf="plan_type == 'A'">
      <h4 class="ui dividing header">Subscription Information</h4>
      <div class="four fields">
        <div class="field ">
          <label>Plan Type</label>
        </div>
        <div class="field">
          <p>Free</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Cost</label>
        </div>
        <div class="field ">
          <p>₱ 0.00 / month</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Features</label>
        </div>
        <div class="field">
          <p>1-5 employees active</p>
          <p>Time-Tracking</p>
          <p>Employee Management</p>
          <p>Payroll System</p>
          <p>Leave Management</p>
          <p>Multi-Branch Support</p>
          <p>Freedom Board</p>
          <p>Fast and Secure</p>
          <p>Chat Support</p>
        </div>
      </div>
    </div>

    <div class="ui form" *ngIf="plan_type == 'B'">
      <h4 class="ui dividing header">Subscription Information</h4>
      <div class="four fields">
        <div class="field ">
          <label>Plan Type</label>
        </div>
        <div class="field">
          <p>Basic</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Cost</label>
        </div>
        <div class="field ">
          <p>₱ 999.00 / month</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Features</label>
        </div>
        <div class="field">
          <p>6-10 employees active</p>
          <p>Time-Tracking</p>
          <p>Employee Management</p>
          <p>Payroll System</p>
          <p>Leave Management</p>
          <p>Multi-Branch Support</p>
          <p>Freedom Board</p>
          <p>Fast and Secure</p>
          <p>Chat Support</p>
        </div>
      </div>
    </div>

    <div class="ui form" *ngIf="plan_type == 'C'">
      <h4 class="ui dividing header">Subscription Information</h4>
      <div class="four fields">
        <div class="field ">
          <label>Plan Type</label>
        </div>
        <div class="field">
          <p>Standard</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Cost</label>
        </div>
        <div class="field ">
          <p>₱ 1999.00 / month</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Features</label>
        </div>
        <div class="field">
          <p>11-20 employees active</p>
          <p>Time-Tracking</p>
          <p>Employee Management</p>
          <p>Payroll System</p>
          <p>Leave Management</p>
          <p>Multi-Branch Support</p>
          <p>Freedom Board</p>
          <p>Fast and Secure</p>
          <p>Chat Support</p>
        </div>
      </div>
    </div>

    <div class="ui form" *ngIf="plan_type == 'D'">
      <h4 class="ui dividing header">Subscription Information</h4>
      <div class="four fields">
        <div class="field ">
          <label>Plan Type</label>
        </div>
        <div class="field">
          <p>Premium</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Cost</label>
        </div>
        <div class="field ">
          <p>₱ 2499.00 / month</p>
        </div>
      </div>
      <div class="four fields">
        <div class="field ">
          <label>Features</label>
        </div>
        <div class="field">
          <p>21-30 employees active</p>
          <p>Time-Tracking</p>
          <p>Employee Management</p>
          <p>Payroll System</p>
          <p>Leave Management</p>
          <p>Multi-Branch Support</p>
          <p>Freedom Board</p>
          <p>Fast and Secure</p>
          <p>Chat Support</p>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="clear clearfix">&nbsp;</div>

<!-- <div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
    </div>

  <button *ngIf="!subscribed" class="ui button right floated positive" [ngClass]="{'disabled' : saving}" (click)="open()" >{{ saving ? 'Subscribing' : 'Subscribe Now' }}</button>
</div> -->


