<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment" style="padding-top: 10px">
    <div>
      <button routerLink="/employees/{{ employee._id }}/edit/earnings/create" class="ui primary button right floated" style="margin-top: 8px;">
        <i class="icon add"></i>
        Add
      </button>
    </div>

    <div class="clearfix clear"></div>
    <div class="ui divider"></div>

    <div *ngIf="mainLoader">
      <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
        <div class="image header">
          <div class="medium line"></div>
          <div class="full line"></div>
        </div>
      </div>
    </div>
  
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
  
    <table *ngIf="!mainLoader && earnings.length" class="ui compact celled table">
      <thead class="full-width">
        <tr>
          <th>Description</th>
          <th width="200">Amount</th>
          <th width="200">Type</th>
          <th width="50"></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let earning of earnings">
          <td>{{ earning.description }}</td>
          <td>{{ earning.amount }}</td>
          <td>{{ earning.type }}</td>
          <td class="center aligned ">
            <div class="ui right floated main menu">
              <a routerLink="/employees/{{ employee._id }}/edit/earnings/{{ earning._id }}/edit" class="bug popup icon item" data-content="Edit This Page" href="#" >
                <i class="edit icon"></i>
              </a>
              <a (click)="open(earning._id)"  class="bug popup icon item" data-content="Edit This Page" >
                <i class="trash alternate outline icon" ></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="!earnings.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
      <div class="ui icon header">
        <i class="money bill alternate icon"></i>
        No earnings yet.
      </div>
    </div>
    
    <div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
      <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
        <i class="left chevron icon"></i>
      </a>
      <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
      <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
        <i class="right chevron icon"></i>
      </a>
    </div>
  
    <div class="clearfix">&nbsp;</div>
    <div class="footer clear clearfix">
      <div class="button-wrap">
        <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
          <div class="ui positive message" *ngIf="successMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Success</div>
            <p [innerHTML]="successMsg"></p>
          </div>
    
          <div class="ui negative message" *ngIf="errorMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorMsg"></p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  
</div>
