<div class="ui left floated main menu">
	<a routerLink="/teams" class="bug popup icon item" data-content="Edit This Page">
		<i class="angle left icon"></i>
		&nbsp;Back
	</a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
	<div class="five wide column ui segment" style="padding-top: 10px">
	  
		<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

		<div *ngIf="!mainLoader && withPerm" class="ui vertical animated button" tabindex="0" routerLink="/teams/{{ team._id }}/edit">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>

		<form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">Team Information</h4>
			<div class="two fields">
        <div class="field">
          <label>Name</label>
        </div>
				<div class="field">
          <p>{{ team.name }}</p>
        </div>
			</div>

			<div class="two fields">
        <div class="field">
          <label>Status</label>
        </div>
        <div class="field">
          <p>{{ team.status == 'active' ? 'Active' : 'Deactivated' }}</p>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Total Members</label>
        </div>
        <div class="field">
          <p>{{ team.cnt }}</p>
        </div>
      </div>

		</form>
  </div> <!-- END first column  -->

  <div class="one wide column"></div>
  
  <div class="ten wide column ui segment" style="margin: 0; padding-top: 10px">
	  
		<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

		<div *ngIf="!mainLoader && withPerm" class="ui vertical animated button" tabindex="0" routerLink="/teams/{{ team._id }}/edit/members">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>

		<form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">Team Members</h4>
      <div class="field" *ngFor="let member of members">
        <h4 class="ui image header">
            <img [routerLink]="['/employees/' + member.employee?._id]" class="ui mini rounded image"
              src="{{ member.employee?.photo | images :  {id: member.employee?._id, type: 'user_avatar', gender: member.employee?.gender} }}"
              >
            <div class="content">
              <a [routerLink]="['/employees/' + member.employee?._id]" href="#">{{ member.employee?.first_name + ' ' + member.employee?.last_name }}</a>
              <div class="sub header">{{ member.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </div>

      <h3 *ngIf="!members.length">This team has no members yet.</h3>

		</form>
	</div>
</div> <!-- END second column ui grid form  -->