
<app-front-main-menu></app-front-main-menu>

<div class="ui container">
    <h1 class="ui header">PRIVACY POLICY</h1>
        <p>
        This policy describes the information we process to support Lunti Ventures.
        </p>

    <h3>What kinds of information do we collect?</h3>
        <p>
        To provide the Lunti Ventures Products, we must process information about you. The types of information we collect depend on how you use our Lunti Ventures.
        </p>

    <h3>Things you and others do and provide.</h3>
        <div class="ui bulleted list">
            <div class="item">
                <p>
                Information and content you provide. We collect the content, communications and other information you provide when you use our Products, including when you sign up for an account, create or share content, and message or communicate with others. This can include information in or about the content you provide (like metadata), such as the location of a photo or the date a file was created. It can also include what you see through features we provide, such as our camera, so we can do things like suggest masks and filters that you might like, or give you tips on using camera formats. Our systems automatically process content and communications you and others provide to analyze context and what's in them for the purposes described below. Learn more about how you can control who can see the things you share.
                </p>
            </div>
        </div>

    <h3>Provide, personalize and improve our Products.</h3>
        <div class="ui bulleted list">
            <div class="item">
                <p>
                We use the information we have to deliver our Products, including to personalize feature and content and make suggestions for you on and off our Products. To create personalized Products that are unique and relevant to you, we use your connections, preferences, interests and activities  based on the data we collect and learn from you and others (including any data with special protections you choose to provide); how you use and interact with our Products; and the people, places, or things you're connected to and interested in on and off our Products. Learn more about how we use information about you to personalize your Lunti Ventures experience, including features, content and recommendations in Lunti Ventures Products; you can also learn more about how we choose the ads that you see.
                </p>
            </div>
        </div>
</div>
<app-front-footer></app-front-footer>