<div *ngIf="!mainLoader && ratings.length && withPerm">
  <h1 class="ui center aligned header">Top Rated Departments</h1>
  <div class="ui five column centered grid" >
    <div class="three wide column" *ngFor="let dept_rating of departments">
      <div class="ui circular statistic small segment">
        <div *ngIf="deptRatingLoader" class="ui active text centered inline loader main-content-loader" style="margin: auto;">Loading..</div>
        <div class="value" *ngIf="!deptRatingLoader">
          {{ dept_rating.rating | number : '.0-2' }}
        </div>
        <div class="label">
          {{ dept_rating.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>


<div>
	<button routerLink="/freedom-board/create" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
	</button>
</div>

<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table class="ui compact celled table" *ngIf="!mainLoader && ratings.length">
  <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
  <thead class="full-width" *ngIf="!mainLoader && ratings.length">
    <tr>
      <th>Department</th>
      <th>Ratings</th>
      <th>Comments</th>
      <th>Date</th>
      <th width="50px" *ngIf="withPerm"></th>
    </tr>
  </thead>

  <tbody *ngIf="!mainLoader && ratings.length">
    <tr *ngFor="let rating of ratings">
      <td>{{ rating.department.name }}</td>
      <td>{{ rating.rating }}</td>
      <td>{{ rating.comment }}</td>
      <td>{{ rating.createdAt | date:'longDate' }}</td>
      <td class="center aligned" *ngIf="withPerm">
        <div class="ui right floated main menu">
          <a [routerLink]="['/freedom-board/' + rating._id + '/show']" class="popup icon item" data-content="Submit Bug Report" href="#">
            <i class="folder open outline icon"></i>
          </a>
          <a class="bug popup icon item" data-content="Edit This Page" (click)="open(rating._id)">
            <i class="trash icon"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
    
</table>


<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div *ngIf="!ratings.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="comment alternate outline icon"></i>
    No ratings yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>