<div class="ui left floated main menu">
  <a routerLink="/freedom-board" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui form" *ngIf="!mainLoader">
      <h4 class="ui dividing header">Freedom Board</h4>

      <div class="two fields">
        <div class="field ">
          <label>Department</label>
          <p>{{ rating.department.name }}</p>
        </div>
        <div class="field ">
          <label>Rating</label>
          <p>{{ rating.rating }}</p>
        </div>
      </div>

      <div class="field ">
        <label>Comment</label>
        <p>{{ rating.comment }}</p>
      </div>

    </div>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->