<div class="ui left floated main menu">
  <a routerLink="/designations" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Designations Information</h4>
          <div class="two fields">
            <div class="field">
              <label>Title</label>
              <input type="text" name="title" [(ngModel)]="designation.title">
            </div>
            <div class="grouped fields" style="margin-left: 30px">
              <label>With Time</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="with_time" [(ngModel)]="designation.with_time">
                  <label>With Time</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="with_break" [(ngModel)]="designation.with_break">
                  <label>With Break</label>
                </div>
              </div>
            </div>
          </div>

          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Rate</label>
              <input type="number" name="rate" [(ngModel)]="designation.rate">
            </div>
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Overtime Rate</label>
              <input type="number" name="ot_rate" [(ngModel)]="designation.ot_rate">
            </div>
          </div>

          <div class="two fields" *ngIf="designation.with_time">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Time-in</label>
              <input name="time_in" [(ngModel)]="designation.time_in" placeholder="08:00" autocomplete="off">
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Time-out</label>
              <input name="time_out" [(ngModel)]="designation.time_out" placeholder="11:00" autocomplete="off">
            </div>
          </div>

          <div class="two fields" *ngIf="designation.with_time && designation.with_break">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Second Time-in</label>
              <input name="time_in2" [(ngModel)]="designation.time_in2" placeholder="13:00" autocomplete="off">
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Second Time-out</label>
              <input name="time_out2" [(ngModel)]="designation.time_out2" placeholder="17:00" autocomplete="off">
            </div>
          </div>

        </form>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div> 