<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <div class="ui vertical animated button" tabindex="0" routerLink="/user-settings/{{ setting?._id }}/edit">
      <div class="hidden content">Edit</div>
      <div class="visible content">
        <i class="edit icon"></i>
      </div>
    </div>
    <div *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header" style="padding-top: 20px">User Setting Information</h4>
      <div class="field">
        <label>Field 1</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ setting.field1 }}</p>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Field 2</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ setting.field2 }}</p>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Field 3</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ setting.field3 }}</p>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Field 4</label>
        <div class="fields">
          <div class="sixteen wide field ">
            <p>{{ setting.field4 }}</p>
          </div>
        </div>
      </div>
    </div>
        
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>




