<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    
    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Personal Information</h4>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Name</label>
        <div class="four fields">
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="first_name" [(ngModel)]="employee.first_name" placeholder="First Name">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="middle_name" [(ngModel)]="employee.middle_name" placeholder="Middle Name">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="last_name" [(ngModel)]="employee.last_name" placeholder="Last Name">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <input type="text" name="suffix" [(ngModel)]="employee.suffix" placeholder="Suffix: i.e: Jr.">
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="employee.email" placeholder="name@company.com">
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Username</label>
          <input type="text" name="username" [(ngModel)]="employee.username" placeholder="Username">
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Birthdate</label>
          <input type="date" name="birthdate" [(ngModel)]="employee.birthdate" max="{{ date | date  : 'yyyy-MM-dd'}}">
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Gender</label>
          <select class="ui dropdown" name="gender" [(ngModel)]="employee.gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Address</label>
        <div class="fields">
          <div class="sixteen wide field">
            <input type="text" name="address" [(ngModel)]="employee.address" placeholder="Complete Address">
          </div>
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Contact Numbers</label>
        <input type="text" name="contact_nos" [(ngModel)]="employee.contact_nos" placeholder="+63 919 683 6445">
      </div>
      
      <div class="three fields" [ngClass]="{'disabled': saving}">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Hash</label>
          <input type="text" name="hash" [(ngModel)]="employee.hash" placeholder="Generate Hash" #inputTarget readonly>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}" style="max-width: 155px;">
          <div class="clear clearfix">&nbsp;</div>
          <button class="ui button" [ngClass]="{'disabled': saving || generate}" (click)="gen_hash()" >Generate Hash</button>
        </div>
        <div class="field" [ngClass]="{'disabled': saving || !employee.hash}">
          <div class="clear clearfix">&nbsp;</div>
          <button class="ui button green" [ngClass]="{'disabled': saving || !employee.hash || generate}" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied = true">{{ isCopied ? 'Copied!' : 'Copy to Clipboard' }}</button>
        </div>
      </div>

      <!-- <div class="field" [ngClass]="{'disabled': saving}">
        <label>QR Code</label>
        <div class="ui placeholder qr-img" *ngIf="generate">
          <div class="image"></div>
        </div>
        <div *ngIf="!generate">
          <img class="qr-img" src="{{ employee.qr_url }}">
        </div>
      </div> -->
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving || generate}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
    <!-- <button class="ui fluid large primary submit button" [ngClass]="{'disabled': signupProcessing}" type="submit">{{ signupProcessing ? 'Processing...' : 'Create' }}</button> -->
	</div>
</div>