<div class="wrap">
	<aside class="ui secondary vertical menu">
		<span class="ui horizontal divider">
			Main Resources
		</span>

		<div routerLink="/" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon bullseye"></i> 
			<span class="category-item">Dashboard</span>
		</div>

		<div *ngIf="menus.payroll" routerLink="/payrolls" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon money bill alternate outline"></i> 
			<span class="category-item">Payrolls</span>
		</div>

		<div *ngIf="!menus.payroll" routerLink="/payslips" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon money bill alternate outline"></i> 
			<span class="category-item">Payslips</span>
		</div>

		<div *ngIf="menus.employees" routerLink="/employees" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon users"></i> 
			<span class="category-item">Employees</span>
		</div>

		<div routerLink="/attendances" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon clock"></i> 
			<span class="category-item">Attendances</span>
		</div>

		<div routerLink="/work-schedules" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon calendar alternate outline"></i> 
			<span class="category-item">Work Schedules</span>
		</div>

		<div *ngIf="menus.designations" routerLink="/designations" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="id badge outline icon"></i> 
			<span class="category-item">Designations</span>
		</div>

		<div *ngIf="!menus.designations" routerLink="/user-designations" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="id badge outline icon"></i> 
			<span class="category-item">Employee Designations</span>
		</div>

		<div routerLink="/overtimes" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon clock outline"></i> 
			<span class="category-item">Overtime Management</span>
		</div>

		<div *ngIf="menus.overtime_approvers" routerLink="/supervisors" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="tasks icon"></i> 
			<span class="category-item">Supervisors</span>
		</div>

		
		<div routerLink="/leaves" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon calendar alternate"></i> 
			<span class="category-item">Leaves</span>
		</div>

		<div routerLink="/holidays" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="calendar alternate outline icon"></i>
			<span class="category-item">Holidays</span>
		</div>

	

		<!-- <div *ngIf="menus.dashboard" routerLink="/trainings" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon upload outline"></i> 
			<span class="category-item">Trainings</span>
		</div> -->

		<div *ngIf="menus.departments" routerLink="/departments" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon building"></i> 
			<span class="category-item">Departments</span>
		</div>

		<div *ngIf="menus.branches" routerLink="/branches" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon sitemap"></i> 
			<span class="category-item">Branches</span>
		</div>

		<div routerLink="/teams" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="users icon"></i> 
			<span class="category-item">Teams</span>
		</div>

		<!-- <div *ngIf="menus.reports" routerLink="/templates" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon chart bar"></i> 
			<span class="category-item">Reports</span>
		</div> -->

		<!-- <div routerLink="/billing-transactions" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon money bill alternate outline"></i> 
			<span class="category-item">Payment Transactions</span>
		</div>

		<div routerLink="/subscriptions" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="icon money bill alternate outline"></i> 
			<span class="category-item">Subscriptions</span>
		</div> -->
	
		<div routerLink="/loans" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="handshake outline icon"></i>
			<span class="category-item">Loans</span>
		</div>

		<div routerLink="/freedom-board" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="comment outline icon"></i>
			<span class="category-item">Freedom Board</span>
		</div>

		<div *ngIf="menus.quotes" routerLink="/quotes" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="cloud icon"></i>
			<span class="category-item">Quotes</span>
		</div>

		<span class="ui horizontal divider" *ngIf="menus.company_management || menus.login_restrictions || menus.logs">
			Other Resources
		</span>

		<div *ngIf="menus.company_management" routerLink="/companies/{{ company._id }}" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="building outline icon"></i>
			<span class="category-item">Our Company</span>
		</div>

		<!-- <div *ngIf="menus.company_management" routerLink="/companies/create" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="building outline icon"></i>
			<span class="category-item">Create New Company</span>
		</div> -->

		<!-- <a class="item" *ngIf="menus.setting" routerLink="/settings" routerLinkActive="active"><i class="icon settings"></i>
			<span class="category-item">Settings</span>
		</a>

		<a class="item" routerLink="/user-settings" routerLinkActive="active"><i class="icon settings"></i>
			<span class="category-item">User Settings</span>
		</a> -->

		<div *ngIf="menus.login_restrictions" routerLink="/login-restrictions" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="list alternate outline icon"></i>
			<span class="category-item">Login Restrictions</span>
		</div>

		<div *ngIf="menus.logs" routerLink="/logs" class="item menu-item-wrap"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
			<i class="list alternate outline icon"></i>
			<span class="category-item">Logs</span>
		</div>

		
	</aside>
</div>