<!-- <div class="clear clearfix"> -->
  <div class="ui right floated main menu">
    
    <a [ngClass]="{'active' : menuInfo }" (click)="menuInfo = true"  class="bug popup icon item" [routerLink]="['/payrolls/' + payroll._id + '/edit/info']">
      <i class="edit icon"></i>
      &nbsp; Update Payroll Details
    </a>

    <a [ngClass]="{'active' : !menuInfo }" (click)="menuInfo = false" class="bug popup icon item" [routerLink]="['/payrolls/' + payroll._id + '/edit/details']">
      <i class="user plus icon"></i>
      &nbsp; Manage Employee Payrolls
    </a>
  
  </div>
<!-- </div> -->