<div *ngIf="withPerm">
	<button routerLink="/branches/create" class="ui primary button right floated" style="margin-top: 8px;">
		<i class="icon add"></i>
		New Branch
  </button>
  
  <div class="clearfix">&nbsp;</div>
  <div class="ui divider"></div>
</div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<div class="ui negative message" *ngIf="errorMsg">
  <div class="header">Error</div>
  <p [innerHTML]="errorMsg"></p>
</div>



<div *ngIf="!mainLoader && branches.length">
  <div class="clear clearfix">&nbsp;</div>
  <div class="ui five column grid">
    <div class="column" *ngFor="let branch of branches">
      <div class="ui card" style="max-height: 260px;">
        <div class="image" [routerLink]="['/branches/' + branch._id + '/edit']" style="min-height: 208px;">
          <img src="{{ branch.logo | images : {id: branch._id, type: 'branch_logo'} }}">
        </div>
        <div class="content branch" style="min-height: 30px;">
          <a class="header" [routerLink]="['/branches/' + branch._id + '/edit']">{{ branch.name }}</a>
          <!-- <div class="meta">
            <a class="ui {{ branch.status === 'active' ? 'green' : 'grey' }} label " *ngIf="branch.status" style="margin-top: 5px;">{{ branch.status }}</a>
          </div> -->
        </div>  
        <!-- <div class="extra content">
          <div class="ui bottom attached button" [routerLink]="['/branches/' + branch._id + '/edit']">
            <i class="edit icon"></i>
            Update
          </div>
        </div>     -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="!branches.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="sitemap icon"></i>
    No branches yet.
  </div>
</div>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>