
<div class="clearfix">
  <div class="ui grid">
   
    <div class="fourteen wide column">
        <img class="ui left floated small rounded image" 
          src="{{ (employee?.photo || null) | images :  {id: employee?._id, type: 'user_avatar', gender: employee?.gender} }}">
        <h2 class="ui large header">
            <div class="content">
                {{ employee?.first_name }} {{ employee?.last_name }} 
              <div class="sub header">
                  {{ employee?.job_title }}
              </div>             
            </div>
        </h2>
        <div class="description">
          <i class="envelope icon"></i>
            {{ employee?.email }}
        </div>
        <div class="description">
            <i class="phone icon"></i>
            {{ employee?.contact_nos }}
          </div>
    </div>  

  </div>  
</div>

<div class="two wide column" *ngIf="withPerm">
  <div class="ui middle aligned left floated main menu">
    <a routerLink="/employees" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>

  <div class="ui middle aligned right floated main menu">
    <a routerLink="/employees/{{ employee?._id }}/edit/documents" class="bug popup icon item" data-content="Edit This Page">
      <i class="text file outline icon"></i>
      &nbsp;Documents
    </a>
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px" *ngIf="!errorMsg">
    <div class="sixteen wide column ui segment" style="padding-top: 10px">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

      <div class="ui vertical animated button" style="min-width: 105px;" tabindex="0" routerLink="/employees/{{ employee?._id }}/edit/personal" *ngIf="!mainLoader && withPerm">
        <div class="hidden content">Generate QR</div>
        <div class="visible content">
          <i class="edit icon"></i>
        </div>
      </div>
      <h4 *ngIf="!mainLoader" class="ui dividing header" style="padding-top: 20px; margin-top: 0px">QR Code</h4>
      <div *ngIf="!mainLoader">
        <img class="qr-img" src="{{ employee.qr_code | images :  {id: employee._id, type: 'qr_code'} }}">
      </div> 
          
      <div class="ui vertical animated button" tabindex="0" routerLink="/employees/{{ employee?._id }}/edit/personal" *ngIf="!mainLoader && withPerm">
        <div class="hidden content">Edit</div>
        <div class="visible content">
          <i class="edit icon"></i>
        </div>
      </div>

      <div *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header" style="padding-top: 20px">Personal Information</h4>
        <div class="field">
          <label>Name</label>
          <div class="fields">
            <div class="sixteen wide field ">
              <p>{{ employee?.first_name }} {{ employee?.middle_name }} {{ employee?.last_name }} {{ employee?.suffix }}</p>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Birthdate</label>
          <div class="fields">
            <div class="sixteen wide field">
              <p>{{ employee?.birthdate | date:'longDate' }}</p>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Address</label>
          <div class="fields">
            <div class="sixteen wide field">
              <p>{{ employee?.address }}</p>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <div class="fields">
            <div class="sixteen wide field">
              <p>{{ employee?.email }}</p>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Contact Numbers</label>
          <div class="fields">
            <div class="sixteen wide field">
              <p>{{ employee?.contact_nos }}</p>
            </div>
          </div>
        </div>
        

        <div class="ui vertical animated button" tabindex="0" routerLink="/employees/{{ employee?._id }}/edit/work"  *ngIf="!mainLoader && withPerm">
          <div class="hidden content">Edit</div>
          <div class="visible content">
            <i class="edit icon"></i>
          </div>
        </div>
        <h4 class="ui dividing header" style="padding-top: 7px">Work Information</h4>
        <div class="field">
          <label>Employee ID</label>
          <p>{{ employee?.emp_ID ? employee.emp_ID : 'Unavailable' }}</p>
        </div>
        <div class="field">
          <label>Date Joined</label>
          <p *ngIf="employee.date_joined">{{ employee?.date_joined | date:'longDate' }}</p>
          <p *ngIf="!employee.date_joined">Unavailable</p>
        </div>
        <div class="field">
          <label>Branch</label>
          <p>{{ branch?.name ? branch.name : 'Unassigned' }}</p>
        </div>
        <div class="field">
          <label>Department</label>
          <p>{{ department?.name ? department.name : 'Unassigned' }}</p>
        </div>
        <div class="two fields">
          <div class="field ">
            <label>Job Title</label>
            <p>{{ employee?.job_title ? employee.job_title : 'Unassigned' }}</p>
          </div>
        </div>
        <div class="two fields">
          <div class="field ">
            <label>Designation</label>
            <p>{{ employee?.designation ? employee.designation : 'Unassigned' }}</p>
          </div>
        </div>
        <div class="field">
          <label>Job Description</label>
          <div class="fields">
            <div class="sixteen wide field ">
              <p>{{ employee?.job_description ? employee.job_description : 'Unavailable' }}</p>
            </div>
          </div>
        </div>

        <div class="ui vertical animated button" tabindex="0" routerLink="/employees/{{ employee._id }}/edit/benefits" *ngIf="!mainLoader && withPerm">
          <div class="hidden content">Edit</div>
          <div class="visible content">
            <i class="edit icon"></i>
          </div>
        </div>
        <h4 class="ui dividing header" style="padding-top: 7px">Government/Benefits</h4>
        <div class="four fields">
          <div class="field ">
            <label>SSS:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.sss ? employee.sss : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Philhealth:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.philhealth ? employee.philhealth : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>PAG-IBIG:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.pagibig ? employee.pagibig : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>TIN:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.tin ? employee.tin : 'Unavailable' }}</p>
          </div>
        </div>

        <div class="ui vertical animated button" tabindex="0" routerLink="/employees/{{ employee._id }}/edit/salary" *ngIf="!mainLoader && withPerm">
          <div class="hidden content">Edit</div>
          <div class="visible content">
            <i class="edit icon"></i>
          </div>
        </div>
        <h4 class="ui dividing header" style="padding-top: 7px">Salary</h4>
        <div class="four fields">
          <div class="field ">
            <label>Basic Salary:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.basic_salary ? employee.basic_salary : 0 }}</p>
          </div>
        </div>

        <div class="ui vertical animated button" tabindex="0" routerLink="/employees/{{ employee._id }}/edit/social" *ngIf="!mainLoader && withPerm">
          <div class="hidden content">Edit</div>
          <div class="visible content">
            <i class="edit icon"></i>
          </div>
        </div>
        <h4 class="ui dividing header" style="padding-top: 7px">Social Information</h4>
        <div class="four fields">
          <div class="field ">
            <label>LinkedIn:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.linkedin ? employee.linkedin : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Facebook:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.facebook ? employee.facebook : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Instagram:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.instagram ? employee.instagram : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Twitter:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.twitter ? employee.twitter : 'Unavailable' }}</p>
          </div>
        </div>
        <div class="four fields">
          <div class="field ">
            <label>Skype:</label>
          </div>
          <div class="field ">
            <p>{{ employee?.skype ? employee.skyp : 'Unavailable' }}</p>
          </div>
        </div>

      </div>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

	</div>
</div>