<div>
	<button routerLink="/payrolls/create" class="ui primary button right floated" style="margin: 0 0 0 20px; min-height: 42px;">
		<i class="icon add"></i>
		New Payroll
  </button>

  <div class="ui left floated main menu" >
    <a class="ui item" routerLink="/payroll-approvers" >Payroll Approvers</a>
  </div>

  <div *ngIf="hasGroup" class="ui left floated main menu">
    <a routerLink="/payroll-groups" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>

  <div *ngIf="!hasGroup" class="ui left floated main menu" >
    <a class="ui item" routerLink="/payroll-groups" >Payroll Groups</a>
    <a class="ui item" routerLink="/payslips" >Payslips</a>
  </div>

  <div class="ui right floated main menu" >
    <a [ngClass]="{'active' : params.status === ''}" class="ui status item active " (click)="change_status('')">All</a>
    <a [ngClass]="{'active' : params.status === 'pending'}" class="ui status item " (click)="change_status('pending')">Pending</a>
    <a [ngClass]="{'active' : params.status === 'approved'}" class="ui status item " (click)="change_status('approved')">Approved</a>
    <a [ngClass]="{'active' : params.status === 'disapproved'}" class="ui status item " (click)="change_status('disapproved')">Disapproved</a>
  </div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="ui divider"></div>

<div *ngIf="hasGroup">
    <h3 class="ui header">{{ payroll_group?.name }}</h3>
    <div class="clearfix"></div>
</div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader" class="ui four column stackable grid">
    <div *ngFor="let item of [0,1,2,3,4,5,6,7]" class="column">
      <div class="ui raised segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="medium line"></div>
            <div class="short line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !payrolls.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No payrolls found in this query.</p>
</div>

<section *ngIf="!mainLoader && payrolls.length" >
  <div class="ui four column grid">
    <div class="column" *ngFor='let payroll of payrolls'>

      <div class="ui fluid card payroll">

        <div class="content">
          <div class="aligned header">{{ payroll.name }}</div>
          <div class="meta" style="font-size: 12px">
            Period: {{ payroll.pay_period_from | date }} - {{ payroll.pay_period_to | date }}
          </div>
          <div class="center aligned description">
              <div class="ui small statistic">
                <div class="value">
                  {{ payroll.total_netpay | currency : "₱" }}
                </div>
                <div class="label">
                  Net Pay
                </div>
              </div>
          </div>
        </div>
        <div class="extra content">
          <!-- <span>Gross Income: P1,000</span><br>
          <span>Deductions: P1,000</span> -->

          <span class="left floated like incomes">
            <span>Deductions: {{ payroll.total_deductions | currency : "₱" }}</span> <br >           
            <span>Gross Income: {{ payroll.total_incomes | currency : "₱" }}</span>            
          </span>
          <span class="right floated star">
            <a 
              class="ui {{ payroll?.status === 'approved' ? 'green' : (payroll?.status === 'disapproved' ? 'red' : 'orange') }} label " 
              *ngIf="payroll?.status"
              style="margin-top: 10px;">
              {{ payroll?.status }}
            </a>
          </span>
      
          <div class="ui basic two buttons" style="margin-top: 5px;">
            <div class="ui basic button"
              [routerLink]="['/payrolls/' + payroll._id + '/edit/details']">
              <i class="user plus icon"></i>
              Manage
            </div>
            <!-- <div class="ui basic button"
              [routerLink]="['/payrolls/' + payroll._id + '/show']">
              <i class="info icon"></i>
              Details
            </div> -->
            <div class="ui icon basic dropdown button" suiDropdown  style="text-align: center">
              <i class="dropdown icon"></i>
              <div class="text">&nbsp; Options</div>  
              <div class="menu" suiDropdownMenu>
                  <div class="item" [routerLink]="['/payrolls/' + payroll._id + '/edit/info']">
                    <i class="edit icon"></i>
                    Edit Payroll Info
                  </div>
                  <div class="item" [routerLink]="['/payrolls/' + payroll._id + '/show']">
                      <i class="info icon"></i>
                      View Payroll Details
                  </div>
                  <div class="item" [routerLink]="['/contributions']" [queryParams]="{payroll_id: payroll._id}">
                      <i class="folder open outline icon"></i>
                      Manage Payroll Contributions
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /card -->
      
    </div>
  </div>
</section>

<div class="clearfix">&nbsp;</div>



<div *ngIf="paginator?.pagesTo" class="ui right floated pagination menu">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>