.card.payroll {
}

.card.payroll:hover {
    /* cursor: pointer; */
    box-shadow: 0 1px 3px 0 #0f8da4, 0 0 0 1px #0f8da4 !important
}

.extra.content .incomes {
    font-size: 12px;
}
.ui.header {
    font-size: 30px;
}