<div class="ui left floated main menu">
  <a routerLink="/departments" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Department Information</h4>
          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Name</label>
              <div class="field" [ngClass]="{'disabled': saving}">
                <input type="text" name="name" [(ngModel)]="department.name" placeholder="IT Department">
              </div>
            </div>
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Status</label>
              <div class="field" [ngClass]="{'disabled': saving}">
                <select class="ui input dropdown" id="status" name="status" [(ngModel)]="department.status">
                  <option value="active" selected>Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Description</label>
            <textarea name="description" [(ngModel)]="department.description" ></textarea>
          </div>
          
        </form>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>




