<div *ngIf="withPerm">
	<button routerLink="/departments/create" class="ui primary button right floated" style="margin-top: 8px;">
		<i class="icon add"></i>
		New Department
  </button>
  
  <div class="clearfix">&nbsp;</div>
  <div class="ui divider"></div>
</div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !results_count" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No departments found in this query.</p>
</div>

<table *ngIf="!mainLoader && departments.length" class="ui compact celled table">
	<thead class="full-width">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th width="100">Status</th>
            <th width="50" *ngIf="withPerm"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let department of departments">
        <td>{{ department.name }}</td>
        <td>{{ department.description }}</td>
        <td>
          <div class="ui {{ department.status === 'active' ? 'green' : 'grey'}} label " *ngIf="department.status">
            <p class="center aligned">{{ department.status }}</p>
          </div>
        </td>
        <td class="center aligned" *ngIf="withPerm">
          <div class="ui right floated main menu">
            <a [routerLink]="['/departments/' + department._id + '/edit']" class="bug popup icon item" data-content="Edit This Page" href="#">
              <i class="edit icon"></i>
            </a>
            <!-- <a [routerLink]="['/departments/' + department._id]" class="popup icon item" data-content="Submit Bug Report" href="#">
              <i class="folder open outline icon"></i>
            </a> -->
          </div>
        </td>
    </tr>
    
	</tbody>	
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>