
<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
      
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Payroll Information</h4>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="payroll.name" placeholder="Name">
        </div>
        <div class="field">
          <label>Salary Type</label>
          <select class="ui dropdown" name="salary_type" [(ngModel)]="payroll.salary_type" disabled>
            <option value="monthly-fixed" selected="selected">Monthly Fixed</option>
            <option value="bi-monthly-fixed">Bi-Monthly Fixed</option>
            <option value="weekly-fixed">Weekly Fixed</option>
            <option value="monthly" selected="selected">Monthly</option>
            <option value="bi-monthly">Bi-Monthly</option>
            <option value="weekly">Weekly</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Pay Period From:</label>
          <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input type="date" name="pay_period_from" [ngModel]="payroll.pay_period_from | date: 'yyyy-MM-dd'" (ngModelChange)="payroll.pay_period_from=$event">
          </div>
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
            <label>To:</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input type="date" name="pay_period_to" [ngModel]="payroll.pay_period_to | date: 'yyyy-MM-dd'" (ngModelChange)="payroll.pay_period_to=$event">
            </div>
          </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Add to Payroll Group</label>
        <select name="payroll_group_id" class="ui dropdown" [(ngModel)]="payroll.payroll_group_id" >
          <option *ngFor="let payroll_group of payroll_groups" value="{{ payroll_group._id }}"> {{ payroll_group.name }} </option>
        </select>
      </div>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div>
  
  
  
  
  