<div >
  <button routerLink="/work-schedules/create" class="ui primary button right floated" *ngIf="withPerm">
    <i class="icon add"></i>
    New Work Schedule
  </button>

  <div class="ui action left icon input" *ngIf="withPerm">
    <form class="ui form">
      <div class="field" [ngClass]="{'disabled': empLoader}">
        <select name="emp_id" [(ngModel)]="params.user_id" class="ui dropdown" [ngClass]="{'disabled': empLoader}" >
          <option value="">All Employees</option>
          <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
        </select>
      </div>
    </form>
    <button class="ui button right floated primary" [ngClass]="{'disabled': searching}" (click)="get()" style="margin-left: 10px">Go</button>
  </div>
</div>
  
<div class="clear clearfix"></div>
<div class="ui divider" *ngIf="withPerm"></div>

<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<table *ngIf="!mainLoader && work_schedules.length" class="ui compact celled table work-schedule-table-wrap">
	<thead class="full-width">
        <tr>
            <th width="250">Employee</th>
            <th>Days</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>2nd Clock In</th>
            <th>2nd Clock Out</th>
            <th>Night Differential Start</th>
            <th>Night Differential End</th>
            <th>Rate</th>
            <th>Status</th>
            <th width="50" *ngIf="withPerm"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let work_sched of work_schedules">

      <td>
        <h4 class="ui image header">
          <img [routerLink]="['/employees/' + work_sched.employee?._id]" class="ui mini rounded image"
            src="{{ work_sched.employee?.photo | images :  {id: work_sched.employee?._id, type: 'user_avatar', gender: work_sched.employee?.gender} }}"
            >
          <div class="content">
            <a [routerLink]="['/employees/' + work_sched.employee?._id]" href="#">{{ work_sched.employee?.first_name + ' ' + work_sched.employee?.last_name }}</a>
            <div class="sub header">{{ work_sched.employee?.job_title || 'Unassigned' }}</div>
          </div>
        </h4>
      </td>
      <td>
        {{ work_sched.mon_enabled ? 'Monday' : '' }}
        {{ work_sched.tue_enabled ? 'Tuesday' : '' }}
        {{ work_sched.wed_enabled ? 'Wednesday' : '' }}
        {{ work_sched.thu_enabled ? 'Thursday' : '' }}
        {{ work_sched.fri_enabled ? 'Friday' : '' }}
        {{ work_sched.sat_enabled ? 'Saturday' : '' }}
        {{ work_sched.sun_enabled ? 'Sunday' : '' }}
      </td>
      <td>{{ work_sched.time_in ? work_sched.time_in : 'Unspecified' }}</td>
      <td>{{ work_sched.time_out ? work_sched.time_out : 'Unspecified' }}</td>
      <td>{{ work_sched.time_in2 ? work_sched.time_in2 : 'Unspecified' }}</td>
      <td>{{ work_sched.time_out2 ? work_sched.time_out2 : 'Unspecified' }}</td>
      <td>{{ work_sched.nd_start ? work_sched.nd_start : 'Unspecified' }}</td>
      <td>{{ work_sched.nd_end ? work_sched.nd_end : 'Unspecified' }}</td>
      <td>{{ work_sched?.rate }}</td>
      <td>
        <p class="ui label" [ngClass]="{ 'red': !work_sched.enabled, 'green': work_sched.enabled }">
          {{ work_sched.enabled ? 'Enabled' : 'Disabled' }}
        </p>
      </td>
      
      <td class="centered aligned " width="110" *ngIf="withPerm">
        <div class="ui icon  basic dropdown button" suiDropdown >
          <div class="text">Action &nbsp;</div>  
          <i class="dropdown icon"></i>
          <div class="menu" suiDropdownMenu>
            <div class="item" [routerLink]="['/work-schedules/' + work_sched._id + '/edit']">
              <i class="edit icon"></i>
              Edit
            </div>
            <div class="item" (click)="open(work_sched._id)">
              <i class="trash icon"></i>
              Delete
            </div>
          </div>
        </div>
      </td>
    </tr>
    
	</tbody>    
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>

<div *ngIf="!work_schedules.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="id badge outline icon"></i>
    No work schedules yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>