<div class="ui left floated main menu">
  <a routerLink="/companies/{{ company._id }}" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">
    <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <form  *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Company Information</h4>
      <div class="ui grid">
        <div class="four wide column">
          <div class="container">
            <input style="display: none" type="file" [(ngModel)]="company.file" name="file" (change)="onFileChanged($event)" #fileInput>
            <div *ngIf="fileUploading" class="ui active centered inline loader"> </div>
            <div *ngIf="!fileUploading">
              <img src="{{ company.logo | images : {id: company._id, type: 'company_logo'} }}">
              <button class="upload-btn fluid ui button" (click)="fileInput.click()">Upload</button>
              <input type="hidden" name="logo" [(ngModel)]="company.logo" /> 
            </div>
          </div>
          <div class="ui negative message" *ngIf="!fileUploaded && !fileUploading && fileUploadTriggered">
            <p>
              {{ fileUploadingMsg }}
            </p>
          </div>
        <div class="clear clearfix">&nbsp;</div>
        </div>
        <div class="twelve wide column">
          <div class="field" [ngClass]="{'disabled': saving}">
        <label>Name</label>
        <div class="four fields">
          <div class="sixteen wide field" [ngClass]="{'disabled': saving}">
            <input type="text" name="name" [(ngModel)]="company.name" placeholder="Company Name">
          </div>
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Address</label>
        <div class="fields">
          <div class="sixteen wide field" [ngClass]="{'disabled': saving}">
            <input type="text" name="address]" [(ngModel)]="company.address" placeholder="Complete Address">
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="company.email"  placeholder="name@company.com">
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Contact Numbers</label>
          <input type="text" name="contact_nos" [(ngModel)]="company.contact_nos" placeholder="+63 919 683 6445">
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Short Description</label>
        <div class="fields">
          <div class="sixteen wide field" [ngClass]="{'disabled': saving}">
            <textarea rows='2' type="text" name="short_description" [(ngModel)]="company.short_description" placeholder="Short Description"></textarea>
          </div>
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Long Description</label>
        <div class="fields">
          <div class="sixteen wide field" [ngClass]="{'disabled': saving}">
            <textarea type="text" name="long_description" [(ngModel)]="company.long_description" placeholder="Long Description"></textarea>
          </div>
        </div>
      </div>
      <div class="two fields" [ngClass]="{'disabled': saving}">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Hash</label>
          <input type="text"  disabled="disabled" name="hash" [(ngModel)]="this.company.hash" placeholder="Generate Company Hash">
        </div>
        <div class="field" [ngClass]="{'disabled': saving}">
          <div class="clear clearfix">&nbsp;</div>
          <button class="ui button" (click)="gen_hash()" [ngClass]="{'disabled': saving  || generating}" >Generate Hash</button>
        </div>
      </div>
        </div>
      </div>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving  || generating}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div>
  
  
  
  
  