/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
	background: #fafafa;
	color: #333;
	font-weight: 300;
	font-size: 16px;
}

.bold, .strong {
	font-weight: bold;
}

h2 {
	font-size: 52px;
	line-height: 1.07885;
	letter-spacing: -0.016em;
	font-weight: 200;
}

h3 {
	font-size: 22px;
	line-height: 1.07885;
	letter-spacing: -0.016em;
	font-weight: 300;
}


.ui.dividing.header {
	font-size: 20px;
}

.ui.primary.button, .ui.primary.buttons {
    background: #01a4b9;
}

.ui.primary.button:focus, .ui.primary.buttons .button:focus, .ui.primary.button:hover, .ui.primary.buttons:hover {
	background: #414141;
}


.ui.huge.header {
	font-size: 40px;
	padding: 20px 0 20px 0;
	margin: 0
}

.sub-headline {
	margin: 0px 0 20px 0 !important;
	font-weight: normal !important;
	font-size: 20px !important;
}
.no-padding {
	padding: 0 !important
}

.nav-back-btn {
	margin-bottom: 30px !important;
}

#main_menu {
	padding: 10px;
	box-shadow: none;
	background: #01a4b9;
	color: #f6f6f6;
}

#main-logo-wrap {
	width: 225px; float: left; position: absolute; padding: 0;
}

#main-logo {
	border-radius: 5px;
	background: #e0e0e0; width: 120px; height: 120px;
	margin: 0 auto;
}

#main-logo .img-logo {
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
}

#app-name {
	margin: 10px 0 0 200px;
}

.user-menu {
	color: #f6f6f6 !important;
}

.company_name {
	font-size: 17px;
	color: #f6f6f6;
}

#sidebar {
	border-right: 1px solid #e6e6e6;
	z-index: 10;
	background-color: #fafafa;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
	width: 250px;
}

#sidebar .wrap {
	position: absolute;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 150px;
	padding-top: 120px;
	height: 100%;
}

#sidebar .wrap::-webkit-scrollbar {
	display: none;
}

#sidebar aside {
	width: 250px;
    padding: 0 10px;
    margin: 0;
}

#sidebar .ui.horizontal.divider {
	position: relative;
	padding: 0 0.35em;
	font-size: 10px;
	color: #ababab;
	background-color: #fafafa;
	font-weight: 300;
	text-transform: none;
}

#sidebar .item {
	display: block;
	opacity: 0.7;
	color: #333333;
	border-radius: 3px;
	transition: background-color 0.28s 0s ease-in-out;
	font-size: 17px;
	font-weight: 300;
	outline:none;
	cursor: pointer;
}


.ui.vertical.menu {
	width: auto;
}

.ui.vertical.menu .item > i.icon {
	float: none;
	margin: 0 0.5em 0 0;
}

.ui.segment.with-action {
	margin-bottom: 70px;
}
.panels {
	height: 100%;
	padding-top: 52px !important;
	background: #fff;
}

.lighter {
	color: #666;
}

.intro {
	font-size: 24px;
	line-height: 1.3375;
}

.margin-top-small {
	margin-top: 1.5em !important;
}

.margin-bottom {
	margin-bottom: 3em !important;
}

.panels .loader {
	left: 250px;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	transition: opacity 0.325s 0s ease;
	z-index: 2;
	pointer-events: none;
	width: calc(100% - 250px);
}

.panels .loader.active { 
	opacity: 1;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

select.ui.dropdown>.item {
    border-top: 1px solid #fafafa;
    padding: .78571429rem 1.14285714rem !important;
    white-space: normal;
    word-wrap: normal;
}

 select option .item {
    position: relative;
    cursor: pointer;
    display: block;
    border: none;
    height: auto;
    text-align: left;
    border-top: none;
    line-height: 1em;
    color: rgba(0,0,0,.87);
    padding: .78571429rem 1.14285714rem !important;
    font-size: 1rem;
    text-transform: none;
    font-weight: 400;
    box-shadow: none;
    -webkit-touch-callout: none;
}
 select option .item:hover {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    z-index: 13;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.ui.form textarea:not([rows]) {
	height: 6em;
	min-height: 6em;	
}

.category.header {
	font-weight: bold;
	background-color: '#ddd';
	display: block;
}

.category-item.button.logout-btn {
	border: 1px solid #fff !important;
    color: #fff !important;
}

