
<div class="ui grid">
  <div class="ten wide column">
    <div class="ui left floated main menu">
      <a routerLink="/loans" class="bug popup icon item" data-content="Edit This Page">
        <i class="angle left icon"></i>
        &nbsp;Back
      </a>
    </div>
    
    <div class="clear clearfix">&nbsp;</div>
    
    <div class="ui grid" style="padding: 15px">
      <div class="sixteen wide column ui segment" style="padding-top: 10px">
      
        <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
  
        <div *ngIf="(withPerm && loan && (loan?.status == 'pending' || loan?.status == 'disapproved') )" class="ui vertical animated button " tabindex="0" (click)="open('deleted')">
          <div class="hidden content">Delete</div>
          <div class="visible content">
            <i class="trash icon"></i>
          </div>
        </div>
  
  
        <form *ngIf="!mainLoader" class="ui form">
          <h4 class="ui dividing header" style="padding-top: 20px">Loan Information</h4>
          <div class="field">
            <label>Employee</label>
            <p>
              {{ loan.employee?.first_name + ' ' + loan.employee?.last_name }}
            </p>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Amount</label>
              <p>
                {{ loan.amount | currency : "₱" }}
              </p>
            </div>
            <div class="field">
              <label>Payment Type</label>
              <p> {{  loan?.payment_type == 'weekly' ? 'Weekly' :
                  loan?.payment_type == 'monthly' ? 'Monthly' : 'Pending' }}
              </p>
            </div>
          </div>
          <div class="field">
            <label>Balance</label>
            <p>
              {{ loan.balance | currency : "₱" }}
            </p>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Start at</label>
              {{ loan.start_date | date:'longDate' }}
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Interest</label>
              <p *ngIf="loan.with_interest">{{ loan.interest | currency : "₱" }}</p>
              <p *ngIf="!loan.with_interest">No Interest / ₱ 0.00</p>
            </div>
          </div>
          <div class="field">
            <input type="checkbox" [disabled]="true" tabindex="0" name="withTax" [(ngModel)]="loan.with_interest"> &nbsp; with Interest
          </div>
        </form>
      </div> <!-- END first column  -->
    </div> <!-- END second column ui grid form   -->
  
    <div class="clear clearfix">&nbsp;</div>
    
    <div class="footer clear clearfix">
      <div class="button-wrap">
      
        <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
          <div class="ui positive message" *ngIf="successMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Success</div>
            <p [innerHTML]="successMsg"></p>
          </div>
      
          <div class="ui negative message" *ngIf="errorMsg">
            <i class="close icon" (click)="isCloseMsg=true"></i>
            <div class="header">Error</div>
            <p [innerHTML]="errorMsg"></p>
          </div>
        </div>

        <button *ngIf="(withPerm && loan &&  loan?.status == 'pending' )" class="ui button right floated positive" (click)="open('approved')" >APPROVE</button>
        <button *ngIf="(withPerm && loan &&  loan?.status == 'pending' )" class="ui button left floated negative" (click)="open('disapproved')">DISAPPROVE</button>
      </div>
    </div>
  </div>

  <div *ngIf="loan.status == 'approved'" class="six wide column" style="margin-top: 0">
    <button *ngIf="withPerm" routerLink="/loans/{{ loan._id }}/payment" class="ui primary button right floated" style="margin-top: 8px;">
      <i class="icon add"></i>
      Add Payment
    </button>
    
    <div class="clear clearfix">&nbsp;</div>

    <!-- PLACEHOLDER -->
    <div *ngIf="tableLoader">
      <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
        <div class="image header">
          <div class="medium line"></div>
          <div class="full line"></div>
        </div>
      </div>
    </div>
    
    <!-- NO RESULTS?? -->
    <div *ngIf="!tableLoader && !results_count" class="ui message">
      <div class="header">
        No Results
      </div>
      <p>No transactions found.</p>
    </div>
    
    <table *ngIf="!tableLoader && loan_payments.length" class="ui compact celled table">
      <thead class="full-width">
            <tr>
                <th>Payment Date</th>
                <th>Transaction Amount</th>
                <!-- <th width="50"></th> -->
            </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let loan_payment of loan_payments">
            <td>{{ loan_payment.payment_date | date:'longDate' }}</td>
            <td>{{ loan_payment.amount | currency : "₱" }}</td>
            <!-- <td class="center aligned ">
              <div class="ui right floated main menu">
                <a [routerLink]="['/billing-transactions/' + payment_transaction._id + '/show']" class="popup icon item" data-content="Submit Bug Report" href="#">
                  <i class="folder open outline icon"></i>
                </a>
              </div>
            </td> -->
        </tr>
        
      </tbody>	
    </table>
    
    <div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
      <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
        <i class="left chevron icon"></i>
      </a>
      <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
      <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
        <i class="right chevron icon"></i>
      </a>
    </div>
  </div>

</div>




  