<div class="ui left floated main menu">
  <a routerLink="/work-schedules" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Work Schedule Information</h4>
          <div class="two fields">
            <div class="field">
              <label>Employee</label>
              <select name="employee_id" class="ui dropdown" [(ngModel)]="work_sched.employee_id" >
                <option *ngFor="let employee of employees" value="{{ employee._id }}"> {{ employee.first_name + ' ' + employee.last_name }} </option>
              </select>
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>With Break</label>
              <input type="checkbox" value="1" name="with_break" [(ngModel)]="work_sched.with_break"> With Break
            </div>
          </div>

          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Rate</label>
              <input type="number" name="rate" [(ngModel)]="work_sched.rate" placeholder="650">
            </div>

            <div class="grouped fields" style="margin-left: 30px">
              <label>Day</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="mon_enabled" [(ngModel)]="work_sched.mon_enabled">
                  <label>Monday</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="tue_enabled" [(ngModel)]="work_sched.tue_enabled">
                  <label>Tuesday</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="wed_enabled" [(ngModel)]="work_sched.wed_enabled">
                  <label>Wednesday</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="thu_enabled" [(ngModel)]="work_sched.thu_enabled">
                  <label>Thursday</label>
                </div>
              </div>
            </div>
            <div class="grouped fields" style="margin-left: 0px">
              <label>&nbsp;</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="fri_enabled" [(ngModel)]="work_sched.fri_enabled">
                  <label>Friday</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="sat_enabled" [(ngModel)]="work_sched.sat_enabled">
                  <label>Saturday</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="sun_enabled" [(ngModel)]="work_sched.sun_enabled">
                  <label>Sunday</label>
                </div>
              </div>
            </div>
          </div>

          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Clock In</label>
              <input name="time_in" [(ngModel)]="work_sched.time_in" placeholder="08:00" autocomplete="off">
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Clock Out</label>
              <input name="time_out" [(ngModel)]="work_sched.time_out" placeholder="11:00" autocomplete="off">
            </div>
          </div>

          <div class="two fields" *ngIf="work_sched.with_break">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Second Clock In</label>
              <input name="time_in2" [(ngModel)]="work_sched.time_in2" placeholder="13:00" autocomplete="off">
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Second Clock Out</label>
              <input name="time_out2" [(ngModel)]="work_sched.time_out2" placeholder="17:00" autocomplete="off">
            </div>
          </div>

          <div class="two fields">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Night Differential Start</label>
              <input name="nd_start" [(ngModel)]="work_sched.nd_start" placeholder="13:00" autocomplete="off">
            </div>

            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Night Differential End</label>
              <input name="nd_end" [(ngModel)]="work_sched.nd_end" placeholder="17:00" autocomplete="off">
            </div>
          </div>

        </form>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div> 