<div class="ui left floated main menu">
  <a routerLink="/loans" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div class="ui grid" style="padding: 15px">
  <div class="five wide column ui segment">
    <div class="ui form">
      <h4 class="ui dividing header">Loan Calculation</h4>
      <div class="two fields">
        <div class="field">
          <label>Amount</label>
        </div>
        <div class="field">
          <p>{{ loan?.amount | currency : "₱" }}</p>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Payment Type</label>
        </div>
        <div class="field">
          <p>{{ loan?.payment_type == 'weekly' ? 'Weekly' :
              loan?.payment_type == 'monthly' ? 'Monthly' : '' }}</p>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Start of Payment</label>
        </div>
        <div class="field">
          <p>{{ loan?.start_date | date:'longDate' }}</p>
        </div>
      </div>

      <h4 class="ui dividing header" *ngIf="loan.with_interest">With Interest</h4>
      <div class="two fields" *ngIf="loan.with_interest">
        <div class="field">
          <label>Interest Type</label>
        </div>
        <div class="field">
          <p>{{ loan?.interest_type == 'percentage' ? 'Percentage' :
                loan?.interest_type == 'fixed_amount' ? 'Fixed Amount' : '' }}</p>
        </div>
      </div>
      <div class="two fields" *ngIf="loan.with_interest && loan.interest_type=='percentage'">
        <div class="field">
          <label>Percentage</label>
        </div>
        <div class="field">
          <p>{{ loan?.percentage }}</p>
        </div>
      </div>
      <div class="two fields" *ngIf="loan.with_interest">
        <div class="field">
          <label>Interest</label>
        </div>
        <div class="field">
          <p>{{ loan?.interest }}</p>
        </div>
      </div>
      <div class="two fields" *ngIf="loan.with_interest">
        <div class="field">
          <label>Total Payables</label>
        </div>
        <div class="field">
          <p>{{ totalPayable | currency : "₱" }}</p>
        </div>
      </div>


      <h4 class="ui dividing header">Next Payment</h4>
      <div class="two fields">
        <div class="field">
          <label>Date</label>
        </div>
        <div class="field">
          <p>{{ nextPayment?.date | date:'longDate' }}</p>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Amount</label>
        </div>
        <div class="field">
          <p>{{ nextPayment?.amount | currency : "₱" }}</p>
        </div>
      </div>

      
    </div>
  </div>
  <div class="one wide column"></div>
  <div class="ten wide column ui segment" style="margin-top: 0">
      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>
    <form *ngIf="!mainLoader" class="ui form">
      <h4 class="ui dividing header">Loan Information</h4>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Employee</label>
        <p>{{ loan.employee?.first_name + ' ' + loan.employee?.last_name }}</p>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Payment Type</label>
          <select  class="ui dropdown" [(ngModel)]="loan.payment_type" name="payment_type" (change)="calculateLoan()">
            <option value="weekly" [selected]="true">Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>
        <div class="field">
          <label>Period</label>
          <input type="number" name="period" [(ngModel)]="loan.period" placeholder="0" (change)="calculateLoan()">
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': saving}">
          <label>Amount</label>
          <input type="text" name="amount" [(ngModel)]="loan.amount" placeholder="0" (change)="calculateLoan()">
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <label>Start at</label>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input type="date" name="start_date" [ngModel]="loan.start_date | date: 'yyyy-MM-dd'" (ngModelChange)="loan.start_date=$event" (change)="calculateLoan()">
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'disabled': !loan.with_interest}">
          <label>Interest Type</label>
          <select name="interest_type" [(ngModel)]="loan.interest_type" class="ui dropdown" (change)="changeInterestType($event.target.value)">
            <option value="percentage">Percentage</option>
            <option value="fixed_amount">Fixed Amount</option>
          </select>
        </div>
        <div class="field" *ngIf="loan.with_interest && loan.interest_type == 'fixed_amount'" (change)="calculateLoan()">
          <label>Interest</label>
          <input type="text" name="interest" [(ngModel)]="loan.interest" placeholder="0">
        </div>
        <div class="field" *ngIf="loan.with_interest && loan.interest_type == 'percentage'" (change)="changeInterestType('percentage')">
          <label>Percent</label>
          <input type="text" name="percentage" [(ngModel)]="loan.percentage" placeholder="0">
        </div>
      </div>
      <div class="field" [ngClass]="{'disabled': saving}">
        <input type="checkbox" tabindex="0" name="with_interest" [(ngModel)]="loan.with_interest"> &nbsp; with Interest
      </div>
    </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>




