<div>
  <div class="ui left floated main menu">
    <a routerLink="/payrolls" class="bug popup icon item" data-content="Edit This Page">
      <i class="angle left icon"></i>
      &nbsp;Back
    </a>
  </div>
	<button routerLink="/payroll-approvers/create" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
	</button>
</div>

<div class="clearfix">&nbsp;</div>
<div class="ui divider"></div>

<div *ngIf="mainLoader" class="ui six column stackable grid">
  <div *ngFor="let item of [0,1,2,3,4,5]" class="column">
    <div class="ui raised segment">
      <div class="ui placeholder">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="medium line"></div>
          <div class="short line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!mainLoader && approvers.length" class="ui six doubling cards">
  <div class="ui fluid card" *ngFor="let approver of approvers">
    <div class="image">
      <img src="{{ approver.employee?.photo | images :  {id: approver.employee?._id, type: 'user_avatar', gender: approver.employee?.gender} }}">
	</div>
    <div class="content" style="text-align: center; color: red" (click)="open(approver._id)">
      <i class="trash icon" style="color: red"></i>
      Remove
    </div>
  </div>
</div>

<div class="ui right floated pagination menu " *ngIf="paginator && paginator.pages > 1">
	<a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
		<i class="left chevron icon"></i>
	</a>
	<a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
	<a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
		<i class="right chevron icon"></i>
	</a>
</div>	

<div *ngIf="!approvers.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <i class="users icon"></i>
    No payroll approvers yet.
  </div>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>

