<div class="ui left floated main menu">
  <a routerLink="/attendances" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="clear clearfix">&nbsp;</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<div *ngIf="!mainLoader && !employees.length" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>There are no employees yet in your company.</p>
</div>

<div class="ui grid" style="padding: 15px" *ngIf="!mainLoader && employees.length">
    <div class="sixteen wide column ui segment">
        <form class="ui form">
          <h4 class="ui dividing header">Attendance Information</h4>
          <div class="three fields" [ngClass]="{'disabled': saving}">
            <div class="field" [ngClass]="{'disabled': saving}">
              <label>Name</label>
              <select name="employee_id" class="ui dropdown" [(ngModel)]="attendance.employee_id">
                <option *ngFor="let employee of employees" value="{{ employee._id }}"> {{ employee.first_name + ' ' + employee.last_name }} </option>
              </select>
            </div>

            <div class="field">
              <label>Salary Type</label>
              <select name="salary_type" class="ui dropdown" [(ngModel)]="attendance.salary_type">
                <option value="monthly-fixed">Fixed Monthly</option>
                <option value="bi-monthly-fixed">Fixed Bi-Weekly</option>
                <option value="weekly-fixed">Fixed Weekly</option>
                <option value="monthly">Monthly( Daily Computation )</option>
                <option value="bi-monthly">Bi-Weekly( Daily Computation )</option>
                <option value="weekly">Weekly( Daily Computation )</option>
              </select>
            </div>

            <div class="grouped fields" style="margin-left: 30px">
              <label>Other Settings</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="with_schedule" [(ngModel)]="attendance.with_schedule">
                  <label>With Schedule</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="with_break" [(ngModel)]="attendance.with_break">
                  <label>With Break</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="with_night_differential" [(ngModel)]="attendance.with_night_differential">
                  <label>With Night Differential</label>
                </div>
              </div>
            </div>

            <div class="grouped fields" >
              <label>&nbsp;</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="status" [(ngModel)]="attendance.status">
                  <label>Absent</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="with_ot" [(ngModel)]="attendance.with_ot">
                  <label>Overtime</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" value="1" name="on_leave" [(ngModel)]="attendance.on_leave">
                  <label>On Leave</label>
                </div>
              </div>
            </div>
          </div>  

          <div class="three fields" *ngIf="attendance.on_leave && !attendance.status">
            <div class="field">
              <label>Leave Type</label>
              <select name="leave_type" class="ui dropdown" [(ngModel)]="attendance.leave_type">
                <option value="EL">Emergency Leave</option>
                <option value="SL">Sick Leave</option>
                <option value="VL">Vacation Leave</option>
                <option value="ML">Maternity Leave</option>
                <option value="PL">Paternity Leave</option>
              </select>
            </div>
          </div>

          <div class="three fields">
            <div class="field" *ngIf="attendance.salary_type == 'monthly' || attendance.salary_type == 'bi-monthly' || attendance.salary_type == 'weekly'">
              <label>Daily Rate</label>
              <input type="number" name="daily_rate" [(ngModel)]="attendance.daily_rate">
            </div>
            <div class="field" *ngIf="attendance.with_ot">
              <label>Overtime Rate</label>
              <input type="number" name="ot_rate" [(ngModel)]="attendance.ot_rate">
            </div>
            <div class="field" *ngIf="attendance.with_night_differential">
              <label>Night Differential Percentage Rate</label>
              <input type="number" name="nd_rate" [(ngModel)]="attendance.nd_rate" >
            </div>
          </div>


          <div *ngIf="attendance.employee_id && attendance.with_schedule">
            <div class="two fields">
              <div class="field" *ngIf="!attendance.on_leave && !attendance.status">
                <label>Time-in</label>
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker
                        name="time_in"
                        autocomplete="off"
                        [(ngModel)]="attendance.time_in"
                        [pickerUseNativeOnMobile]="false"
                        >
                </div>
              </div>

              <div class="field">
                <label>Time-in Reference</label>
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker
                        name="time_in_ref"
                        autocomplete="off"
                        [(ngModel)]="attendance.time_in_ref"
                        [pickerUseNativeOnMobile]="false">
                </div>
              </div>
            </div>  
            
            <div class="two fields" >
              <div class="field" *ngIf="!attendance.on_leave && !attendance.status">
                <label>Time-out</label>
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker
                        name="time_out"
                        autocomplete="off"
                        [(ngModel)]="attendance.time_out"
                        [pickerUseNativeOnMobile]="false">
                </div>
              </div>

              <div class="field">
                <label>Time-out Reference</label>
                <div class="ui left icon input">
                  <i class="calendar icon"></i>
                  <input suiDatepicker
                        name="time_out_ref"
                        autocomplete="off"
                        [(ngModel)]="attendance.time_out_ref"
                        [pickerUseNativeOnMobile]="false">
                </div>
              </div>
            </div>  
          </div>        
        </form>
    </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="ui grid" style="padding: 15px" *ngIf="attendance.with_break && attendance.employee_id && attendance.with_schedule">
  <div class="sixteen wide column ui segment">
      <form class="ui form">
        <h4 class="ui dividing header">Second Time-in Information</h4>
          
        <div class="two fields" >
          <div class="field" *ngIf="!attendance.on_leave && !attendance.status">
            <label>Time-in after Break</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="time_in2"
                    autocomplete="off"
                    [(ngModel)]="attendance.time_in2"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>

          <div class="field">
            <label>Time-in after Break Reference</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="time_in2_ref"
                    autocomplete="off"
                    [(ngModel)]="attendance.time_in2_ref"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
        </div>  

        <div class="two fields" >
          <div class="field" *ngIf="!attendance.on_leave && !attendance.status">
            <label>Time-out</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="time_out2"
                    autocomplete="off"
                    [(ngModel)]="attendance.time_out2"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>

          <div class="field">
            <label>Time-out Reference</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="time_out2_ref"
                    autocomplete="off"
                    [(ngModel)]="attendance.time_out2_ref"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
        </div>  

      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="ui grid" style="padding: 15px" *ngIf="attendance.status != 1 && attendance.with_ot">
  <div class="sixteen wide column ui segment">
      <form class="ui form">
        <h4 class="ui dividing header">Overtime</h4>
          
        <div class="two fields" >
          <div class="field">
            <label>Overtime Time-in</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="ot_in"
                    autocomplete="off"
                    [(ngModel)]="attendance.ot_in"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>

          <div class="field">
            <label>Overtime Time-in Reference</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="ot_in_ref"
                    autocomplete="off"
                    [(ngModel)]="attendance.ot_in_ref"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
        </div>  

        <div class="two fields" >
          <div class="field">
            <label>Overtime Time-out</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="ot_out"
                    autocomplete="off"
                    [(ngModel)]="attendance.ot_out"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>

          <div class="field">
            <label>Overtime Time-out Reference</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="ot_out_ref"
                    autocomplete="off"
                    [(ngModel)]="attendance.ot_out_ref"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
        </div>  

      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="ui grid" style="padding: 15px" *ngIf="attendance.status != 1 && attendance.with_night_differential">
  <div class="sixteen wide column ui segment">
      <form class="ui form">
        <h4 class="ui dividing header">Night Differential</h4>
          
        <div class="two fields" >
          <div class="field">
            <label>Night Differential Time-in Reference</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="nd_in_ref"
                    autocomplete="off"
                    [(ngModel)]="attendance.nd_in_ref"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>

          <div class="field">
            <label>Night Differential Time-out Reference</label>
            <div class="ui left icon input">
              <i class="calendar icon"></i>
              <input suiDatepicker
                    name="nd_out_ref"
                    autocomplete="off"
                    [(ngModel)]="attendance.nd_out_ref"
                    [pickerUseNativeOnMobile]="false">
            </div>
          </div>
        </div> 

      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>

    <button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="save()">{{ saving ? 'Saving...' : 'Save' }}</button>
  </div>
</div> 