<h2 class="ui header" *ngIf="!canViewOthers">
  <img src="{{ loggedUser.photo | images : {id: loggedUser._id, type: 'user_avatar', gender: loggedUser.gender} }}" class="ui circular image" style="margin-right: 10px">
  {{ loggedUser.first_name + ' ' + loggedUser.last_name }}
</h2>

<div class="ui left floated main menu" *ngIf="canViewOthers">
  <a routerLink="/payrolls" class="bug popup icon item" data-content="Edit This Page">
    <i class="angle left icon"></i>
    &nbsp;Back
  </a>
</div>

<div class="ui action left icon input"  style="float: right" *ngIf="canViewOthers">
  <form class="ui form">
    <div class="field" [ngClass]="{'disabled': empLoader}">
      <select name="emp_id" [(ngModel)]="params.user_id" class="ui dropdown" [ngClass]="{'disabled': empLoader}">
        <option value="">All Employees</option>
        <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee?.first_name + ' ' + employee?.last_name }}</option>
      </select>
    </div>
  </form>
  <button class="ui button right floated primary" [ngClass]="{'disabled': searching}" (click)="get()" style="margin-left: 10px">Go</button>
</div>
<div class="clear clearfix"></div>

<div class="ui divider"></div>
<!-- PLACEHOLDER -->
<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<!-- NO RESULTS?? -->
<div *ngIf="!mainLoader && !results_count" class="ui message">
  <div class="header">
    No Results
  </div>
  <p>No payslips found.</p>
</div>

<table *ngIf="!mainLoader && payslips.length" class="ui compact celled table">
	<thead class="full-width">
        <tr>
          <th *ngIf="canViewOthers">Employee</th>
          <th>Payroll</th>
          <th>Income</th>
          <th>Deductions</th>
          <th>Net Pay</th>
          <th width="50"></th>
        </tr>
	</thead>

	<tbody>
    <tr *ngFor="let payslip of payslips">
      <td *ngIf="canViewOthers">
        <h4 class="ui image header">
          <img [routerLink]="['/employees/' + payslip.employee?._id]" class="ui mini rounded image"
            src="{{ payslip.employee?.photo | images :  {id: payslip.employee?._id, type: 'user_avatar', gender: payslip.employee?.gender} }}"
            >
          <div class="content">
            <a [routerLink]="['/employees/' + payslip.employee?._id]" href="#">{{ payslip.employee?.first_name + ' ' + payslip.employee?.last_name }}</a>
            <div class="sub header">{{ payslip.employee.job_title ? payslip.employee.job_title : 'Unspecified' }}</div>
          </div>
        </h4>
      </td>
      <td>
          <h4 class="ui header">
            {{ payslip.payroll?.name }}
            <div class="sub header">
              {{ payslip.payroll?.pay_period_from | date }} - {{ payslip.payroll?.pay_period_to | date }}
            </div>
          </h4>
      </td>
      <td>{{ payslip?.total_incomes | currency:'₱' }}</td>
      <td>{{ payslip?.total_deductions | currency:'₱' }}</td>
      <td>{{ payslip?.overall_total | currency:'₱' }}</td>
      <td class="center aligned ">
        <div class="ui right floated main menu">
          <a [routerLink]="['/payslips/' + payslip._id + '/show']" class="popup icon item" data-content="Submit Bug Report" href="#">
            <i class="folder open outline icon"></i>
          </a>
        </div>
      </td>
    </tr>
    
	</tbody>	
</table>

<div class="ui right floated pagination menu" *ngIf="paginator && paginator.pages > 1">
  <a class="icon item" *ngIf="paginator.hasPrev" (click)="prevPage()">
    <i class="left chevron icon"></i>
  </a>
  <a *ngFor="let displayPage of paginator.displayPages" class="item" [class.active]="paginator.currrentPage == displayPage" (click)="goToPage(displayPage)">{{ displayPage }}</a>
  <a class="icon item" *ngIf="paginator.hasNext" (click)="nextPage()">
    <i class="right chevron icon"></i>
  </a>
</div>