<div class="ui grid" style="padding: 15px">
  <div class="sixteen wide column ui segment">

      <div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

      <form *ngIf="!mainLoader" class="ui form">
        <h4 class="ui dividing header">Social Information</h4>
        <div class="five fields" [ngClass]="{'disabled': saving}">
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Linkedin</label>
            <input type="text" name="linkedin" [(ngModel)]="employee.linkedin" placeholder="">
          </div><div class="field" [ngClass]="{'disabled': saving}">
            <label>Facebook</label>
            <input type="text" name="facebook" [(ngModel)]="employee.facebook" placeholder="">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Instagram</label>
            <input type="text" name="instagram" [(ngModel)]="employee.instagram" placeholder="">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
            <label>Twitter</label>
            <input type="text" name="twitter" [(ngModel)]="employee.twitter" placeholder="">
          </div>
          <div class="field" [ngClass]="{'disabled': saving}">
              <label>Skype</label>
              <input type="text" name="skype" [(ngModel)]="employee.skype" placeholder="">
            </div>
        </div>
        
      </form>
  </div> <!-- END first column  -->
</div> <!-- END second column ui grid form  -->


<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
	<div class="button-wrap">

		<div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
			<div class="ui positive message" *ngIf="successMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Success</div>
				<p [innerHTML]="successMsg"></p>
			</div>

			<div class="ui negative message" *ngIf="errorMsg">
				<i class="close icon" (click)="isCloseMsg=true"></i>
				<div class="header">Error</div>
				<p [innerHTML]="errorMsg"></p>
			</div>
		</div>

		<button class="ui button right floated primary" [ngClass]="{'disabled': saving}" (click)="update()">{{ saving ? 'Saving...' : 'Save' }}</button>
	</div>
</div>
