<div *ngIf="withPerm">
	<button routerLink="/quotes/create" class="ui primary button right floated" >
		<i class="icon add"></i>
		Add
  </button>
  
  <div class="clearfix">&nbsp;</div>
  <div class="ui divider"></div>
</div>

<div *ngIf="mainLoader">
  <div *ngFor="let item of [0,1,2,3,4,5,6,7,9,9]"  class="ui placeholder">
    <div class="image header">
      <div class="medium line"></div>
      <div class="full line"></div>
    </div>
  </div>
</div>

<div *ngIf="mainLoader" class="ui active text centered inline loader main-content-loader" style="margin: 50px auto;">Loading..</div>

<table *ngIf="!mainLoader && quotes.length" class="ui compact celled table attendance-table-wrap">
	<thead class="full-width">
    <tr>
      <th>Quote</th>
      <th width="50px" *ngIf="withPerm"></th>
    </tr>
	</thead>

	<tbody>
    <tr *ngFor="let quote of quotes">
      <td>{{ quote.quote }}</td>
      <td class="center aligned" *ngIf="withPerm">
        <div class="ui right floated main menu">
          <a [routerLink]="['/quotes/' + quote._id + '/edit']" class="bug popup icon item" data-content="Edit This Page" href="#">
            <i class="edit icon"></i>
          </a>
          <a class="bug popup icon item" data-content="Edit This Page" (click)="open(quote._id)">
            <i class="trash icon"></i>
          </a>
        </div>
      </td>
    </tr>
	</tbody>
    
</table>

<div *ngIf="!quotes.length && !mainLoader" class="ui placeholder segment" style="text-align: center; margin-top: 0px">
  <div class="ui icon header">
    <div style="display: inline-flex;">
      <i class="quote left icon"></i>
      &nbsp; &nbsp; &nbsp;
      <i class="quote right icon"></i> 
    </div>
  </div>
  <span class="bold" style="font-size: 18px;">No quotes from your company.</span>
</div>

<div class="clear clearfix">&nbsp;</div>
<div class="footer clear clearfix">
  <div class="button-wrap">

    <div *ngIf="!isCloseMsg" style="margin-bottom: 10px">
      <div class="ui positive message" *ngIf="successMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Success</div>
        <p [innerHTML]="successMsg"></p>
      </div>

      <div class="ui negative message" *ngIf="errorMsg">
        <i class="close icon" (click)="isCloseMsg=true"></i>
        <div class="header">Error</div>
        <p [innerHTML]="errorMsg"></p>
      </div>
    </div>
  </div>
</div>