<div class="ui inverted vertical footer segment">
  <div class="ui left aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="three wide column">
        <h4 class="ui inverted header title" style="text-align: left">MODULES</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header title" style="text-align: left">RESOURCES</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">FAQs</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header title" style="text-align: left">CONTACT US</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header title" style="text-align: left">COMPANY INFO</h4>
        <p>
          Address: Room 203, 2nd Floor, GTBI Building, WVSU,
          La Paz Iloilo City, Philippines 5000
        </p>

        <p>
          Email: sales@QloudHR.com
        </p>

        <p>
          Phone: +63 919 683 6445
        </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="/assets/images/QloudHR-logo.png" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list" style="text-align: center; width: 100%">
      <a class="item" routerLink="/contact-us">Contact Us</a>
      <a class="item" routerLink="/terms-and-conditions" >Terms and Conditions</a>
      <a class="item" routerLink="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</div>